{% extends "@layout/layout.twig" %}

{% block title __('Hangende aanmeldingen') ~ ' ::  '~ parent() %}

{% block content %}
{% if message %}
	<div class="warning-section">
		<p>{{ message }}</p>
	</div>
{% endif %}

<div class="messageBox">
	<p>After a new student signs up for Cover through the online registration form, they have to confirm their email address. Until they clicked the link<sup>3</sup> in the confirmation email that was send when they finished filling in the form, their registration is stuck here.</p>
	<p>Unfortunately, not everyone confirms their email address, and some don't even receive the initial confirmation mail. That is why this page exists. Here you can take one of the following steps:</p>
	<p><strong>Before you do any of these steps, please confirm that the student didn't already finish their registration at a different moment by checking <a href="https://secretary.svcover.nl/" target="_blank">Secretary</a>.</strong></p>
	<ul>
		<li>Re-send the confirmation email</li>
		<li>Copy the link from the confirmation email. With that link, you can either</li>
		<ul>
			<li>Use the email address mentioned here to send them a personal mail with the link so they can click it</li>
			<li>Copy &amp; paste the link yourself in your browser to confirm <em>their</em> registration.</li>
		</ul>
		<li>Delete a registration when a the person is already a member (e.g. they finished their registration at a different moment)</li>
		<li>Delete duplicate registrations (note that the links in the confirmation emails for those registrations then won't work any more)</li>
		<li>Force push the registration to Secretary. This will skip the whole email confirmation procedure.</li>
	</ul>
</div>

<h1>{{ __('Hangende aanmeldingen') }}</h1>
<div class="messageBox">
	<form method="post" action="">
		{{ html_nonce('pending') }}
		<table class="full-width-table">
			<col>
			<col>
			<col>
			<col>
			<thead>
				<tr class="header">
					<th></th>
					<th>{{ __('Naam') }}</th>
					<th>{{ __('Email') }}</th>
					<th>{{ __('Aangemeld op') }}</th>
					<th>{{ __('Bevestigingslink') }}<sup>3</sup></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for row in registrations %}
					<tr>
						<td><input type="checkbox" name="confirmation_code[]" value="{{ row.confirmation_code|e('html_attr') }}"></td>
						<td>
							{{ view.full_name(row) }}
							{{ view.search_link_for_full_name(row)|raw }}
						</td>
						<td>
							{{ row.data.email_address }}
							{{ view.search_link_for_email_address(row)|raw }}
						</td>
						<td>{{ row.registered_on|date }}</td>
						{% if row.confirmed_on %}
							<td>Confirmed<sup>2</sup></td>
						{% else %}
							<td><input type="text" value="{{ 'https://www.svcover.nl/lidworden.php?confirmation_code=%s'|format(row.confirmation_code|e('url'))|e('html_attr') }}"></td>
						{% endif %}
						<td>
							<a href="lidworden.php?view=pending-confirmation&amp;confirmation_code={{ row.confirmation_code|e('url') }}" class="edit-link"></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="controls">
			<button name="action" value="resend" class="button">Resend confirmation mail</button>
			or <button name="action" value="push" class="button">Push to Secretary<sup>1</sup></button>
			or <button name="action" value="delete" class="button">Cancel registrations</button>
			of the selected names
		</div>
	</form>
</div>

<div class="messageBox">
	<p><sup>1</sup> This will push the registrations to Secretary even when they have not been confirmed yet by clicking on the confirmation link. Normally, this happens automatically as soon as a registration is confirmed.</p>
	<p><sup>2</sup> The registration has been confirmed and sent to administratie@svcover.nl, but could not yet be added to Secretary due to an error. You can try again by using the <em>Push to secretary</em> option, or ask the AC/DCee to fix their shit.</p>
	<p><sup>3</sup> The registration link is the link that new members get sent via email as soon as they sign up through the website. They will first need to click this link to confirm their email address. Only then they are added to Secretary as pending new members. Following this link will confirm the registration.</p>
</div>
{% endblock %}