{% extends '@layout/layout.twig' %}

{% block title (iter.has_id ? __('Modify board') : __('Add a new board')) ~ ' :: ' ~ parent() %}

{% block content %}
<h1>{{ iter.has_id ? __('Modify board') : __('Add a new board') }}</h1>
<div class="messageBox">
	<form method="post" action="{{ view.get_form_action(iter) }}" class="vertical-form">
		{% if iter.has_id %}
			{{ html_nonce('update', iter) }}
		{% else %}
			{{ html_nonce('create', iter) }}
		{% endif %}
		
		<div>
			{{ html_label(__('Board name'), 'naam', errors=errors, required=true) }}
			{{ html_input_text('naam', iter, required='required', placeholder='Board XXII') }}
		</div>

		<div>
			{{ html_label(__('Sort order name'), 'login', errors=errors, required=true) }}
			{{ html_input_text('login', iter, required='required', placeholder='bestuur22') }}
			<p>{{ __('This value is not visible and is solely used for determining the order of the boards.') }}</p>
		</div>		

		<div>
			<button type="submit" class="button">{{ iter.has_id ? __('Modify board') : __('Add board') }}</button>
			<a href="{{ controller.link_to_index() }}">{{ __('Back to the former boards') }}</a>
		</div>
	</form>
</div>
{% endblock %}