{% extends '@layout/layout.twig' %}

{% block title __('Former boards') ~ ' :: ' ~ parent() %}

{% block content %}

{{ include('@layout/editable.twig', {'editable': global.models.Editable.get_iter_from_title('Oudbesturenpagina')}) }}

{% if user_can_create controller.new_iter %}
	<div class="level">
		<div class="level-left">
			<a href="{{ controller.link_to_create() }}" class="button">{{ __('Add a new board...') }}</a>
		</div>
	</div>
{% endif %}

<div class="columns is-multiline">
{% for bestuur in iters %}
	<div class="column is-half">
		<article class="card">
			<header class="card-header">
				<h2 class="card-header-title">{{ bestuur.page.get_title }}</h2>
			</header>

			{% if view.has_bestuursfoto(bestuur) %}
				<div class="card-image">
					<figure class="image">
						<img src="{{ view.get_bestuursfoto(bestuur) }}" alt="Photo of {{ bestuur.page.get_title }}">
					</figure>
				</div>
			{% endif %}

			<div class="card-content">
				<div class="content">
					{{ view.parse_bestuursfoto(bestuur, bestuur.page.locale_content|parse_markup)|raw }}
				</div>
			</div>

			{% if user_can_update bestuur or user_can_update bestuur.page%}
				<footer class="card-footer">
					{% if user_can_update bestuur %}
						<a href="{{ controller.link_to_update(bestuur) }}" class="card-footer-item">{{ __('Modify board') }}</a>
					{% endif %}
					{% if user_can_update bestuur %}
						<a href="{{ link('editable.update', editable=bestuur.page) }}" class="card-footer-item">{{ __('Modify content') }}</a>
					{% endif %}
				</footer>
			{% endif %}
		</article>
	</div>
{% endfor %}
</div>

<div class="card">
	<div class="card-content">
		{{ include('@layout/editable.twig', {'editable': global.models.Editable.get_iter_from_title('Oprichting Cover')}) }}
	</div>
</div>
{% endblock %}