{% extends '@theme/homepage/_card.twig' %}

{% block name 'agenda' %}

{% block title __('Calendar') %}

{% block content %}
{% set agenda_items = view.layout.agenda %}

{% if agenda_items|length > 0 %}
	<ol cl>
		{% for item in agenda_items|slice(0, 3) %}
			<div class="card"> 
			<li class="by-committee-{{item.committee.login}}">
			
				<a href="agenda.php?agenda_id={{ item.id }}">
					<h3 class="title is-4">{{ item.kop }}</h3>
					<div class="calendar-icon">
						<span class="month">{{ item.van|date('M') }}</span>
						<span class="day">{{ item.van|date('d') }}</span>
					</div>
					{% if item.extern %}
						<span class="details">{{ __('External activity') }}</span>
					{% else %}
						<span class="details">{{ item|period_short }}</span>
					{% endif %}
					{% if item.is_proposal() %}
						<span class="label-pending">{{ __('Not yet published') }}</span>
					{% endif %}
				</a>
				
			</li>
			</div>
		{% endfor %}
	</ol>
{% else %}
	<p class=container-fancy>{{ __('There are no activities on the calendar at the moment.') }}</p>
{% endif %}

{% endblock %}

{% block footer %}
	<a href="agenda.php" class="card-footer-item">{{ __('Complete calendar') }}</a>
{% endblock %}
