{% extends '@layout/layout.twig' %}

{% block page %}
<section class="section">
	{% set editable = global.models.Editable.get_iter_from_title('Startpagina') %}
	<article class="container is-content-optimized">
		<div class="level">
		    <div class="level-left">
		        <h1 class="title">{{ editable.get_title }}</h1>
		    </div>
		    {% if user_can_update editable %}
		        <div class="buttons level-right">
		            <a href="{{ link('editable.update', editable=editable) }}" class="button">
		                <span class="icon is-small">
		                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
		                </span>
		                <span>
		                    {{ __('Modify introduction') }}
		                </span>
		            </a>
		        </div>
		    {% endif %}
		</div>
		<div class="content">
			{{ editable.locale_content|parse_markup }}
		</div>
	</article>
</section>

<section class="section">
	{# <div class="bannerRotator">
	{% for banner in global.models.Banner.get_from_file('images/sponsors/data.json') %}
		<a href="{{ banner.url|e('html_attr') }}"><img src="images/sponsors/{{ banner.filename|e('url') }}" class="frontpage_banner"></a>
	{% endfor %}
	</div> #}
	<div class="container columns is-centered"> 
	<div>
		{#<div class="column is-one-third-desktop is-one-quarter-widescreen is-one-quarter-widescreen">#}
		<div>
			{{ include('@theme/homepage/_agenda.twig') }} The calendar
		</div>	
			{#{{ include('@theme/homepage/_birthdays.twig') }}#}
			{#{{ include('@theme/homepage/_poll.twig') }}#}
		</div>
		<div class="column is-content-optimized">
			{{ include('@theme/announcements/announcements.twig', {
				'controller': global.controllers.announcements,
				'model': global.models.Announcement,
				'policy': global.policies.Announcement,
				'iters': global.models.Announcement.get_latest()
			}) }}
		</div>
	</div>
</section>
{% endblock %}