{% extends '@layout/layout.twig' %}

{% block page %}
<section>
	{% set editable = global.models.Editable.get_iter_from_title('Startpagina') %}
	<article class="container is-content-optimized">
		<div class="level">
		{# Delete the title #}
		    {% if user_can_update editable %}
		        <div class="buttons level-right">
		            <a href="{{ link('editable.update', editable=editable) }}" class="button">
		                <span class="icon is-small">
		                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
		                </span>
		                <span>
		                    {{ __('Modify introduction') }}
		                </span>
		            </a>
		        </div>
		    {% endif %}
		</div>
	</article>
</section>	

<section class="sectionMargin">
	<div class="containerMinimised is-centered"> 
        	<div class="calendar">
			{{ include('@theme/homepage/_agenda.twig') }}
			</div>
	</div>
	
	<div class="containerMinimised is-centered">
			<h1 class="title">{{ editable.get_title }}</h1>
	</div>

	<article class="message is-dark">
  		<div class="message-body">
  			{{ editable.locale_content|parse_markup }}
  		</div>
	</article>
</section>

<section class="columns is-centered test is-variable is-8">
			<div class="column is-one-third">
				<div class="card">
		<div class="card-image">
			<figure class="image is-4by3">
			<img src="https://www.svcover.nl/fotoboek.php?view=scaled&photo=54589&width=1600&height=1600" alt="Placeholder image">
			</figure>
		</div>
		<div class="card-content">
			<div class="media">
			<div class="media-left">
				<figure class="image is-48x48">
				<img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
				</figure>
			</div>
			<div class="media-content">
				<p class="title is-4">John Smith</p>
				<p class="subtitle is-6">@johnsmith</p>
			</div>
			</div>

			<div class="content">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Phasellus nec iaculis mauris. <a>@bulmaio</a>.
			<a href="#">#css</a> <a href="#">#responsive</a>
			<br>
			<time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
			</div>
		</div>
		</div>
			</div>
			<div class="column is-one-third">
			<div class="card">
		<div class="card-image">
			<figure class="image is-4by3">
			<img src="https://www.svcover.nl/fotoboek.php?view=scaled&photo=53517&width=1600&height=1600" alt="Placeholder image">
			</figure>
		</div>
		<div class="card-content">
			<div class="media">
			<div class="media-left">
				<figure class="image is-48x48">
				<img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
				</figure>
			</div>
			<div class="media-content">
				<p class="title is-4">John Smith</p>
				<p class="subtitle is-6">@johnsmith</p>
			</div>
			</div>

			<div class="content">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Phasellus nec iaculis mauris. <a>@bulmaio</a>.
			<a href="#">#css</a> <a href="#">#responsive</a>
			<br>
			<time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
			</div>
		</div>
		</div></div>
			<div class="column is-one-third">
			<div class="card">
		<div class="card-image">
			<figure class="image is-4by3">
			<img src="https://www.svcover.nl/fotoboek.php?view=scaled&photo=54581&width=1600&height=1600" alt="Placeholder image">
			</figure>
		</div>
		<div class="card-content">
			<div class="media">
			<div class="media-left">
				<figure class="image is-48x48">
				<img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
				</figure>
			</div>
			<div class="media-content">
				<p class="title is-4">John Smith</p>
				<p class="subtitle is-6">@johnsmith</p>
			</div>
			</div>

			<div class="content">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Phasellus nec iaculis mauris. <a>@bulmaio</a>.
			<a href="#">#css</a> <a href="#">#responsive</a>
			<br>
			<time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
			</div>
		</div>
		</div>
			</div>
</section>

<section class="section">

</section>

<section class="hero is-medium has-carousel">
			<div id="carousel-demo" class="hero-carousel">
				<div class="item-1">
					<!-- Slide Content -->
					dsdsdsd
				</div>
				<div class="item-2">
					<!-- Slide Content -->
					dsdsd
				</div>
				<div class="item-3">
					<!-- Slide Content -->
					dsdsds
				</div>
			</div>
			<div class="hero-head"></div>
			<div class="hero-body"></div>
			<div class="hero-foot"></div>
</section>



<section class="section">
	{# <div class="bannerRotator">
	{% for banner in global.models.Banner.get_from_file('images/sponsors/data.json') %}
		<a href="{{ banner.url|e('html_attr') }}"><img src="images/sponsors/{{ banner.filename|e('url') }}" class="frontpage_banner"></a>
	{% endfor %}
	</div> #}

	 <div class="container columns is-centered"> 
		{#<div class="column is-one-third-desktop is-one-quarter-widescreen is-one-quarter-widescreen">#}
		<div>
			{#{{ include('@theme/homepage/_agenda.twig') }}#}
		</div>	
			{#{{ include('@theme/homepage/_birthdays.twig') }}#}
			{#{{ include('@theme/homepage/_poll.twig') }}#}
		</div>
		{#<div class="column is-content-optimized">
			{{ include('@theme/announcements/announcements.twig', {
				'controller': global.controllers.announcements,
				'model': global.models.Announcement,
				'policy': global.policies.Announcement,
				'iters': global.models.Announcement.get_latest()
			}) }}
		</div>#}
	</div>
</section>
{% endblock %}
