{% extends '@layout/layout.twig' %}

{% block content %}

{% set editable = global.models.Editable.get_iter_from_title('Startpagina') %}
<div class="pageheading">
	{% if user_can_update editable %}
	<div class="controls inline">
		<a href="{{ link('editable.update', editable=editable) }}" class="edit-link">{{ __('Modify introduction') }}</a>
	</div>
	{% endif %}
	<h1>{{ editable.get_title }}</h1>
</div>
<div class="messageBox">
{{ editable.locale_content|parse_markup }}
</div>

<div class="bannerRotator">
{% for banner in global.models.Banner.get_from_file('images/sponsors/data.json') %}
	<a href="{{ banner.url|e('html_attr') }}"><img src="images/sponsors/{{ banner.filename|e('url') }}" class="frontpage_banner"></a>
{% endfor %}
</div>

{{ include('@theme/announcements/announcements.twig', {
	'controller': global.controllers.announcements,
	'model': global.models.Announcement,
	'policy': global.policies.Announcement,
	'iters': global.models.Announcement.get_latest()
}) }}

{% endblock %}