{% extends '@layout/layout.twig' %}

{% block content %}

{% set editable = global.models.Editable.get_iter_from_title('Startpagina') %}
<div class="pageheading">
	{% if user_can_update editable %}
	<div class="controls inline">
		<a href="{{ link('editable.update', editable=editable) }}" class="edit-link">{{ __('Bewerk introductie') }}</a>
	</div>
	{% endif %}
	<h1>{{ editable.get_title }}</h1>
</div>
<div class="messageBox">
{{ editable.locale_content|parse_markup }}
</div>

{{ include('@theme/announcements/announcements.twig', {
	'controller': global.controllers.announcements,
	'model': global.models.Announcement,
	'policy': global.policies.Announcement,
	'iters': global.models.Announcement.get_latest()
}) }}

{% endblock %}