{% extends '@layout/layout.twig' %}

{% block title iter.get_title ~ ' :: ' ~ parent() %}

{% block content %}
<div class="pageheading">
	{% if user_can_update iter %}
	<div class="controls inline">
		<a href="{{ controller.link_to_update(iter) }}" class="edit-link">{{ __('Modify page') }}</a>
	</div>
	{% endif %}
	<h1>{{ iter.get_title }}</h1>
</div>
<div class="messageBox markup-region" id="page_{{ iter.id }}">
	{{ iter.locale_content|parse_markup }}
	{% if iter.last_modified %}
		<footer class="last-modified">
			<p>{{ __('Last updated: %s')|format(iter.last_modified|date_relative) }}</p>
		</footer>
	{% endif %}
</div>
{% endblock %}