{% extends '@layout/layout.twig' %}

{% block title iter.get_title ~ ' &ndash; ' ~ parent() %}

{% block content %}
<div class="level">
	<div class="level-left">
		<h1 class="title">{{ iter.get_title }}</h1>
	</div>
	{% if user_can_update iter %}
		<div class="buttons level-right">
			<a href="{{ controller.link_to_update(iter) }}" class="button">
				<span class="icon is-small">
					<i class="fas fa-pencil-alt" aria-hidden="true"></i>
				</span>
				<span>
					{{ __('Modify page') }}
				</span>
			</a>
		</div>
	{% endif %}
</div>

<div class="content" id="page_{{ iter.id }}">
	{{ iter.locale_content|parse_markup }}
</div>

{% if iter.last_modified %}
	<footer class="last-modified">
		<p>{{ __('Last updated: %s')|format(iter.last_modified|date_relative) }}</p>
	</footer>
{% endif %}

{% endblock %}