{% extends '@layout/layout.twig' %}

{% block title iter.titel ~ ' :: ' ~ parent() %}

{% block content %}
<div class="pageheading">
	{% if user_can_update iter %}
	<div class="controls inline">
		<a href="{{ controller.link_to_update(iter) }}" class="edit-link">{{ __('Bewerk pagina') }}</a>
	</div>
	{% endif %}
	<h1>{{ iter.titel }}</h1>
</div>
<div class="messageBox" id="page_{{ iter.id }}">
	{{ iter|parse_editable }}
</div>
{% endblock %}