<header class="card-header">
	<h3 class="card-header-title">{{ __('Multiple choice question') }}</h3>
	{# Ugh. Want this in form_form.twig #}
	<div class="card-header-icon sortable-drag-handle" title="Drag me to reorder"></div>
</header>
<div class="card-content">
	<div class="field">
		{{ html_label('Label above the options', 'description', errors=errors, id='field-' ~ name ~ '-description') }}
		<div class="control">
			{{ html_input_text('description', data, errors=errors, for='field-' ~ name ~ '-description') }}
		</div>
	</div>
	<div class="field">
		<label for="field-{{ name }}-options" class="label">{{__('Options')}}</label>
		<ol data-growing-list id="field-{{ name }}-options">
			{% for option in data.options %}
				<li class="field">
					<span class="drag-handle"></span>
					{{ html_input_text('options[]', data, field='options['~ loop.index0 ~']', id='field-' ~ name ~ '-option-' ~ loop.index0) }}
				</li>
			{% endfor %}
			<li class="field" data-template>
				<span class="drag-handle"></span>
				<input class="input" type="text" name="options[]">
			</li>
		</ol>
	</div>
	<div class="field">
		<div class="control">
			{{ html_input_checkbox('allow_multiple', data, errors=errors, id='field-' ~ name ~ '-allow-multiple', label=__('Allow multiple options to be picked')) }}
		</div>
	</div>
	<div class="field">
		<div class="control">
			{{ html_input_checkbox('required', data, errors=errors, id='field-' ~ name ~ '-required', label=__('Picking an option is mandatory')) }}
		</div>
	</div>
</div>