{% extends '@layout/layout.twig' %}

{% block title __('Oud-besturen') ~ ' :: ' ~ parent() %}

{% block content %}
<div class="timeline-container">
	<div class="timeline-line"></div>
	<div class="timeline">
		<div class="timeline-event has-header">
			{% set introduction = global.models.Editable.get_iter_from_title('Oudbesturenpagina') %}
			{{ include('@layout/editable.twig', {'editable': introduction}) }}
		</div>
	{% for bestuur in iters %}
		<div id="{{ bestuur.login }}" class="bestuur timeline-event has-header">
			<div class="pageheading">
				{% if user_can_update bestuur %}
				<div class="controls inline">
					<a href="{{ controller.link_to_update(bestuur) }}">
						<img src="{{ link_static('images/edit.png') }}" alt="{{ __('bewerken') }}" title="{{ __('Bestuur bewerken') }}">
					</a>
				</div>
				{% endif %}
				<h1>{{ bestuur.page.get_title }}</h1>
			</div>
			<div class="messageBox">
				{% if view.has_bestuursfoto(bestuur) %}
					<img class="board-photo" src="{{ view.get_bestuursfoto(bestuur) }}" width="100%%">
				{% endif %}
				{% if user_can_update bestuur.page %}
				<div class="controls inline">
					<a href="{{ link('editable.update', editable=bestuur.page) }}">
						<img src="{{ link_static('images/edit.png') }}" alt="{{ __('bewerken') }}" title="{{ __('Pagina bewerken') }}">
					</a>
				</div>
				{% endif %}
				<div class="content">
					{{ view.parse_bestuursfoto(bestuur, bestuur.page.locale_content|parse_markup)|raw }}
				</div>
			</div>
		</div>
	{% endfor %}

	<div class="timeline-event full-width">
		{% set foundation = global.models.Editable.get_iter_from_title('Oprichting Cover') %}
		{{ include('@layout/editable.twig', {'editable': foundation}) }}
	</div>

	{% if user_can_create controller.new_iter %}
		<div class="timeline-footer">
			<a href="{{ controller.link_to_create() }}" class="add-new-bestuur button">{{ __('Nieuw bestuur toevoegen...') }}</a>
		</div>
	{% endif %}
	</div>
</div>
{% endblock %}