{% extends '@layout/layout.twig' %}

{% block title __('Mededeling verwijderen') ~ ' :: ' ~ parent() %}

{% block content %}
<h1>{{ __('Mededeling verwijderen') }}</h1>
<div class="messageBox">
	<form method="post" action="announcements.php?view=delete&amp;id={{ iter.id }}" class="vertical-form">
		<p>{{ __('Weet je heel zeker dat je de mededeling <em>%s</em> wil verwijderen?')|format(iter.subject|e('html'))|raw }}</p>
		<div>
			<button type="submit" class="button">{{ __('Verwijder mededeling') }}</button>
			<a href="announcements.php?view=read&amp;id={{ iter.id }}">{{ __('Terug naar mededeling') }}</a>
		</div>
	</form>
</div>
{% endblock %}