{% extends '@layout/layout.twig' %}

{% block title (iter.has_id ? __('Mededeling wijzigen') : __('Nieuwe mededeling plaatsen')) ~ ' :: ' ~ parent() %}

{% block content %}
<h1>{{ iter.has_id ? __('Mededeling wijzigen') : __('Nieuwe mededeling plaatsen') }}</h1>
<div class="messageBox announcement">
	<form method="post" action="{{ view.get_form_action(iter) }}" class="vertical-form" data-partial-selector=".announcement" data-placement-selector=".announcement">
		{% if iter.has_id %}
			{{ html_nonce('update', iter) }}
		{% else %}
			{{ html_nonce('create', iter) }}
		{% endif %}
		
		<div>
			{{ html_label(__('Plaats namens commissie'), 'committee_id', errors=errors, required=true) }}
			{{ html_select_field('committee_id', view.get_committee_options(iter), iter.data) }}
		</div>

		<div>
			{{ html_label(__('Zichtbaar voor'), 'visibility', errors=errors, required=true) }}
			{{ html_select_field('visibility', view.get_visibility_options(), iter.data) }}
		</div>		

		<div>
			{{ html_label(__('Onderwerp'), 'subject', errors=errors, required=true) }}
			{{ html_input_text('subject', iter.data, 'required', 'required') }}
		</div>

		<div>
			{{ html_label(__('Bericht'), 'message', errors=errors, required=true) }}
			{{ html_textarea_field('message', iter.data, errors=errors, rows=10) }}
		</div>

		<div>
			<button type="submit" class="button">{{ iter.has_id ? __('Wijzig mededeling') : __('Plaats mededeling') }}</button>
			{% if iter.has_id %}
			<a href="{{ controller.link_to_read(iter) }}">{{ __('Terug naar mededeling') }}</a>
			{% else %}
			<a href="{{ controller.link_to_index() }}">{{ __('Terug naar alle mededelingen') }}</a>
			{% endif %}
		</div>
	</form>
</div>
{% endblock %}