{% extends '@layout/layout.twig' %}

{% block title (iter.has_id ? __('Modify announcement') : __('Add a new announcement')) ~ ' :: ' ~ parent() %}

{% block content %}
<h1>{{ iter.has_id ? __('Modify announcement') : __('Add a new announcement') }}</h1>
<div class="messageBox announcement">
	<form method="post" action="{{ view.get_form_action(iter) }}" class="vertical-form">
		{% if iter.has_id %}
			{{ html_nonce('update', iter) }}
		{% else %}
			{{ html_nonce('create', iter) }}
		{% endif %}
		
		<div>
			{{ html_label(__('Post as committee'), 'committee_id', errors=errors, required=true) }}
			{{ html_select_field('committee_id', view.get_committee_options(iter), iter.data, required=true) }}
		</div>

		<div>
			{{ html_label(__('Visible to'), 'visibility', errors=errors, required=true) }}
			{{ html_select_field('visibility', view.get_visibility_options(), iter.data, required=true) }}
		</div>		

		<div>
			{{ html_label(__('Subject'), 'subject', errors=errors, required=true) }}
			{{ html_input_text('subject', iter.data, required=true) }}
		</div>

		<div>
			<div class="tab-container">
				<ul class="nav-tabs horizontal">
					<li class="active"><a href="#message-tab">{{ __('Message') }}</a></li>
					<li><a href="#message-preview-tab">{{ __('Preview') }}</a></li>
				</ul>
				<div class="tab-panel" id="message-tab">
					{{ html_label(__('Message'), 'message', errors=errors, required=true) }}
					{{ html_textarea_field('message', iter.data, errors=errors, rows=10) }}
				</div>
				<div class="tab-panel" id="message-preview-tab" data-preview-source="#message-tab textarea" data-preview-url="announcements.php?view=preview">
					<span class="loading">{{ __('Loading preview…') }}</span>
				</div>
			</div>
		</div>

		<div class="controls">
			<button type="submit" class="button">{{ iter.has_id ? __('Modify announcement') : __('Post announcement') }}</button>
			{% if iter.has_id %}
			<a href="{{ controller.link_to_read(iter) }}">{{ __('Back to announcement') }}</a>
			{% else %}
			<a href="{{ controller.link_to_index() }}">{{ __('Back to all announcements') }}</a>
			{% endif %}
		</div>
	</form>
</div>
{% endblock %}