{% extends '@layout/layout.twig' %}

{% block title iter.subject ~ ' :: ' ~ parent() %}

{% block content %}
<article class="media">
	<div class="media-content">
		<div class="level is-marginless">
			<div class="level-left">
				<h1 class="title">
					{{ iter.subject }}
				</h1>
			</div>
			<nav class="level-right">
				{% if user_can_update iter %}
					<a class="level-item" href="{{ controller.link_to_update(iter) }}" title="{{ __('Modify announcement') }}">
						<span class="icon is-small">
							<i class="fas fa-pencil-alt" aria-hidden="true"></i>
						</span>
						<span class="is-sr-only">
							{{ __('Modify announcement') }}
						</span>
					</a>
				{% endif %}
				{% if user_can_delete iter %}
					<a class="level-item" href="{{ controller.link_to_delete(iter) }}" title="{{ __('Delete announcement') }}">
						<span class="icon is-small">
							<i class="fas fa-trash" aria-hidden="true"></i>
						</span>
						<span class="is-sr-only">
							{{ __('Delete announcement') }}
						</span>
					</a>
				{% endif %}
			</nav>
		</div>
		<p class="subtitle is-6">
			<small>
				{{ __('By') }}:
				<a href="commissies.php?commissie={{ iter.committee.login }}">{{ iter.committee.naam }}</a>
				{{ __('on') }}
				{{ iter.created_on|date() }}
			</small>
		</p>
		<div class="content">
			{{ iter.message|parse_markup }}
		</div>

	</div>
</article>
<article class="media">
	<div class="media-content has-text-centered">
		<a href="{{ controller.link_to_index() }}">{{ __('Show all announcements') }}</a>
	</div>
</article>
{% endblock %}