{% extends '@layout/layout.twig' %}

{% block title __('Log in to Microsoft Imagine') ~ ' :: ' ~ parent() %}

{% block content %}
<h1>{{ __('Log in to Microsoft Imagine') }}</h1>
<div class="messageBox">
	<form method="post" action="" class="vertical-form" target="_blank">
		{{ html_nonce('accept_dreamspark_terms') }}
		
		<p>{{ __('To log in to the Microsoft Imagine Webstore we need to pass your name and e-mail address to Microsoft.') }}</p>
		
		{% if global.identity.member_in_committee(constant('COMMISSIE_EASY')) %}
		<div>
			<input type="checkbox" name="log_in_as_webcie" id="field-log_in_as_webcie" value="yes">
			<label for="field-log_in_as_webcie">{{ __('Log in as WebCie administrator') }}</label>
		</div>
		{% endif %}
		
		<div>
			<button type="submit" class="button" name="accept_terms" value="true">{{ __('Continue to the Microsoft Imagine Webstore') }}</button>
		</div>
	</form>
</div>
{% endblock %}