{% extends '@layout/layout.twig' %}

{% block title (iter.has_id ? __('Edit vacancy') : __('New vacancy')) ~ ' – ' ~ parent() %}

{% block content %}
<h1 class="title">{{ iter.has_id ? __('Edit vacancy') : __('New vacancy') }}</h1>
<form method="post" action="{{ view.get_form_action(iter) }}">
	{% if iter.has_id %}
		{{ html_nonce('update', iter) }}
	{% else %}
		{{ html_nonce('create', iter) }}
	{% endif %}	

	<div class="field">
		{{ html_label(__('Title'), 'title', errors=errors, required=true) }}
		<div class="control">
			{{ html_input_text('title', iter, errors=errors, required=true) }}
		</div>
	</div>

	<div class="field">
		{{ html_label(__('Company'), 'partner_name', errors=errors, required=true) }}
		<div class="control">
			{{ html_input_text('partner_name', iter, errors=errors, data_autocomplete='partner_name', data_autocomplete_src='/partners.php?view=autocomplete&search=') }} {# required is validated server side only, because XOR condition #}
			{{ html_input_hidden('partner_id', iter.partner_id, data_partner_id_field=true, data_partner_name=iter.partner ? iter.partner.name : '') }}
		</div>
		<p class="help">
			{{ __("Select autocompleted partner, or type the name of the company if there's no partner for this company.") }}
		</p>
	</div>

	<div class="field">
		{{ html_label(__('Type'), 'type', errors=errors, required=true) }}
		<div class="control">
			<div class="select">
				{{ html_select_field('type', view.type_options, iter, errors=errors, required=true) }}
			</div>
		</div>
	</div>

	<div class="field">
		{{ html_label(__('Study phase'), 'study_phase', errors=errors, required=true) }}
		<div class="control">
			<div class="select">
				{{ html_select_field('study_phase', view.study_phase_options, iter, errors=errors, required=true) }}
			</div>
		</div>
	</div>

	<div class="field">
		{{ html_label(__('URL'), 'url', errors=errors) }}
		<div class="control">
			{{ html_input_text('url', iter, type='url', errors=errors) }}
		</div>
	</div>

	<div class="field">
		{{ html_label(__('Description'), 'description', errors=errors, required=true) }}
		<div class="tabs-wrapper is-condensed">
			<div class="tabs is-toggle">
				<ul>
					<li class="is-active">
						<a href="#description-tab">{{ __('Raw') }}</a>
					</li>
					<li>
						<a href="#description-preview-tab">{{ __('Preview') }}</a>
					</li>
				</ul>
			</div>

			<div class="tabs-content">
				<div id="description-tab" class="is-active">
					{{ html_textarea_field('description', iter, errors=errors, required=true, rows=10) }}
				</div>
				<div id="description-preview-tab" class="content-preview box content" data-preview-source="#description-tab textarea" data-preview-url="vacancies.php?view=preview">
					<span class="loading">{{ __('Loading preview…') }}</span>
				</div>
			</div>
		</div>
	</div>

	<div class="field">
		<div class="control buttons">
			<button type="submit" class="button is-primary">{{ iter.has_id ? __('Modify vacancy') : __('Create vacancy') }}</button>
			{% if iter.has_id %}
				<a href="{{ controller.link_to_read(iter) }}" class="button">{{ __('Back to vacancy') }}</a>
			{% else %}
				<a href="{{ controller.link_to_index() }}" class="button">{{ __('Back to all vacancies') }}</a>
			{% endif %}
		</div>
	</div>
</form>
{% endblock %}