{% extends '@layout/layout.twig' %}

{% block title __('Vacancies') ~ ' – ' ~ parent() %}

{% block content %}
<header class="level">
    <div class="level-left">
        <h1 class="title">{{ __('Vacancies') }}</h1>
    </div>
    <div class="level-right buttons">
        {% if user_can_create controller.new_iter %}
            <a href="{{ controller.link_to_create()|e('html_attr') }}" class="button">
                {{ __('New vacancy')  }}
            </a>
        {% endif %}
    </div>
</header>
<section class="block">
    <form method="GET" data-auto-submit data-allow-submit-on-enter data-use-native-submit data-visibility-selector="[data-filter-tags]">
        <div class="field has-addons">
            <div class="control is-expanded">
                {{ html_label(__('Search'), 'query', class='is-sr-only') }}
                {{ html_input_text('query', filter, type='search', placeholder=__('Type here to search vacancies…')) }}
            </div>
            <div class="control">
                <button class="button" type="submit">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                        <span class="is-sr-only">{{ __('Search') }}</span>
                    </span>
                </button>
            </div>
        </div>
        <div class="field is-grouped is-grouped-multiline">
            <div class="control">
                <div class="dropdown">
                    <div class="dropdown-trigger">
                        <button class="button" type="button" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span>{{ __('Type') }}</span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            {% for value, name in view.type_options() %}
                                <label class="checkbox dropdown-item" for="field-type-{{value}}" data-auto-submit-no-switch>
                                    {{ html_input_checkbox('type[]', filter, id='field-type-' ~ value, value=value) }}
                                    {{ name }}
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="control">
                <div class="dropdown">
                    <div class="dropdown-trigger">
                        <button class="button" type="button" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span>{{ __('Study Phase') }}</span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            {% for value, name in view.study_phase_options() %}
                                <label class="checkbox dropdown-item" for="field-study_phase-{{value}}" data-auto-submit-no-switch>
                                    {{ html_input_checkbox('study_phase[]', filter, id='field-study_phase-' ~ value, value=value) }}
                                    {{ name }}
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="control">
                <div class="dropdown">
                    <div class="dropdown-trigger">
                        <button class="button" type="button" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span>{{ __('Company') }}</span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            {% for partner in view.partners() %}
                                {% set value = partner['id'] ?? partner['name'] %}
                                <label class="checkbox dropdown-item" for="field-partner-{{ value }}" data-auto-submit-no-switch>
                                    {{ html_input_checkbox('partner[]', filter, id='field-partner-' ~ value, value=value) }}
                                    {{ partner['name'] }}
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<section class="block">
    <div class="columns is-mobile">
        <div class="column">
            <div class="field is-grouped is-grouped-multiline" data-filter-tags data-auto-submit-visible hidden>
                <p class="control">
                    <small>{{ __('Filter:') }}</small>
                </p>
                {% for tag in view.get_filter_tags(filter) %}
                    <div class="control">
                        <div class="tags has-addons">
                            <span class="tag">{{ tag.name }}</span>
                            <label class="tag is-delete" type="button" for="{{ tag.for }}"><span class="is-sr-only">{{ __('Delete filter') }}</span></label>
                        </div>
                    </div>
                {% else %}
                    <p class="control">
                        <small>{{ __('All vacancies') }}</small>
                    </p>
                {% endfor %}
            </div>
        </div>
        <p class="column is-narrow">
            <small>{{ __N('%d vacancy', '%d vacancies', iters|length) }}</small>
        </p>
    </div>
    <ul class="vacancy-list">
        {% for iter in iters %}
            <li class="vacancy {% if iter.partner %}has-image{% endif %}">
                <a class="media" href="{{ controller.link_to_read(iter) }}">
                    {% if iter.partner %}
                        <figure class="media-left image">
                            {% if iter.partner.logo_dark_url is defined %}
                                <img class="darkmode" src="{{ iter.partner.get_logo_dark(700) }}">
                            {% endif %}
                            <img class="default" src="{{ iter.partner.get_logo(700) }}">
                        </figure>
                    {% endif %}
                    <div class="media-content">
                        <h2 class="title is-5">{{ iter.title }}</h2>
                        <div>
                            {{ view.type_options[iter.type] }}
                            {{ view.study_phase_options[iter.study_phase] }}
                        </div>
                        {# {% if iter.url %}
                            <a href="{{ iter.url }}">{{ __('Website') }}</a>
                        {% endif %} #}
                    </div>
                </a>
            </li>
        {% else %}
            <li>
                <td colspan="6">
                    <p class="has-text-centered">
                        {{ __('No vacancies found :(') }}
                    </p>
                </td>
            </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
