{% extends '@layout/layout.twig' %}

{% block title iter.title ~ ' – ' ~ parent() %}

{% block content %}
    <div class="level is-mobile controls">
        <div class="level-left">
            <a href="{{ controller.link({}) }}" class="button">
                <span class="icon"><i class="fas fa-arrow-left" aria-hidden="true"></i></span>
                <span>{{__('All vacancies')}}</span>
            </a>
        </div>
        <div class="level-right">
            <div class="field is-grouped">
                {% if user_can_update iter or user_can_delete iter %}
                    <div class="control dropdown is-right">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                <span>{{ __('Manage') }}</span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                {% if user_can_update iter %}
                                    <a href="{{ controller.link_to_update(iter) }}" class="dropdown-item">
                                        <span class="icon">
                                            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                        </span>
                                        <span>{{  __('Modify vacancy') }}</span>
                                    </a>
                                {% endif %}
                                {% if user_can_delete iter %}
                                    <a href="{{ controller.link_to_delete(iter) }}" class="dropdown-item" data-popup="modal">
                                        <span class="icon">
                                            <i class="fas fa-trash" aria-hidden="true"></i>
                                        </span>
                                        <span>{{  __('Delete vacancy') }}</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
	{% if iter.partner %}
		<figure class="image block">
		    {% if iter.partner.logo_dark_url is defined %}
		        <img class="darkmode" src="{{ iter.partner.get_logo_dark(700) }}">
		    {% endif %}
		    <img class="default" src="{{ iter.partner.get_logo(700) }}">
		</figure>
	{% endif %}
    <h1 class="title">
        {{ iter.title }}
    </h1>
    <div class="content">
        {{ iter.description|parse_markup }}
    </div>
{% endblock %}
