<div class="newsHeading">
	{# Normally I would use controller.new_iter here, but this template is embedded
	in the homepage and no controller is passed in. This is also the reason that
	the controller isn't used to generate the links, as is done in all the other
	CRUD-based views. #}
	{% if user_can_create global.models.Vacancy.new_iter %}
		<div class="controls inline"><a href="{{ controller.link_to_create()|e('html_attr') }}" class="create-link">{{ __('New vacancy') }}</a></div>
	{% endif %}
	
	<h1>{{ __('Vacancies') }}</h1>
</div>

{% for item in iters if user_can_read item %}
	<hr class="colorAccent type-{{ item.type }}">
	<div class="messageBox vacancy frontpage">
		<div class="right">
			{{ item.created|date() }}
		</div>

		<div class="companyDetails">
			<div class="companyImage">
				{% if view.get_logo(item.company) %}
					<img src="{{ view.get_logo(item.company)|e('html_attr') }}">
				{% endif %}
			</div>
			<div class="col-3">
				<dl>
					<span class="title">
						<h2>{{ item.title }}</h2>
					</span>
					{% if item.company %}
						<h3>{{ item.company }}</h3>
					{% endif %}
					{% if item.type %}
						<h3>{{view.get_type(item.type)}}</h3>
					{% endif %}
					{% if item.study_year and view.get_type(item.type) != __('For graduated students') %}
						<dt><b>{{ __('Study year') }}</b><dt>
						<dd>{{ view.get_study_year(item.study_year) }}</dd>
					{% endif %}
				</dl>
			</div>
			<div class="col-3">
				<dl> 
					{% if item.hours %}
						<dt><b>{{ __('Time') }}</b></dt>
						<dd>{{view.get_hours(item.hours) }}</dd>
					{% endif %}
					<br>
					{% if item.experience %}
						<dt><b>{{ __('Experience') }}</b></dt> 
						<dd>{{item.experience}}</dd>
					{% endif %}
					<br>
					{% if item.url %}
						<dt><b><a href="{{ item.url|e('html_attr') }}">{{ __('More info on the website') }}</a></b></dt>
					{% endif %}
				</dl>
			</div>
		</div>
		
		<hr class="separator after">

		<div class="description">
			{{ item.description|parse_markup }}
		</div>

		<ul class="actions">
			{% if user_can_update item %}
			<li><a href="{{ controller.link_to_update(item)|e('html_attr') }}"
				data-partial-selector="#vacancy-form"
				data-placement-selector="modal">{{ __('Modify') }}</a></li>
			{% endif %}
			{% if user_can_delete item %}
			<li><a href="{{ controller.link_to_delete(item)|e('html_attr') }}"
				data-partial-selector=".messageBox > form.vertical-form"
				data-placement-selector="modal">{{ __('Delete') }}</a></li>
			{% endif %}
		</ul>
	</div>
{% endfor %}
