<div class="box">
{% if global.policies.Poll.user_can_vote(poll) %}
	<form method="post" action="forum.php?thread={{ poll.id }}&amp;view=vote">
		<h3 class="title is-5">{{poll.subject}}</h3>
		{{ html_nonce('poll_vote', poll) }}
		{% for option in poll.options %}
			<div class="field">
				<div class="control">
					{{ html_input_radio('option', null, option.id, id='forum_poll_option_' ~ option.id, required=true, label=option.optie) }}
				</div>
			</div>
		{% endfor %}

		<div class="control">
			<button type="submit" class="button is-primary">{{ __('Vote') }}</button>
		</div>
	</form>
{% else %}
	<h3 class="title is-5">{{poll.subject}}</h3>
	{% for option in poll.options %}
		<div class="media">
			<div class="media-content">
				{{ option.optie }}
				<div class="columns is-vcentered">
					<div class="column is-11">
						<progress class="progress is-danger" value="{{ option.percentage }}" max="100">{{ '%0.1f'|format(option.percentage) }}%</progress>	
					</div>
					<div class="column is-1">
						{{ '%0.1f'|format(option.percentage) }}%
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	<div class="level">
		<div class="level-left">
			{% if not global.auth.logged_in %}
				<a class="level-item button" href="{{ link('sessions.login') }}" data-placement-selector="modal" data-partial-selector="#login-form">{{ __('Log in to vote') }}</a>
			{% elseif global.models.Poll.can_create_new_poll %}
				<a class="level-item button" href="forum.php?forum={{ poll.forum_id }}&amp;view=create_poll">{{ __('New poll ') }}</a>
			{% endif %}
		</div>
	</div>
{% endif %}
</div>
