{% if global.policies.Poll.user_can_vote(poll) %}
	<form method="post" action="forum.php?thread={{ poll.id }}&amp;view=vote">
		{{ html_nonce('poll_vote', poll) }}
		
		<table class="poll">
			{% for option in poll.options %}
			<tr>
				<td class="pollvoteRadio">{{ html_input_radio('option', null, option.id, id='forum_poll_option_' ~ option.id) }}</td>
				<td><label for="forum_poll_option_{{ option.id }}">{{ option.optie }}</label></td>
			</tr>
			{% endfor %}
		</table>

		<div class="poll_vote">
			<button type="submit" class="button">{{ __('Stem') }}</button>
		</div>
	</form>
{% else %}
	<table class="votes">
		{% for option in poll.options %}
			<tr>
				<td class="pollVote" width="98%">
					{{ option.optie }}<br>
					<div class="vote"><img height="10px" src="images/leeg.gif" width="{{ '%0.1f'|format(option.percentage) }}%"><img src="{{ link_static('images/pgsend.png') }}" class="end"></div>
				</td>
				<td class="percentage">{{ '%0.1f'|format(option.percentage) }}%</td>
			</tr>
		{% endfor %}
		<tr>
			<td colspan="2">
				{{ __('Aantal stemmen') }}: {{ poll.total_votes }}
			</td>
		</tr>

		{% if not global.auth.logged_in %}
			<tr>
				<td colspan="2"><a href="{{ link('sessions.login') }}">{{ __('Log in om te stemmen') }}</a></td>
			</tr>
		{% elseif global.models.Poll.can_create_new_poll %}
			<tr>
				<td colspan="2">
					<a class="button" href="forum.php?forum={{ poll.forum_id }}&amp;view=create_poll">{{ __('Nieuwe poll ') }}</a>
				</td>
		{% endif %}
	</table>
{% endif %}