{% extends '@layout/layout.twig' %}

{% block title forum.name ~ ' :: ' ~ __('Forum') ~ ' :: ' ~ parent() %}

{% block content %}
<h1><a href="forum.php">{{ __('Forum') }}</a> / {{ forum.name }}</h1>

<div class="topbar">
	{% if max > 0 %}
		{{ view.page_navigation('forum.php?forum=' ~ forum.id, page, max)|raw }}
	{% endif %}
	{% if user_can_create forum.new_thread %}
		<a href="forum.php?forum={{ forum.id }}&amp;view=create" class="button">
			<img src="{{ link_static('images/new.png') }}"
			     alt="{{ __('nieuw') }}"
			     title="{{ __('Nieuw bericht toevoegen') }}">
			<span class="messageText">{{ __('Nieuw onderwerp') }}</span>
		</a>
	{% endif %}
	{% if user_can_create forum.new_poll %}
		<a href="forum.php?forum={{ forum.id }}&amp;view=create_poll" class="button">
			<img src="{{ link_static('images/new.png') }}"
			     alt="{{ __('nieuw') }}"
			     title="{{ __('Nieuwe poll toevoegen') }}">
			{{ __('Nieuwe poll') }}
		</a>
	{% endif %}
</div>

<table class="forum">
	<colgroup>
		<col class="icon">
		<col class="subject">
		<col class="author">
		<col class="commentcount">
		<col class="last">
	</colgroup>
	<thead>
		<tr class="header">
			<td colspan="2">{{ __('Onderwerp') }}</td>
			<td class="text_center">{{ __('Auteur') }}</td>
			<td>{{ __('Reacties') }}</td>
			<td class="text_center">{{ __('Laatste') }}</td>
		</tr>
	</thead>
	<tbody>
		{% for thread in threads %}
			{% set author = model.get_author_info(thread) %}
			{% set author_link = view.get_author_link(thread) %}
			<tr class="r{{ loop.index is odd ? 1 : 0 }}">
				<td class="icon">
					<img src="{{ link_static('images/' ~ (view.has_unread_messages(thread) ? 'thread_new.png' : 'thread.png')) }}">
				</td>
				<td class="subject">
					<a href="forum.php?thread={{ thread.id }}" class="subject">
						{{ thread.poll ? ('[' ~ __('Poll') ~ '] ') : ''}}
						{{ thread.subject }}
					</a>
					{% set thread_pages = thread.num_thread_pages %}
					{% if thread_pages > 1 %}
						<br><span class="smaller">[ {{ __('Pagina') }}: {{ view.thread_page_links(thread, thread_pages)|join(', ')|raw }} ]</span>
					{% endif %}
				</td>
				<td class="text_center">
					{% if author.name %}
						<a href="{{ author_link|e('html_attr') }}">{{ author.name }}</a>
					{% else %}
						{{ __('Onbekend') }}
					{% endif %}
				</td>
				<td class="text_center">
					{{ thread.num_messages }}
				</td>
				<td class="last">
					{% if thread.date %}
						{{ thread.date|date('d-m-Y H:i') }}
						{% if author.name is defined or author.last_name is defined %}
							<br><a href="forum.php?thread={{ thread.id }}&amp;page={{ thread_pages - 1 }}#{{ thread.last_id == thread.id ? 't' : 'p' }}{{ thread.last_id }}">{{ author.last_name is defined ? author.last_name : author.name }}</a>
						{% endif %}
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<div class="bar">
	{% if max > 0 %}
		<div class="right">{{ view.page_navigation('forum.php?forum=' ~ forum.id, page, max)|raw }}</div>
	{% endif %}
</div>
{% endblock %}