{% extends '@layout/layout.twig' %}

{% block title __('Delete topic') ~ ' :: ' ~ parent() %}

{% block content %}
<h1>{{ __('Delete topic') }}</h1>
<div class="messageBox">
	<form method="post" action="forum.php?view=delete&amp;thread={{ iter.id }}" class="vertical-form">
		{{ html_nonce('delete_thread', iter) }}
		<p>{{ __('Are you sure you want to delete the whole <em>%s</em> topic, including all its messages?')|format(iter.subject|e)|raw }}</p>
		<div>
			<button type="submit" class="button">{{ __('Delete topic')  }}</button>
			<a href="forum.php?thread={{ iter.id }}">{{ __('Back to topic') }}</a>
		</div>
	</form>
</div>
{% endblock %}