{% extends '@layout/layout.twig' %}

{% block title thread.subject ~ ' :: ' ~ forum.name ~ ' :: ' ~ parent() %}

{% block content %}
<h1><a href="forum.php">{{ __('Forum') }}</a> / <a href="forum.php?forum={{ forum.id }}">{{ forum.name }}</a></h1>

<div class="topbar">
	{% if max > 0 %}
		{{ view.page_navigation('forum.php?thread=' ~ thread.id, page, max)|raw }}
	{% endif %}
	{% if user_can_create thread.new_message %}
		<a href="forum.php?thread={{ thread.id }}&amp;view=reply" class="button new-reply-button">
			<img src="{{ link_static('images/new.png') }}" alt="{{ __('nieuw') }}" title="{{ __('Nieuw bericht toevoegen') }}">
			{{ __('Nieuw antwoord') }}
		</a>
	{% else %}
		{{ __('Je kunt niet antwoorden in dit forum') }}
	{% endif %}
	{% if user_can_delete thread %}
		<a href="forum.php?thread={{ thread.id }}&amp;view=delete" class="button delete-button">
			<img src="{{ link_static('images/delete.png') }}" alt="{{ __('delete') }}" title="{{ __('Onderwerp verwijderen') }}">
			{{ __('Verwijder onderwerp') }}
		</a>
	{% endif %}
	{% if user_can_update thread %}
		<div class="text_right">
			<form method="post" action="forum.php?thread={{ thread.id }}">
				{{ html_nonce('forum_move_thread_' ~ thread.id) }}
				{{ html_label(__('Verplaats bericht naar'), 'forum_id') }}
				{{ html_select_field('forum_id', view.writeable_forums, {forum_id: thread.forum}) }}
				<input type="image" src="{{ link_static('images/next.png') }}">
			</form>
		</div>
	{% endif %}
</div>

<table class="forum thread">
	<colgroup>
		<col class="author">
		<col class="message">
	</colgroup>
	<thead>
		<tr class="separator">
			<td colspan="2">{{ thread.subject }}</td>
		</tr>
	</thead>
	<tbody>
	{% for message in messages if user_can_read message %}
		{% set author = model.get_author_info(message) %}
		{% set author_link = view.get_author_link(message) %}
		<tr id="p{{ message.id }}" class="{{ loop.index is odd ? 'r0' : 'r1' }}">
			<td class="author">
				{% if author %}
					{% if author_link %}
						<a href="{{ author_link|e('html_attr') }}" class="bold">{{ author.name }}</a>
					{% else %}
						<span class="bold">{{ author.name }}</span>
					{% endif %}
					<br>
					{% if author.avatar %}
						<img class="avatar" src="{{ author.avatar|e('html_attr') }}" alt="Avatar">
					{% endif %}
					<br>
					{% set author_stats = model.get_author_stats(message) %}
					<span class="smaller">
						{{ __('Posts') }}: {{ author_stats.posts }}<br>
						({{ '%02.02f'|format(author_stats.percentage_of_total) }})
					</span>
				{% else %}
					__('Onbekend')
				{% endif %}
			</td>
			<td class="message">
				<div class="right">{{ message.datum }}</div>
				<div class="right">
					{% if user_can_update message %}
						<a href="forum.php?thread={{ thread.id }}&amp;view=update&amp;message={{ message.id }}">
							<img src="{{ link_static('images/edit_small.png') }}"
							     alt="{{ __('Bewerk') }}"
							     title="{{ __('Bewerk bericht') }}">
						</a>
					{% endif %}
		
					{% if user_can_delete message %}
						<a href="forum.php?thread={{ thread.id }}&amp;view=delete&amp;message={{ message.id }}">
							<img src="{{ link_static('images/delete_small.png') }}"
							     alt="{{ __('Verwijder') }}"
							     title="{{ __('Verwijder bericht') }}">
						</a>
					{% endif %}
	
					{% if user_can_create thread.new_message %}
						<a href="forum.php?thread={{ thread.id }}&amp;view=reply&amp;quote_message={{ message.id }}">
							<img src="{{ link_static('images/quote.png') }}"
							     alt="{{ __('quote') }}"
							     title="{{ __('Quote geselecteerde tekst van bericht') }}">
						</a>
					{% endif %}
				</div>

				{{ message.message|parse_markup }}

				{% if thread.poll and page == 0 and loop.first %}
					<div class="forum_poll">
						{{ include('_poll.twig', {thread: thread}) }}
					</div>
				{% endif %}
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
<div class="bar">
	{% if max > 0 %}
		{{ view.page_navigation('forum.php?thread=' ~ thread.id, page, max)|raw }}
	{% endif %}
	{% if user_can_create thread.new_message %}
		<a href="forum.php?thread={{ thread.id }}&amp;view=reply" class="button">
			<img src="{{ link_static('images/new.png') }}" alt="{{ __('nieuw') }}" title="{{ __('Nieuw bericht toevoegen') }}">
			{{ __('Nieuw antwoord') }}
		</a>
	{% else %}
		{{ __('Je kunt niet antwoorden in dit forum') }}
	{% endif %}
	{% if user_can_update thread %}
		<div class="text_right">
			<form method="post" action="forum.php?thread={{ thread.id }}">
				{{ html_nonce('forum_move_thread_' ~ thread.id) }}
				{{ html_label(__('Verplaats bericht naar'), 'forum_id') }}
				{{ html_select_field('forum_id', view.writeable_forums, {forum_id: thread.forum}) }}
				<input type="image" src="{{ link_static('images/next.png') }}">
			</form>
		</div>
	{% endif %}
</div>
{% endblock %}
