{% extends '@layout/layout.twig' %}

{% block title thread.subject ~ ' :: ' ~ forum.name ~ ' :: ' ~ parent() %}

{% block content %}
<h1><a href="forum.php">{{ __('Forum') }}</a> :: <a href="forum.php?forum={{ forum.id }}">{{ forum.name }}</a></h1>

<div class="topbar">
	{% if max > 0 %}
		{{ page_navigation('forum.php?thread=' ~ thread.id, page, max)|raw }}
	{% endif %}
	{% if can_reply %}
		<button id="newbericht" class="button">{{ __('Nieuw antwoord') }}</button>
	{% else %}
		{{ __('Je kunt niet antwoorden in dit forum') }}
	{% endif %}
	{% if thread.editable %}
		<div class="text_right">
			<form method="post" action="forum.php">
				{{ html_input_hidden('thread_id', thread.id) }}
				{{ html_input_hidden('submforummovethread', 'yes') }}
				{{ html_label(__('Verplaats bericht naar'), 'forum_id') }}
				{{ html_select('forum_id', model.check_acl(forum.id, constant('DataModelForum::ACL_WRITE')), {forum_id: thread.forum}) }}
				<input type="image" src="{{ link_static('images/next.png') }}">
			</form>
		</div>
	{% endif %}
</div>

{% if can_reply %}
	{{ include('new_message_form.twig', {
		authors: view.get_authors(forum.id, constant('DataModelForum::ACL_REPLY'))
		parent: thread,
		subm: 'submforumnewmessage',
		params: params,
		subject: false
	}) }}
{% endif %}

<table class="forum thread">
	<thead>
		<tr class="separator">
			<td colspan="2">{{ thread.subject }}</td>
		</tr>
	</thead>
	<tbody>
	{% for message in messages %}	
		{% set author = model.get_author_info(message) %}
		{% set author_link = view.get_author_link(message) %}
		<tr id="p{{ message.id }}">
			<td class="author">
				{% if author %}
					{% if author_link %}
						<a href="{{ author_link|e('html_attr') }}" class="bold">{{ author.name }}</a>
					{% else %}
						<span class="bold">{{ author.name }}</span>
					{% endif %}
					<br>
					{% if author.avatar %}
						<img class="avatar" src="{{ author.avatar|e('html_attr') }}" alt="Avatar">
					{% endif %}
					<br>
					{% set author_stats = model.get_author_stats(message) %}
					<span class="smaller">
						{{ __('Posts') }}: {{ author_stats.posts }}<br>
						({{ '%02.02f'|format(author.percentage_of_total) }})
					</span>
				{% else %}
					__('Onbekend')
				{% endif %}
			</td>
			<td class="message">
				<div class="right">{{ message.datum }}</div>
				<div class="right">
					{% if message.editable %}
						<a href="forum.php?modmessage={{ message.id }}&amp;page={{ page }}">
							<img src="{{ link_static('images/edit_small.png') }}"
							     alt="{{ __('Bewerk') }}"
							     title="{{ __('Bewerk bericht') }}">
						</a>
					{% endif %}
		
					{% if can_delete %}
						<a href="forum.php?delmessage={{ message.id }}&amp;page={{ page }}">
							<img src="{{ link_static('images/delete_small.png') }}"
								 alt="{{ __('Verwijder') }}"
								 title="{{ __('Verwijder bericht') }}">
						</a>
					{% endif %}
	
					<a href="#" onclick="quote({{ message.id }}, {{ author.name|json_encode|raw }})">
						<img src="{{ link_static('images/quote.png') }}"
						     alt="{{ __('quote') }}"
						     title="{{ __('Quote geselecteerde tekst van bericht') }}">
					</a>
				</div>

				{{ message.message|parse_markup }}

				{% if thread.poll and page == 0 and loop.first %}
					<div class="forum_poll">
						{{ include('_poll.twig', {thread: thread}) }}
					</div>
				{% endif %}
			</td>
		</tr>
	</tbody>
</table>
{% endblock %}
