{% import _self as fotoboek %}

{% macro gallery(book, photos) %}
    <ul class="gallery columns is-multiline is-mobile">
    {% for photo in photos %}
        {# All photo's are rendered at 2× resolution, to accomodate for high-res screens. #}
        {% set size = photo.get_scaled_size(null, 600) %}

        {# Set flex-basis to bins close to their scaled width, with a min of 200 and a max of 1000 #}
        {% set basis = ((size[0] / 100)|round) * 50 %}
        <li class="photo column has-basis-{{ min(max(basis, 200), 1000) }}">
            <a href="fotoboek.php?book={{ book.id }}&amp;photo={{ photo.id }}">
                <img 
                    src="{{ photo.get_url(null, 600) }}"
                    {% if size %}width="{{ size[0]/2 }}" height="{{ size[1]/2 }}"{% endif %}
                >
            
            </a>
        </li>
    {% endfor %}
    </ul>
{% endmacro %}

{% set photos = photos|group_by('read_status') %}

{% if photos.unread is defined %}
    <h2>{{ __('New since your last visit') }}</h2>
    {{ fotoboek.gallery(book, photos.unread) }}
{% endif %}

{% if photos.read is defined %}
    {% if photos.unread is defined %}
        <h2>{{ __('Older photos') }}</h2>
    {% endif %}
    {{ fotoboek.gallery(book, photos.read) }}
{% endif %}

