{% import _self as fotoboek %}

{% macro gallery(book, photos) %}
    <ul class="gallery columns is-multiline is-mobile">
    {% for photo in photos %}
        {% set size = photo.get_scaled_size(null, 600) %}
        {# force proper flexbox scaling though flex-basis. 1/3 works better than 1/2, for some reason. #}
        <li class="photo column" style="flex-basis: {{ size[0]/3 }}px;">
            <a href="fotoboek.php?book={{ book.id }}&amp;photo={{ photo.id }}">
                <img 
                    src="{{ photo.get_url(null, 600) }}"
                    {% if size %}width="{{ size[0]/2 }}" height="{{ size[1]/2 }}"{% endif %}
                >
            
            </a>
        </li>
    {% endfor %}
    </ul>
{% endmacro %}

{% set photos = photos|group_by('read_status') %}

{% if photos.unread is defined %}
    <h2>{{ __('New since your last visit') }}</h2>
    {{ fotoboek.gallery(book, photos.unread) }}
{% endif %}

{% if photos.read is defined %}
    {% if photos.unread is defined %}
        <h2>{{ __('Older photos') }}</h2>
    {% endif %}
    {{ fotoboek.gallery(book, photos.read) }}
{% endif %}

