<article>
	<h2 class="title is-4">{{ __("Random photos") }}</h2>
	<ul class="level">
		{% for photo in view.random_photos(3) %}
		<li class="level-item">
			<a id="random_photo_{{ photo.id|e('html_attr') }}" href="fotoboek.php?photo={{ photo.id|e('url') }}">
				<img src="{{ photo.get_url(0, 400)|e('html_attr') }}" {{ 'width="%d" height="%d"'|vformat(photo.get_scaled_size(null, 150))|raw }}>
				<div class="photo-caption">
					{{ photo.fotoboek_titel }}
					({{ photo.fotoboek_jaar }})
				</div>
			</a>
		</li>
		{% endfor %}
	</ul>
</article>