{% extends '@layout/layout.twig' %}

{% block title __('Photo album statistics') ~ ' :: ' ~ parent() %}

{% block content %}
<h1>{{ __('Photo album statistics') }}</h1>
<div class = "messageBox">
	<table class="full-width-table">
		<tr>
			<td style="vertical-align: top; padding: 1em">
				<h2>{{ __('Most active taggers') }}</h2>
				<table class="full-width-table">
					<thead>
						<tr>
							<th style="text-align: left">{{ __('Name') }}</th>
							<th style="text-align: right">{{ __('Count') }}</th>
							<th style="text-align: right">{{ __('Favorite') }}</th>
						</tr>
					</thead>
					<tbody>
					{% for row in taggers %}
						<tr>
							<td><a href="profiel.php?lid={{ row.id|e('url') }}">{{ row.voornaam }}</a></td>
							<td style="text-align: right">{{ row.tags }}</td>
							<td style="text-align: right">{{ row.favorite }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</td>
			<td style="vertical-align: top; padding: 1em;">
				<h2>{{ __('Most tagged members') }}</h2>
				<table class="full-width-table">
					<thead>
						<tr>
							<th style="text-align: left">{{ __('Name') }}</th>
							<th style="text-align: right">{{ __('Times tagged') }}</th>
						</tr>
					</thead>
					<tbody>
					{% for row in tagged %}
						<tr>
							<td><a href="profiel.php?lid={{ row.id|e('url') }}">{{ row.voornaam }}</a></td>
							<td style="text-align: right">{{ row.tags }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</td>
		</tr>
	</table>
</div>
{% endblock %}