{% extends '@layout/layout.twig' %}

{% block title __('Delete photo album') ~ ' :: ' ~ parent() %}

{% block content %}
<h1>{{ __('Delete photo album') }}</h1>
<div class="messageBox">
	<form method="post" action="fotoboek.php?view=delete_book&amp;book={{ iter.id }}" class="vertical-form delete-photobook-form">
		{{ html_nonce('delete', iter) }}
		<div>
			<p>{{ __('Are you sure you want to delete the <em>%s</em> photo album?')|format(iter.titel|e)|raw }}</p>
			{{ html_label(__('As confirmation, enter the name of the photo album you are about to entirely delete'), 'confirm_delete', errors=errors, required=true) }}
			{{ html_input_text('confirm_delete', null, errors=errors, required=true) }}
		</div>
		
		<div>
			<button type="submit" class="button">{{ __('Delete photo album') }}</button>
			<a href="fotoboek.php?book={{iter.parent.id}}#book_{{iter.id}}">{{ __('Return to photo album') }}</a>
		</div>
	</form>
</div>
{% endblock %}