{% extends '@layout/layout.twig' %}

{% block title __('Delete photo book') ~ ' :: ' ~ parent() %}

{% block content %}
<h1 class="title">{{ __('Delete photo book') }}</h1>
<form method="post" action="fotoboek.php?view=delete_book&amp;book={{ iter.id }}">
	{{ html_nonce('delete', iter) }}
	<div class="field">
		<p>{{ __('Are you sure you want to delete the <em>%s</em> photo book?')|format(iter.titel|e)|raw }}</p>
	</div>
	<div class="field">
		{{ html_label(__('As confirmation, enter the name of the photo book you are about to entirely delete'), 'confirm_delete', errors=errors, required=true) }}
		<div class="control">
			{{ html_input_text('confirm_delete', null, errors=errors, required=true) }}
		</div>
	</div>
	
	<div class="field">
		<div class="control buttons">
			<button type="submit" class="button is-danger">{{ __('Delete photo book') }}</button>
			<a href="fotoboek.php?book={{iter.parent.id}}#book_{{iter.id}}" class="button">{{ __('Return to photo book') }}</a>
		</div>
	</div>
</form>
{% endblock %}