{% extends '@layout/layout.twig' %}

{% block title __('Visibility of photo') ~ ' &ndash; ' ~ parent() %}


{% block content %}
<h1 class="title">{{ __('Visibility of photo') }}</h1>
<form method="post" action="fotoboek.php?photo={{ photo.id|e('url') }}&amp;module=privacy">
	{{ html_nonce('privacy', photo) }}
	
	{# Not .image, because of scaling #}
	<figure>
		<img src="{{ photo.get_url(null, 400)|e('html_attr') }}" {{ 'width="%d" height="%d"'|vformat(photo.get_scaled_size(400, 400))|raw }}>
	</figure>
	
	<div class="field">
		<label class="label">{{ __('Visibility of this photo')}}</label>
		<div class="control">
			{{ html_input_radio('visibility', {'visibility': visibility }, 'visible', label=__('Show photo in my personal photo album')) }}
		</div>
		<div class="control">
			{{ html_input_radio('visibility', {'visibility': visibility }, 'hidden', label=__('Hide from my personal photo album')) }}
		</div>
	</div>
	<div class="field">
		<div class="control buttons">
			<button type="submit" class="button is-primary">{{ __('Change visibility') }}</button>
		</div>
	</div>
</form>
{% endblock %}