{% extends '@layout/layout.twig' %}

{% block title book.titel ~ ' – ' ~ parent() %}


{% macro format_face_label(face) -%}
    {%- if face.lid_id is not null -%}
        <a href="profiel.php?lid={{ face.lid.id }}" data-face-id="{{ face.id }}">{{ face.lid|personal_full_name }}</a>
    {%- elseif face.custom_label != '' -%}
        <span class="custom-label" data-face-id="{{ face.id }}">{{ face.custom_label }}</span>
    {%- else -%}
        <span data-face-id="{{ face.id }}">{{ __('Unknown') }}</span>
    {%- endif -%}
{%- endmacro -%}

{% import _self as photo_macros %}

{% block page %}
<article class="photo-single">

<section class="photo">
    <figure class="image {{ photo.orientation }}">
        <picture>
            <source srcset="{{ photo.get_url(1800, 1800) }} 1800w">
            <source srcset="{{ photo.get_url(1200, 1200) }} 1200w, {{ photo.get_url(1800, 1800) }} 1.5x">
            <source srcset="{{ photo.get_url(900, 900) }} 900w, {{ photo.get_url(1800, 1800) }} 2x">
            <source srcset="{{ photo.get_url(600, 600) }} 600w, {{ photo.get_url(1200, 1200) }} 2x">
            <source srcset="{{ photo.get_url(400, 400) }} 400w, {{ photo.get_url(800, 800) }} 2x">
            <img
                src="{{ photo.get_url(1800, 1800) }}"
                data-preview="{{ photo.get_url(null, 400) }}"
            > 
        </picture>
    </figure>
    <nav>
        {% set nav = book.get_neighbours(photo) %}
        {% if nav.previous %}
        <a id="photo-previous" class="icon" href="fotoboek.php?book={{ book.id }}&amp;photo={{ nav.previous.id }}" title="{{ __('Go to the previous photo') }}">
            <i class="fas fa-chevron-left fa-fw" aria-hidden="true"></i>
            <span class="is-sr-only">{{ __('Previous') }}</span>
        </a>
        {% endif %}

        {% if nav.next %}
        <a id="photo-next" class="icon" href="fotoboek.php?book={{ book.id }}&amp;photo={{ nav.next.id }}" title="{{ __('Go to next photo') }}">
            <i class="fas fa-chevron-right fa-fw" aria-hidden="true"></i>
            <span class="is-sr-only">{{ __('Next') }}</span>
        </a>
        {% endif %}
    </nav>
</section>

<section class="section photo-meta">
    {% if photo.beschrijving %}
        <h1 class="name" title="{{ photo.beschrijving }}">
            {{- photo.beschrijving -}}
        </h1>
    {% endif %}

    <div class="book">
        <a href="fotoboek.php?book={{ book.id }}#photo_{{ photo.id }}">{{ book.titel }}</a>
        {% if photo.book.id != book.id %}
            <span class="orignal-book">
                {{ __('from') }} <a href="fotoboek.php?book={{ photo.book.id }}#photo_{{ photo.id }}">{{ photo.book.titel }}</a>
            </span>
        {% endif %}        
    </div>

    {% if book.has_value('date') %}
        <div class="date">{{ book.date|date('j F Y') }}</div>
    {% endif %}

    {% if photo.faces|user_can_read|length > 0 %}
        <div class="faces">
            <span class="icon has-text-grey">
                <i class="fas fa-user-tag fa-fw" aria-hidden="true"></i>
                <span class="is-sr-only">{{ __('A photo with') }}</span>
            </span>
            {{ photo.faces|user_can_read|map_macro('photo_macros.format_face_label')|human_join(',')|raw }}
        </div>
    {% endif %}

    <div class="photo-options dropdown is-hoverable is-right">
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                    <span class="is-sr-only">{{ __('Options') }}</span>
                </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
                {% if user_can_update book %}
                    <a class="dropdown-item" href="fotoboek.php?book={{ book.id }}&amp;view=delete_photos&amp;photo_id[]={{ photo.id }}" data-popup="modal">
                        {{ __('Delete photo') }}
                    </a>
                    <hr class="dropdown-divider">
                {% endif %}
                {% if global.identity.member.id in photo.faces|select('lid_id') %}
                    <a class="dropdown-item" href="fotoboek.php?photo={{ photo.id }}&amp;module=privacy" data-popup="modal">
                        {{ __('Visibility') }}
                    </a>
                    <hr class="dropdown-divider">
                {% endif %}
                <a class="dropdown-item" href="fotoboek.php?book={{ book.id }}&amp;photo={{ photo.id }}&amp;view=download">
                    {{ __('Download photo') }}
                </a>

                <a class="dropdown-item" href="fotoboek.php?book={{ book.id }}&amp;photo={{ photo.id }}">
                    {{ __('Copy link') }}
                </a>
            </div>
        </div>
    </div>
</section>

<section class="section photo-interaction">
    {% if global.auth.logged_in %}
        <div class="controls level is-mobile">
            {% set liked = global.identity.member.id in photo.likes|select('lid_id') %}
            <form class="level-item" method="post" action="fotoboek.php?photo={{ photo.id }}&amp;module=likes">
                <input type="hidden" name="action" value="toggle">
                <button type="submit"  class="button is-text icon"
                        title="{{ liked ? __('Unlike photo') : __('Like photo') }}"
                        data-title="{{ [__('Unlike photo'), __('Like photo')]|json_encode|e('html_attr') }}"
                        >
                        {% if liked %}
                            <i class="fas fa-heart has-text-cover" aria-hidden="true"></i>
                            <span class="is-sr-only">{{ __('You like this photo. Click to unlike.') }}</span>
                        {% else %}
                            <i class="fas fa-heart" aria-hidden="true"></i>
                            <span class="is-sr-only">{{ __('Like photo') }}</span>
                        {% endif %}
                </button>
                {% if photo.likes|length %}
                    <span class="is-size-6" title="{{ photo.likes|length > 0 ? __N('%d person likes this photo', '%s people like this photo', photo.likes|length)|e('html_attr') : '' }}">
                        {{ photo.likes|length }}
                        <span class="is-sr-only">{{ __N('like', 'likes', photo.likes|length) }}</span>
                    </span>
                {% endif %}
            </form>

            {% if user_can_create controller.faces_controller.new_iter %}
                <a class="level-item" title="{{ __('Tag people') }}">
                    <span class="icon">
                        <i class="fas fa-tag" aria-hidden="true"></i>
                    </span>
                    <span class="is-sr-only">
                        {{ __('Tag people') }}
                    </span>
                </a>
            {% endif %}

            <a class="level-item" href="fotoboek.php?book={{ book.id }}&amp;photo={{ photo.id }}&amp;view=download" title="{{ __('Download photo') }}">
                <span class="icon">
                    <i class="fas fa-download" aria-hidden="true"></i>
                </span>
                <span class="is-sr-only">
                    {{ __('Download photo') }}
                </span>
            </a>

            <a class="level-item" href="fotoboek.php?book={{ book.id }}&amp;photo={{ photo.id }}" title="{{ __('Copy link') }}">
                <span class="icon">
                    <i class="fas fa-share-alt" aria-hidden="true"></i>
                </span>
                <span class="is-sr-only">
                    {{ __('Copy link') }}
                </span>
            </a>
        </div>
    {% endif %}

{#     {% if photo.likes|length %}
        <div class="likes">
            <strong>{{ photo.likes|length }}</strong> {{ __N('like', 'likes', photo.likes|length) }}
        </div>
    {% endif %} #}

    <div class="comments">
        {{ include('@theme/fotoboekreacties/index.twig', {comments: photo.comments, controller: controller.comments_controller}) }}
    </div>
 </section>

</article>
{% endblock %}