{% extends '@layout/layout.twig' %}

{% block title book.titel ~ ' :: ' ~ parent() %}

{% block content %}
<h1>{{ __('Fotoboek') }} :: {{ __('Foto') }}</h1>

<div id="foto" data-photo-id="{{ photo.id }}" class="messageBox {% if is_liked %}liked{% endif %}">

	<div class="photo-page-header">
		{{ include('_path.twig') }}
	</div>

	<h2 class="photo-title" {% if user_can_update book %}data-update-link="fotoboek.php?book={{book.id}}&amp;photo={{photo.id}}&amp;view=update_photo"{% endif %}>{{ photo.beschrijving }}</h2>

	<div class="fotoboek_foto">
	{% set nav = book.get_neighbours(photo) %}
	<div class="photo {{ photo.orientation }}">
		<nav class="photo-navigation navigation">
			{% if nav.previous %}
			<a href="fotoboek.php?book={{ book.id }}&amp;photo={{ nav.previous.id }}" class="prev-button previous" title="{{ __('Ga naar vorige foto') }}">
				{{ __('Vorige') }}
			</a>
			{% endif %}

			{% if nav.next %}
			<a href="fotoboek.php?book={{ book.id }}&amp;photo={{ nav.next.id }}" class="next-button next" title="{{ __('Ga naar volgende foto') }}">
				{{ __('Volgende') }}
			</a>
			{% endif %}
		</nav>
		
		<div id="photo" data-id="{{ photo.id }}" {%- if user_can_create controller.faces_controller.new_iter %} data-create-action="{{ controller.faces_controller.json_link_to_create }}"{% endif %}>
			<figure class="full-size-photo {{ photo.orientation }}">
				<img
					src="{{ photo.get_url(1600, 1600) }}"
					data-preview="{{ photo.get_url(null, 400) }}"
					{{ 'width="%d" height="%d"'|vformat(photo.get_scaled_size(820, 820))|raw }}>
			</figure>

			{% for face in photo.faces if user_can_read face %}
			<div id="face_{{ face.id }}" class="face {{ face.lid_id or face.custom_label ? 'tagged' : 'untagged' }} {% if face.lid_id and global.identity.member and face.lid_id == global.identity.member.id %}me{% endif %}" style="{{ "left: %0.2F%%; top: %0.2F%%; width: %0.2F%%; height: %0.2F%%;"|vformat(face.position) }}"
				{%- if user_can_delete face -%}
					data-delete-action="{{ controller.faces_controller.link_to_delete(face) }}"
				{%- endif -%}
				{%- if user_can_update face -%}
					data-update-action="{{ controller.faces_controller.link_to_update(face) }}"
				{%- endif -%}
				>
				<!-- name label (and hidden update form) -->
				<div class="tag-label">
					{% if face.lid_id is not null %}
						<a href="profiel.php?lid={{ face.lid.id }}" class="name">{{ face.lid|personal_full_name }}</a>
					{% elseif face.custom_label is not null %}
						<a class="name" href="#">{{ face.custom_label }}</a>
					{% elseif user_can_update face %}
						<a class="name" href="#">{{ __('Klik om te taggen') }}</a>
					{% else %}
						<a class="name" href="#">{{ __('Niet getagged') }}</a>
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>	
	</div>
	</div>
	<script type = "text/javascript">
		$(document).ready(function(){
			$(document).on('keyup.nav', function(event){
				// Only catch unspecific input (so no form elements)
				if (['TEXTAREA', 'INPUT'].indexOf(event.target.nodeName) === -1)
					keyPress(event);
			});
		});
		
		function keyPress(event)
		{
			if(event.keyCode == 37 && $(".prev-button").attr("href") != undefined)
				window.location.href = $(".prev-button").attr('href');
			else if (event.keyCode == 39 && $(".next-button").attr("href") != undefined)
				window.location.href = $(".next-button").attr('href');
			else if (event.keyCode == 38)
				window.location.href = $("#path a:last-child").attr("href");
		}
	</script>

	{% set slides = view.slides(book, photo, 2) %}
	
	<ol class="slides">
		{% for slide in slides %}
			{% if slide %}
			<li class="slide slide.orientation {% if loop.index == 3 %}current{% endif %}">
				<a href="fotoboek.php?book={{ book.id }}&amp;photo={{ slide.id }}#foto">
					<img src="{{ slide.get_url(null, 400) }}" {{ 'width="%d" height="%d"'|vformat(slide.get_scaled_size(225, 225))|raw }}>
				</a>
			</li>
			{% else %}
			<li class="empty slide"></li>
			{% endif %}
		{% endfor %}
	</ol>


	<div class="photo-meta">
		{% macro format_face_label(face) -%}
			{%- if face.lid_id is not null -%}
				<a href="profiel.php?lid={{ face.lid.id }}" data-face-id="{{ face.id }}">{{ face.lid|personal_full_name }}</a>
			{%- elseif face.custom_label != '' -%}
				<span class="custom-label" data-face-id="{{ face.id }}">{{ face.custom_label }}</span>
			{%- else -%}
				<span data-face-id="{{ face.id }}">{{ __('Onbekend') }}</span>
			{%- endif -%}
		{%- endmacro -%}

		{% import _self as photo_macros %}

		{% if photo.faces|user_can_read|length > 0 or user_can_create controller.faces_controller.new_iter %}
			<p class="photo-faces" data-template-format="{{ {
				intro: __('Een foto met %s.'),
				unknown_sg: __('%d onbekend gezicht'),
				unknown_pl: __('%d onbekende gezichten'),
				and: __('en')
			}|json_encode|e('html_attr') }}">
				{% if photo.faces|user_can_read|length > 0 %}
					{# todo: array_merge([name]*,["%d onbekende gezichten"]?)|human_join(',') #}
					{{ __('Een foto met %s.')|format(photo.faces|user_can_read|map_macro('photo_macros.format_face_label')|human_join(','))|raw }}
				{% endif %}
				{% if user_can_create controller.faces_controller.new_iter %}
					<span class="toggle tag-faces-toggle"><input id="tagging-toggle" type="checkbox"><label for="tagging-toggle">{{ __('Tag gezichten') }}</label></span>
				{% endif %}
			</p>
		{% endif %}

		{% if global.auth.logged_in %}
		<div class="photo-controls">
			{% set liked = global.identity.member.id in photo.likes|select('lid_id') %}
			<form class="like-form" method="post" action="fotoboek.php?photo={{ photo.id }}&amp;module=likes">
				<input type="hidden" name="action" value="toggle">
				<button type="submit" class="like-button"
					title="{{ liked ? __('Haal markering als favoriet weg') : __('Markeer als favoriet') }}"
					data-title="{{ [__('Haal markering als favoriet weg'), __('Markeer als favoriet')]|json_encode|e('html_attr') }}"
					><span class="like-count">{{ photo.likes|length }}</span></button>
			</form>
			
			<a href="fotoboek.php?book={{ book.id }}&amp;photo={{ photo.id }}&amp;view=download" class="photo-download-link">{{ __('Download') }}</a>
			
			{% if global.identity.member.id in photo.faces|select('lid_id') %}
			<a href="fotoboek.php?photo={{ photo.id }}&amp;module=privacy" data-placement-selector="modal" data-partial-selector=".privacy-preference-form" class="photo-privacy-link">{{ __('Zichtbaarheid') }}</a>
			{% endif %}
		</div>
		{% endif %}

		{{ include('@theme/fotoboekreacties/index.twig', {comments: photo.comments, controller: controller.comments_controller}) }}
	</div>

</div>
{% endblock %}