{% extends '@layout/layout.twig' %}

{% block page %}
<section>
	{% set editable = global.models.Editable.get_iter_from_title('Startpagina') %}
	<article class="container is-content-optimized">
		<div class="level">
		{# Delete the title #}
		    {% if user_can_update editable %}
		        <div class="buttons level-right">
		            <a href="{{ link('editable.update', editable=editable) }}" class="button">
		                <span class="icon is-small">
		                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
		                </span>
		                <span>
		                    {{ __('Modify introduction') }}
		                </span>
		            </a>
		        </div>
		    {% endif %}
		</div>
	</article>
</section>

<section>
<div class="become-member-sign">
<h3 class="is-size-5 writing">-> Become a member</h3>
</div>
</section>

<section class="section">
	<div class="container">
		<!-- Start Carousel -->
		<div id="carousel-demo" class="carousel">
			<div class="item-1">
<figure class="image container is-256x256">
					<img src="https://assets-ouch.icons8.com/preview/510/f4abb05e-75f8-4c47-a62f-d9f8a263e588.png">
				 	</figure>			</div>
			<div class="item-2">
<figure class="image container is-256x256">
					<img src="https://assets-ouch.icons8.com/preview/510/f4abb05e-75f8-4c47-a62f-d9f8a263e588.png">
				 	</figure>			</div>
			<div class="item-3">
<figure class="image container is-256x256">
					<img src="https://assets-ouch.icons8.com/preview/510/f4abb05e-75f8-4c47-a62f-d9f8a263e588.png">
				 	</figure>			</div>
			<div class="item-4">
<figure class="image container is-256x256">
					<img src="https://assets-ouch.icons8.com/preview/510/f4abb05e-75f8-4c47-a62f-d9f8a263e588.png">
				 	</figure>			</div>
			<div class="item-5">
<figure class="image container is-256x256 ">
					<img src="https://assets-ouch.icons8.com/preview/388/72a4ece0-721d-4b86-b1f8-5963ca0d8341.png">
				 </figure>			</div>
			<div class="item-6">
<figure class="image container is-256x256 ">
					<img src="https://assets-ouch.icons8.com/preview/388/72a4ece0-721d-4b86-b1f8-5963ca0d8341.png">
				 </figure>			</div>
			<div class="item-7">
<figure class="image container is-256x256 ">
					<img src="https://assets-ouch.icons8.com/preview/388/72a4ece0-721d-4b86-b1f8-5963ca0d8341.png">
				 </figure>			</div>
			<div class="item-8">
<figure class="image container is-256x256 ">
					<img src="https://assets-ouch.icons8.com/preview/388/72a4ece0-721d-4b86-b1f8-5963ca0d8341.png">
				 </figure>			</div>
			<div class="item-9">
<figure class="image container is-256x256 ">
					<img src="https://assets-ouch.icons8.com/preview/388/72a4ece0-721d-4b86-b1f8-5963ca0d8341.png">
				 </figure>			</div>
		</div>
		<!-- End Carousel -->
	</div>
</section>

<section class="half-half">
	<section class="sectionMargin">
		<div class="containerMinimised is-centered"> 
				<div class="calendar">
				{{ include('@theme/homepage/_agenda.twig') }}
				</div>
		</div>
		
		<div class="containerMinimised is-centered">
				<h1 class="title">{{ editable.get_title }}</h1>
		</div>
		<div class="">
			<article class="message is-dark">
				<div class="message-body">
					{{ editable.locale_content|parse_markup }}
				</div>
			</article>
		</div>
	</section>
</section>

<section class="has-bg-cover">
	<section class="sectionMargin">
		<div class="container">
			<div class="columns is-vcentered">
				<div class="column">
					<h3 class="is-size-3 has-text-white has-text-centered has-text-weight-semibold">
						First, the social aspect
					</h3>
					<p class="has-text-white has-text-centered">We organise weekly borrels, monthly socials and tons of other activities.</p>
				</div>
				<div class="column">
				<figure class="image container is-256x256 ">
					<img src="https://assets-ouch.icons8.com/preview/388/72a4ece0-721d-4b86-b1f8-5963ca0d8341.png">
				 </figure>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="columns reverse-row-order ">
				<div class="column ">
				 <figure class="image container is-256x256">
				 		<img src="https://assets-ouch.icons8.com/preview/848/8ec7d27c-2d06-4a41-8fc5-1aa889c71895.png">
				 </figure>
				</div>
				<div class="column">
					<h3 class="is-size-3 has-text-white has-text-centered has-text-weight-semibold">
						Second, the study aspect
					</h3>
					<p class="has-text-white has-text-centered">We organise study support lectures about our degree programs. You can join workshops that either dig deeper into materials, or offer some fresh knowledge. You can also find help using our tutoring system!</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="columns is-vcentered">
				<div class="column">
					<h3 class="is-size-3 has-text-white has-text-centered has-text-weight-semibold">
						Third, the career aspect
					</h3>
					<p class="has-text-white has-text-centered">We also offer career oriented events. Regularly, we have companies over to hold talks about certain career paths. You will find this interesting if you want to talk to students who finished their studies and now work at companies or if you are interested in what companies are up to in general.</p>
				</div>
				<div class="column">
				<div class="cent">
					<figure class="image container is-256x256">
					<img src="https://assets-ouch.icons8.com/preview/510/f4abb05e-75f8-4c47-a62f-d9f8a263e588.png">
				 	</figure>
					 </div>
				</div>
			</div>
		</div>
	</section>
</section>
{# <section class="section">

</section> #}

{# the missing part is in a file called missing part #}
{% endblock %}
