{% extends '@layout/layout.twig' %}

{% block title (iter.has_id ? __('Update sticker') : __('Add a new sticker')) ~ ' :: ' ~ parent() %}

{% block content %}
<h1 class="title">{{ iter.has_id ? __('Update sticker') : __('Add a new sticker') }}</h1>
<form method="post" action="{{ view.get_form_action(iter) }}">
	<input type="hidden" name="lat">
	<input type="hidden" name="lng">

	{% if iter.has_id %}
		{{ html_nonce('update', iter) }}
	{% else %}
		{{ html_nonce('create', iter) }}
	{% endif %}

	<div class="field">
		{{ html_label(__('Label'), 'label', errors=errors, required=true) }}
		<div class="control">
			{{ html_input_text('label', iter, required='required', placeholder=__('E.g. on a lamppost')) }}
		</div>
	</div>

	<div class="field">
		{{ html_label(__('Message'), 'omschrijving', errors=errors, required=true) }}
		<div class="control">
			{{ html_textarea_field('omschrijving', iter) }}
		</div>
	</div>

	<div class="field">
		<label class="label" for="sticker-location">{{ __('Location') }} <small></small></label>
		<p class="help">{{ __('Drag or right click to place the marker') }}</p>
		<div class="sticker-location-picker">
			<div class="sticker-location-map"></div>
		</div>
	</div>

	<div class="field">
		<div class="control">
			<button type="submit" class="button is-primary">{{ __('Add sticker to map') }}</button>
		</div>
	</div>
</form>
{% endblock %}