{% extends '@layout/layout.twig' %}

{% block title __('Forgot your password?') ~ ' :: ' ~ parent() %}

{% block content %}
<h1>{{ __('Forgot your password?') }}</h1>
<div class="messageBox">
	<form class="vertical-form" method="post" action="">
		{{ html_nonce('request') }}
		{% if success is same as(true) %}
			<section class="success-section">
				<p>{{ __('An e-mail has been sent to %s. Follow the instructions in the mail to confirm your request for a new password.')|format(email_address) }}</p>
			</section>
		{% elseif success is same as(false) %}
			<section class="error-section">
				<p>{{ __('There is no account with the given E-mail address (%s).')|format(email_address) }}</p>
			</section>
		{% endif %}

		{% if not success %}
			<p>{{ __('Fill in your email address and click on `Reset password`. You will then receive an email with further instructions.') }}</p>
			
			<div>
				{{ html_label(__('E-Mail'), 'email', required=true) }}
				{{ html_input_text('email', null, type='email', required=true) }}
			</div>

			<div class="controls">
				<button type="submit" class="button">{{ __('Reset password') }}</button>
			</div>
		{% endif %}
	</form>
</div>
{% endblock %}