{% extends '@layout/layout.twig' %}

{% block title __('Change password') ~ ' :: ' ~ parent() %}

{% block content %}
<h1>{{ __('Change password') }}</h1>
<div class="messageBox">
	<form class="vertical-form" method="post" action="">
		{{ html_nonce('reset', token) }}
		{% if success is same as(true) %}
			<section class="success-section">
				<p>{{ __('Your password has been changed.') }}</p>
				<p><a href="sessions.php?view=login" class="button">{{ __('Log in') }}</a></p>
			</section>
		{% elseif success is same as(false) %}
			<section class="error-section">
				{% if 'password' in errors %}
					<p>{{ __('Your password is too short or too predictable. Try to make it longer and with more different characters.')}}</p>
				{% endif %}
				{% if 'password_repeat' in errors %}
					<p>{{ __('The two passwords are not the same.') }}</p>
				{% endif %}
			</section>
		{% endif %}

		{% if not success %}
			<p>{{ __('Choose a new password. Long passwords are great, passwords with different character types as well.') }}</p>
			
			<div>
				{{ html_label(__('New password'), 'password', required=true, errors=errors) }}
				{{ html_input_password('password', required=true, errors=errors) }}
			</div>

			<div>
				{{ html_label(__('Repeat password'), 'password_repeat', required=true, errors=errors) }}
				{{ html_input_password('password_repeat', required=true, errors=errors) }}
			</div>

			<div class="controls">
				<button type="submit" class="button">{{ __('Set password') }}</button>
			</div>
		{% endif %}
	</form>
</div>
{% endblock %}