{% extends '@layout/layout.twig' %}

{% block title __('No access') ~ ' – ' ~ parent() %}

{% block content %}
<article class="block">
	<h1 class="title">{{ __('No access') }}</h1>
	<div class="content">
	{% block error_message %}
		<p>{{ exception.message|default(__('Access to this part of the website is restricted.')) }}</p>
	{% endblock %}
	{% if not global.auth.logged_in %}
		<a href="{{ link('sessions.login', referer=global.server.REQUEST_URI) }}" data-placement-selector="modal" data-partial-selector="#login-form" class="button login">{{ __('Log in') }}</a>
		<span class="separator">{{ __('or') }}</span>
		<a href="lidworden.php" class="button register">{{ __('Become a member') }}</a>
		<p>{{ __('…or back to <a href="%s">the homepage</a>')|format('/')|raw }}</p>
	</div>
	{% endif %}
</article>
{% endblock %}