<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=9">
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<link rel="icon" type="image/png" href="images/favicon.png">
		<link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-152x152.png">		
		<title>{% block title %}Cover :: {{ __('Study Association for Artificial Intelligence and Computing Science') }}{% endblock %}</title>
		
		{% for stylesheet in view.stylesheets %}
		<link rel="stylesheet" href="{{ stylesheet }}" type="text/css">
		{% endfor %}
		
		{% for script in view.scripts %}
		<script src="{{ script }}"></script>
		{% endfor %}
	</head>
	<body class="without-menu">
		<div class="world">
			<div class="header clearfix">
				<a href="/"><img class="cover-logo" src="{{ link_static('images/cover_logo.png') }}" alt="logo"></a>
			</div>
			<div class="container clearfix">
				<div class="center column" id="contents">
					{% block content %}{% endblock %}
				</div>
			</div>
			<div class="footer">
				<a href="show.php?id=17">{{ __('Contact') }}</a>
				&mdash; <a href="//sd.svcover.nl/Privacy%20Statement/Privacy%20statement.pdf">{{ __('Privacy statement') }}</a>
			</div>
		</div>

		{% if view.layout.has_alert %}
			<script>alert({{ view.layout.pop_alert|json_encode|raw }})</script>
		{% endif %}

		<!-- Sentry -->
		{% if global.config.sentry_public_url %}
			<script src="https://cdn.ravenjs.com/3.10.0/raven.min.js"></script>
			<script>
				Raven.config({{ global.config.sentry_public_url|json_encode()|raw }}).install();
				{% if global.auth.logged_in %}
				Raven.setUserContext({ user_id: {{ global.identity.member.id|json_encode()|raw }} });
				{% endif %}
			</script>
		{% endif %}

		{% if global.db.history|length > 0 %}
			<script>
				console.info('Total number of queries run: %d (%0.1fms)', {{ global.db.history|length }}, {{ global.db.history|select('duration')|sum * 1000 }});
				console.groupCollapsed("Queries");
				{% for query in global.db.history %}
				console.info("Duration: %0.3fms: %s", {{query.duration * 1000}}, {{query.query|json_encode()|raw}}, {{ query.backtrace|json_encode()|raw }});
				{% endfor %}
				console.groupEnd();
			</script>
		{% endif %}
	</body>
</html>