<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=9">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="icon" type="image/png" href="images/favicon.png">
		<link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-152x152.png">		
		<title>{% block title %}Cover{% endblock %}</title>
		
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
	    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

		{% for stylesheet in view.stylesheets %}
		<link rel="stylesheet" href="{{ stylesheet }}" type="text/css">
		{% endfor %}
		
		{% for script in view.scripts %}
		<script src="{{ script }}"></script>
		{% endfor %}
	</head>
	<body class="has-navbar-fixed-top">
		<nav class="navbar is-danger is-fixed-top" role="navigation" aria-label="main navigation">
			<div class="container">
				<div class="navbar-brand">
					<a class="navbar-item" href="/">
						<img class="cover-logo" src="{{ link_static('images/cover_logo.png') }}" alt="Cover">
					</a>
				</div>
			</div>
		</nav>


		{% block page %}
			<section class="section">
				<div class="container">
					{% block content %}{% endblock %}
				</div>
			</section>
		{% endblock %}

		<footer class="footer">
			<div class="content has-text-centered">
				<a href="show.php?id=17">{{ __('Contact') }}</a>
				&mdash; <a href="//sd.svcover.nl/Privacy%20Statement/Privacy%20statement.pdf">{{ __('Privacy statement') }}</a>
				&mdash; <a href="https://bitbucket.org/cover-webcie/cover-php/issues">{{ __('Report a bug')}}</a>
			</div>
		</footer>

		{% if view.layout.has_alert %}
			<script>alert({{ view.layout.pop_alert|json_encode|raw }})</script>
		{% endif %}

		<!-- Sentry -->
		{% if global.config.sentry_public_url %}
			<script src="https://cdn.ravenjs.com/3.10.0/raven.min.js"></script>
			<script>
				Raven.config({{ global.config.sentry_public_url|json_encode()|raw }}).install();
				{% if global.auth.logged_in %}
				Raven.setUserContext({ user_id: {{ global.identity.member.id|json_encode()|raw }} });
				{% endif %}
			</script>
		{% endif %}

		{% if global.db.history|length > 0 %}
			<script>
				console.info('Total number of queries run: %d (%0.1fms)', {{ global.db.history|length }}, {{ global.db.history|select('duration')|sum * 1000 }});
				console.groupCollapsed("Queries");
				{% for query in global.db.history %}
				console.info("Duration: %0.3fms: %s", {{query.duration * 1000}}, {{query.query|json_encode()|raw}}, {{ query.backtrace|json_encode()|raw }});
				{% endfor %}
				console.groupEnd();
			</script>
		{% endif %}
	</body>
</html>