{% extends '@layout/layout.twig' %}

{% block title view.get_label(iter, __('Add a new key'), __('Modify key')) ~ ' – ' ~ parent() %}

{% block content %}
<h1 class="title">{{ view.get_label(iter, __('Add a new key'), __('Modify key')) }}</h1>
<form id="settings-form" method="post" action="{{ view.get_form_action(iter)|e('html_attr') }}">
	{% if iter.id != null %}
		{{ html_nonce('update', iter) }}
		<div class="field">
			{{ html_label(__('Key'), 'key', errors=errors, required=true) }}
			<div class="control">
				{{ html_input_text('key', iter, disabled='disabled') }}
			</div>
		</div>
	{% else %}
		{{ html_nonce('create', iter) }}
		<div class="field">
			{{ html_label(__('Key'), 'key', errors=errors, required=true) }}
			<div class="control">
				{{ html_input_text('key', iter, required='required', maxlength=100) }}
			</div>
		</div>
	{% endif %}

	<div class="field">
		{{ html_label(__('Value'), 'value', errors=errors, required=true) }}
		<div class="control">
			{{ html_textarea_field('value', iter) }}
		</div>
	</div>

	<div class="field">
		<div class="control buttons">
			<button type="submit" class="button is-primary">{{ view.get_label(iter, __('Add key'), __('Modify key')) }}</button>
			<a href="{{ controller.link_to_index|e('html_attr') }}" class="button">{{ __('Back to settings') }}</a>
		</div>
	</div>
</form>
{% endblock %}