{% extends '@layout/layout.twig' %}

{% block content %}
<h1 class="title">{{ __('Remove comment') }}</h1>
<form id="confirm-delete-comment-form" method="post" action="{{ controller.link_to_delete(iter)|e('html_attr') }}">
	{{ html_nonce('delete', iter) }}
	<div class="field">
		<p>{{ __('Are you certain you want to delete the comment posted by <em>%s</em>?')|format(iter.auteur|personal_full_name|e('html'))|raw }}</p>
	</div>
	<div class="field">
		<div class="control buttons">
			<button type="submit" class="button is-danger">{{ __('Remove comment') }}</button>
			<a href="{{ controller.link_to_read(iter) }}" class="button">{{ __('Return to photo') }}</a>
		</div>
	</div>
</form>
</div>
{% endblock %}