<div class="field">
	{{ html_label(__('Address'), name ~ '-address', errors=errors, required=configuration.required) }}
    <div class="control">
        {{ html_input_text(name ~ '-address', data, errors=errors, required=configuration.required, placeholder=__('E.g. Nijenborgh 9')) }}
    </div>
	<p class="help">{{ __('Street name + number') }}</p>
</div>
<div class="field">
	{{ html_label(__('Place of residence'), name ~ '-city', errors=errors, required=configuration.required) }}
    <div class="control">
    	{{ html_input_text(name ~ '-city', data, errors=errors, required=configuration.required, placeholder=__('E.g. Groningen')) }}
    </div>
</div>