<div class="field">
	{{ html_label(__('IBAN'), name ~ '-iban', errors=errors, required=configuration.required) }}
    <div class="control">
    	{{ html_input_text(name ~ '-iban', data, errors=errors, required=configuration.required) }}
    </div>
</div>
<div class="field">
	{{ html_label(__('BIC'), name ~ '-bic', errors=errors) }}
    <div class="control">
    	{{ html_input_text(name ~ '-bic', data, errors=errors) }}
    </div>
	<p class="help">{{ __("Only required if your IBAN [i]does not[/i] start with 'NL'")|parse_markup }}</p>
</div>
