{% set current_month = -1 %}
{% set show_year = true %}
{% import 'macros.twig' as macros %}

<ul class="event-list columns is-multiline">
{% for event in events %}
    {% if current_month != event.van|date('n') %}
        <li class="column is-full">
            <h2 class="title is-4">
                {{ months[event.van|date('n')] }}
                {% if show_year %}{{ event.van|date('Y') }}{% endif %}
            </h2>
        </li>
        {% set current_month = event.van|date('n') %}
    {% endif %}
    <li class="event {% if event.image_url %}has-image{% endif %} {% if event.is_proposal() %}is-proposal{% endif %} column is-half-tablet is-one-third-widescreen is-one-quarter-fullhd">
        <a href="{{ controller.link_to_read(event) }}" class="cover-thumbnail is-2by1">
            <div class="overlay">
                <div class="date boxed-title-wrapper">
                    <span class="boxed-title is-size-7 has-text-weight-normal">
                        {{ macros.format_period_short(event) }}
                    </span>
                </div>
                <div class="name boxed-title-wrapper">
                    <h3 class="boxed-title is-size-6">
                        {{ event.kop }}
                    </h3>
                </div>
                {% if event.is_proposal() %}
                    <div class="label-pending boxed-title-wrapper">
                        <span class="boxed-title is-size-7 has-text-black has-background-warning">
                            {{ __('Waiting for approval') }}
                        </span>
                    </div>
                {% endif %}
            </div>
            {% if event.image_url %}
                <figure class="image">
                    <img src="{{ event.image_url }}" alt="{{ event.kop }}">
                </figure>
            {% endif %}
        </a>
    </li>
{% else %}
    <li class="column is-full has-text-centered">{{ __('No events found :(') }}</li>
{% endfor %}
</ul>
