{% extends '@layout/layout.twig' %}

{% block title __('Delete calendar event') ~ ' :: ' ~ parent() %}

{% block content %}
<h1>{{ __('Delete calendar event') }}</h1>
<div class="messageBox">
	<form method="post" action="{{ controller.link_to_delete(iter) }}" class="vertical-form">
		{{ html_nonce('delete', iter) }}
		<p>{{ __('Are you certain you want to delete the calendar event <em>%s</em>?')|format(iter.kop|e('html'))|raw }}</p>
		<div>
			<button type="submit" class="button">{{ __('Delete calendar event')  }}</button>
			<a href="{{ controller.link_to_read(iter) }}">{{ __('Back to calendar event') }}</a>
		</div>
	</form>
</div>
{% endblock %}