{% extends '@layout/layout.twig' %}

{% block title (iter.has_id ? __('Modify calendar event') : __('Add a calendar event')) ~ ' :: ' ~ parent() %}

{% block content %}
<h1 class="title">{{ iter.has_id ? __('Modify calendar event') : __('Add a calendar event') }}</h1>

<form class="vertical-form" name="agenda_form" action="{{ view.get_form_action(iter) }}" method="post">
	{% if errors %}
		<p class="notification is-danger">{{ __("You haven't filled in all the fields correctly") }}</p>
	{% endif %}

	{% if iter.has_id %}
		{{ html_nonce('update', iter) }}
	{% else %}
		{{ html_nonce('create', iter) }}
	{% endif %}
	
	<div class="field">
		{{ html_label(__('Head'), 'kop', errors=errors, required=true) }}
		<div class="control">
			{{ html_input_text('kop', iter, maxlength=100, required=true) }}
		</div>
	</div>

	<div class="field">
		{{ html_label(__('Committee'), 'committee_id', errors=errors, required=true) }}
		<div class="control">
			<div class="select">
				{{ html_select_field('committee_id', view.available_committees, iter, required=true) }}
			</div>
		</div>
	</div>

	<div class="field">
		{{ html_label(__('Starting time'), 'van', errors=errors, required=true) }}
		<div class="control">
			{{ html_input_datetime('van', iter, errors=errors, required=true) }}
		</div>
	</div>

	<div class="field">
		<label for="tot" class="label">
			{{ html_input_checkbox('use_tot', iter, value='yes', id='agenda_use_tot', onclick='set_visibility(this, \'agenda_tot\')', class='field-toggle') }}
			{{ __('End time') }}
		</label>
		<div class="control" id="agenda_tot">
			{{ html_input_datetime('tot', iter, errors=errors) }}
		</div>
	</div>

	<div class="field">
		<label for="locatie" class="label">
			{{ html_input_checkbox('use_locatie', iter, value='yes', id='agenda_use_locatie', onclick='set_visibility(this, \'agenda_locatie\')', class='field-toggle') }}
			{{ __('Location') }}
		</label>
		<div class="control" id="agenda_locatie">
			{{ html_input_text('locatie', iter, maxlength=100, data_autocomplete='location') }}
		</div>
	</div>

	<div class="field">
		{{ html_label(__('Facebook Event'), 'facebook_id', errors=errors) }}
		<div class="control">
			{{ html_input_text('facebook_id', iter, size='20') }}
		</div>
	</div>

	<div class="field">
		{{ html_label(__('Description'), 'beschrijving', errors=errors) }}
		<div class="tabs-wrapper">
			<div class="tabs is-toggle">
				<ul>
					<li class="is-active">
						<a href="#beschrijving-tab">{{ __('Raw') }}</a>
					</li>
					<li>
						<a href="#beschrijving-preview-tab">{{ __('Preview') }}</a>
					</li>
				</ul>
			</div>

			<div class="tabs-content">
				<div id="beschrijving-tab">
					{{ html_textarea_field('beschrijving', iter, errors=errors, cols=50, rows=7) }}
				</div>
				<div id="beschrijving-preview-tab" data-preview-source="#beschrijving-tab textarea" data-preview-url="agenda.php?view=preview">
					<span class="loading">{{ __('Loading preview…') }}</span>
				</div>
			</div>
		</div>
	</div>
			
	<div class="field">
		<div class="control">
			{{ html_input_checkbox('private', iter, label=__('Only visible to members'), errors=errors) }}
		</div>
	</div>
	
	<div class="field">
		<div class="control">
			{{ html_input_checkbox('extern', iter, label=__('External activity'), errors=errors) }}
		</div>
	</div>
				
	<div class="field">
		<div class="control buttons">
			<button type="submit" class="button is-primary">
				{{ iter.has_id ? __('Modify calendar event') : __('Create calendar event') }}
			</button>
		</div>
	</div>
</form>

<script type="text/javascript">
	check_checkbox("agenda_use_tot", "agenda_tot");
	check_checkbox("agenda_use_locatie", "agenda_locatie");
	
	function check_checkbox(box, div) {
		box = document.getElementById(box);
		div = document.getElementById(div);
		
		if (box.getAttribute("checked") === "checked")
			div.style.display = "block";
		else
			div.style.display = "none";
		
	}

	function set_visibility(elem, div) {
		div = document.getElementById(div);

		if (elem.checked)
			div.style.display = "block";
		else
			div.style.display = "none";
	}

	jQuery('input[name=facebook_id]').change(function(e) {
		var expr = /^https:\/\/www\.facebook\.com\/events\/(\d+)\//;
		var match = $(this).val().match(expr);

		if (match)
			$(this).val(match[1]);
	});
</script>
</div>
{% endblock %}