{% extends '@layout/layout.twig' %}

{% block title view.title ~ ' – ' ~ parent() %}

{% block content %}
<header>
	<div class="level">
		<div class="level-left">
			<h1 class="title">{{ view.title }}</h1>
		</div>
		<div class="level-right buttons">
			{% if global.auth.logged_in %}
				<div class="dropdown is-hoverable">
					<div class="dropdown-trigger">
						<button class="button" aria-haspopup="true" aria-controls="export-menu">
							<span>{{ __('Export') }}</span>
							<span class="icon is-small">
								<i class="fas fa-angle-down" aria-hidden="true"></i>
							</span>
						</button>
					</div>
					<div class="dropdown-menu" id="export-menu" role="menu">
						<div class="dropdown-content">
							<div class="dropdown-item">
								<p>{{ __('Add the Cover Calendar to your own calendar') }}</p>
							</div>
							<hr class="dropdown-divider">
							<a class="dropdown-item" href="https://calendar.google.com/calendar/render?cid={{'webcal://www.svcover.nl/agenda.php?format=webcal&session_id='|url_encode }}{{ global.models.Session.getForApplication(global.identity.get('id'), 'calendar').get('session_id') }}" target="_blank">
								Google Calendar
							</a>
							<a class="dropdown-item" href="http://calendar.live.com/calendar/calendar.aspx?rru=addsubscription&url={{'webcal://www.svcover.nl/agenda.php?format=webcal%26session_id='|url_encode }}{{ global.models.Session.getForApplication(global.identity.get('id'), 'calendar').get('session_id') }}" target="_blank">
								Outlook.com
							</a>
							<a class="dropdown-item" href="webcal://www.svcover.nl/agenda.php?format=webcal&session_id={{ global.models.Session.getForApplication(global.identity.get('id'), 'calendar').get('session_id') }}">
								iCloud/other
							</a>
						</div>
					</div>
				</div>
			{% endif %}
		    {% if user_can_create controller.new_iter %}
				<a href="{{ controller.link_to_create() }}" class="button">{{ __('New event') }}</a>
			{% endif%}
		</div>
	</div>
	{% if not global.auth.logged_in %}
		<div class="notification">
			{{ __('Log in to view hidden events.') }}
		</div>
	{% endif %}
	<nav class="pagination is-centered" role="navigation" aria-label="pagination">
		{% if view.previous_year %}
			<a href="agenda.php?year={{ view.previous_year }}" class="pagination-previous">
				{{ __('Show the complete year %d-%d')|format(view.previous_year, view.previous_year + 1) }}
			</a>
		{% endif %}
		{% if view.next_year %}
			<a href="agenda.php?year={{ view.next_year }}" class="pagination-next">
				{{ __('Show the complete year %d-%d')|format(view.next_year, view.next_year + 1) }}
			</a>
		{% elseif globals.GET.year is defined %}
			<a href="agenda.php" class="pagination-next">
				{{ __('Show current agenda') }}
			</a>
		{% endif %}
		{# Needs this to display pagination correctly #}
		<ul class="pagination-list"></ul>
	</nav>
</header>

<article>
{% set curmaand = -1 %}
{% set showyear = true %}

{% if iters|length == 0 %}
	<p>{{ __('There are no activities on the calendar at the moment.') }}</p>
{% else %}
	{% for punt in iters %}
		{% if curmaand != punt.van|date('n') %}
			<h2 class="title is-4">
				{{ months[punt.van|date('n')] }}
				{% if show_year %}{{ punt.van|date('Y') }}{% endif %}
			</h2>
			{% set curmaand = punt.van|date('n') %}
		{% endif %}
		<div class="media">
			<div class="media-left calendar-icon">
				<span class="month">{{ punt.van|date('M') }}</span>
				<span class="day">{{ punt.van|date('d') }}</span>
			</div>
			<div class="media-content">
				<h3 class="title is-5">
					<a class="agendalink" href="{{ controller.link_to_read(punt) }}">{{ punt.kop }}</a>
					{% if punt.is_proposal %}
						<span class="tag is-danger">{{ __('Not yet published') }}</span>
					{% endif %}
				</h3>
				
				<div class="content">
					<p>{{ punt|period }}</p>
					{% if punt.locatie %}
						<p>
							{{ __('Location') }}: {{ punt.locatie }}
						</p>
					{% endif %}
				
					{% if punt.extern %}
						<p class="has-text-danger">{{  __('This activity is not organised by Cover.') }}</p>
					{% endif %}

					<p>
						{{ punt.beschrijving|parse_markup }}
					</p>
				</div>

				<nav class="level is-mobile">
					<div class="level-left">
						{% if user_can_update punt %}
							<a class="level-item" href="{{ controller.link_to_update(punt) }}" title="{{ __('Modify event') }}">
								<span class="icon is-small">
									<i class="fas fa-pencil-alt" aria-hidden="true"></i>
									<span class="is-sr-only">{{ __('Modify event') }}</span>
								</span>
							</a>
						{% endif %}
						{% if user_can_delete punt %}
							<a class="level-item" href="{{ controller.link_to_delete(punt) }}" title="{{ __('Delete event') }}">
								<span class="icon is-small">
									<i class="fas fa-trash" aria-hidden="true"></i>
									<span class="is-sr-only">{{ __('Delete event') }}</span>
								</span>
							</a>
						{% endif %}
					</div>	
				</nav>
			</div>
		</div>
	{% endfor %}
{% endif %}
</article>
{% endblock %}