{% extends '@layout/layout.twig' %}

{% block title view.title ~ ' :: ' ~ parent() %}

{% block content %}
<div class="pageHeading">
	{% if user_can_create controller.new_iter %}
		<div class="controls inline"><a href="{{ controller.link_to_create() }}" class="create-link">{{ __('Nieuw agendapunt') }}</a></div>
	{% endif %}
	<h1>{{ view.title }}</h1>
</div>

<div class="messageBox">
{% if not global.auth.logged_in %}
	<p class="italic">{{ __('Log in om eventuele afgeschermde agendapunten te bekijken.') }}</p>
{% endif %}

<div class="navigation">
	{% if view.previous_year %}
	<a href="agenda.php?year={{ view.previous_year }}" class="previous">
		{{ __('Toon alles uit het jaar %d-%d')|format(view.previous_year, view.previous_year + 1) }}
	</a>
	{% endif %}

	{% if view.next_year %}
	<a href="agenda.php?year={{ view.next_year }}" class="next">
		{{ __('Toon alles uit het jaar %d-%d')|format(view.next_year, view.next_year + 1) }}
	</a>
	{% elseif globals.GET.year is defined %}
	<a href="agenda.php" class="next">
		{{ __('Toon actuele agenda') }}
	</a>
	{% endif %}
</div>

{% set curmaand = -1 %}
{% set showyear = true %}

{% if iters|length == 0 %}
	<p>{{ __('Er staan op dit moment geen activiteiten op de agenda.') }}</p>
{% else %}
<table class="agenda" style="background-color: #000;">
{% for punt in iters %}
	{% if curmaand != punt.van|date('n') %}
		</table>
		<h2>
			{{ months[punt.van|date('n')] }}
			{% if show_year %}{{ punt.van|date('Y') }}{% endif %}
		</h2>
		<table class="agenda">
		{% set curmaand = punt.van|date('n') %}
	{% endif %}
	
	<tr>
		<td class="vandatum">
			<div class="calendar-icon">
				<span class="month">{{ punt.van|date('M') }}</span>
				<span class="day">{{ punt.van|date('d') }}</span>
			</div>
		</td>
		<td>
			<a class="agendalink" href="{{ controller.link_to_read(punt) }}">{{ punt.kop }}</a><br>
			{% if punt.is_proposal %}<span class="label-pending">{{ __('Nog niet gepubliceerd') }}</span><br>{% endif %}
			
			{{ punt|period }}<br>

			{% if punt.locatie %}
			{{ __('Locatie') }}: {{ punt.locatie }}<br>
			{% endif %}

			<ul class="actions">
				{% if user_can_delete punt %}
				<li><a href="{{ controller.link_to_delete(punt) }}">{{ __('Verwijder') }}</a></li>
				{% endif %}
				{% if user_can_update punt %}
				<li><a href="{{ controller.link_to_update(punt) }}">{{ __('Wijzig') }}</a></li>
				{% endif %}
			</ul>
		</td>
	</tr>
{% endfor %}
</table>
{% endif %}

{% if global.auth.logged_in %}
<footer class="alt-section">
	<p>
		{{ __('Voeg de Coveragenda toe aan je eigen agenda:') }}
		<a href="https://calendar.google.com/calendar/render?cid={{'webcal://www.svcover.nl/agenda.php?format=webcal&session_id='|url_encode }}{{ global.models.Session.getForApplication(global.identity.get('id'), 'calendar').get('session_id') }}" target="_blank">Google Calendar</a>,
		<a href="http://calendar.live.com/calendar/calendar.aspx?rru=addsubscription&url={{'webcal://www.svcover.nl/agenda.php?format=webcal%26session_id='|url_encode }}{{ global.models.Session.getForApplication(global.identity.get('id'), 'calendar').get('session_id') }}" target="_blank">Outlook.com</a>
		{{ __('of') }}
		<a href="webcal://www.svcover.nl/agenda.php?format=webcal&session_id={{ global.models.Session.getForApplication(global.identity.get('id'), 'calendar').get('session_id') }}" target="_blank">iCloud/other</a>
	</p>
</footer>
{% endif %}
</div>
{% endblock %}