<div class="signup-form">
{% for entry in form.get_entries_for_member(global.identity.member) %}
	<p>{{ __('Je heb je aangemeld!') }} {% if user_can_update entry %}<a href="signup.php?view=update_entry&amp;form={{form.id}}&amp;entry={{entry.id}}">{{ __('Bewerk je aanmelding.') }}</a>{% endif %}</p>
{% else %}
	{% set entry = form.new_entry(global.identity.member) %}
	<form action="{{ 'signup.php?view=create_entry&form=' ~ form.id }}" method="post" class="vertical-form">
		{{ html_input_hidden('return-path', controller.link_to_read(form.agenda_item)) }}
		{% if entry.has_id %}
			{{ html_nonce('update_entry', entry) }}
		{% else %}
			{{ html_nonce('create_entry', form) }}
		{% endif %}
		
		{% for field in form.fields %}
			<div>
				{{ field.render(view, entry)|raw }}
			</div>
		{% endfor %}

		<div class="controls">
			<button class="button" type="submit">{{ entry.has_id ? __('Wijzig inschrijving') : __('Schrijf mij in') }}</button>
		</div>
	</form>
{% endfor %}
</div>