{% extends '@layout/layout.twig' %}

{% block title __('Delete poll') ~ ' – ' ~ parent() %}

{% block content %}
<div class="modal is-static">
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{{ __('Delete poll') }}</p>
        </header>
        <section class="modal-card-body">
            {{ form_start(form, {'id': 'delete-poll-form', 'action': path('poll', {view: 'delete', id: iter.id}) }) }}
                <div class="field">
                    <p>{{ __('Are you sure you want to delete this poll?') }}</p>
                </div>
                {% set submit_button = form_widget(form.submit, {label: __('Delete poll'), color: 'danger', attr: {form: 'delete-poll-form'}}) %}
            {{ form_end(form) }}
        </section>
        <footer class="modal-card-foot">
            <a href="{{ path('poll.list') }}" class="button" data-dismiss="modal">{{ __('Back to poll') }}</a>
            {{ submit_button|raw }}
        </footer>
    </div>
</div>
{% endblock %}