{% extends '@layout/layout.twig' %}

{% block title __('Polls') ~ ' – ' ~ parent() %}

{% from '@theme/polls/macros.twig' import render_pagination, render_poll %}

{% block content %}
<header class="media poll-header">
    <div class="media-content">
        <h1 class="title">{{ __('Polls') }}</h1>
    </div>
    <div class="media-right buttons">
        {% if user_can_create controller.new_iter %}
            <a href="{{ path('poll.create') }}" class="button">
                <span class="icon is-small">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </span>
                <span>{{ __('New poll')  }}</span>
            </a>
        {% endif %}
    </div>
</header>
{% if page > 0 and page_count > 1 %}
    {{ render_pagination(page, page_count) }}
{% endif %}
<section class="block">
{% for poll in iters %}
    {{ render_poll(poll) }}
{% endfor %}
</section>
{% if page_count > 1 %}
    {{ render_pagination(page, page_count) }}
</nav>
{% endif %}
{% endblock %}
