{% extends '@layout/layout.twig' %}

{% block title __('Polls') ~ ' – ' ~ parent() %}

{% from '@theme/polls/macros.twig' import render_pagination %}

{% block content %}
<header class="media poll-header">
    <div class="media-content">
        <h1 class="title">{{ __('Polls') }}</h1>
    </div>
    <div class="media-right buttons">
        {% if user_can_create controller.new_iter %}
            <a href="{{ path('poll.create') }}" class="button">
                <span class="icon is-small">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </span>
                <span>{{ __('New poll')  }}</span>
            </a>
        {% endif %}
    </div>
</header>
{% if page > 0 and page_count > 1 %}
    {{ render_pagination(page, page_count) }}
{% endif %}
<section class="block">
{% for poll in iters %}
    <div class="media poll">
        <figure class="media-left is-hidden-mobile">
            {% if poll.committee %}
                <a class="image is-64x64" href="{{ path('committees', {commissie: poll.committee.login}) }}" title="{{ poll.committee.naam }}" aria-label="{{ poll.committee.naam }}">
                    <span class="committee-avatar" aria-hidden="true">
                        <span class="icon is-large">
                            <i class="fas fa-users fa-2x"></i>
                        </span>
                    </span>
                </a>
            {% elseif poll.member %}
                <a class="image is-64x64" href="{{ path('profile', {lid: poll.member.id}) }}" title="{{ poll.member.full_name }}" aria-label="{{ poll.member.full_name }}">
                    <img class="is-rounded" width="64" height="64" src="{{ path('profile_picture', {lid_id: poll.member.id, format: 'square', width: 128}) }}" alt="{{ __('Photo of %s')|format(poll.member|full_name) }}">
                </a>
            {% else %}
                <div class="image is-64x64">
                    <span class="committee-avatar" title="{{ __('Anonymous') }}" aria-hidden="true">
                        <span class="icon is-large">
                            <i class="fas fa-user-secret fa-2x"></i>
                        </span>
                    </span>
                </div>
            {% endif %}
        </figure>
        <div class="media-content">
            <div class="content">
                {% if global.policies.NewPoll.user_can_close(poll) or global.policies.NewPoll.user_can_close(poll) or user_can_delete poll %}
                    <div class="dropdown is-right is-pulled-right">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                    <span class="is-sr-only">{{ __('Manage') }}</span>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                {% if poll.is_open and global.policies.NewPoll.user_can_close(poll) %}
                                    <a class="dropdown-item"
                                        href="{{ path('poll', {view: 'close', id: poll.id}) }}"
                                        data-popup="modal"
                                    >
                                        {{ __('Close poll') }}
                                    </a>
                                {% endif %}
                                {% if not poll.is_open and global.policies.NewPoll.user_can_reopen(poll) %}
                                    <a class="dropdown-item"
                                        href="{{ path('poll', {view: 'reopen', id: poll.id}) }}"
                                        data-popup="modal"
                                    >
                                        {{ __('Reopen poll') }}
                                    </a>
                                {% endif %}
                                {% if user_can_delete poll %}
                                    <a class="dropdown-item"
                                        href="{{ path('poll', {view: 'delete', id: poll.id}) }}"
                                        data-popup="modal"
                                    >
                                        {{ __('Delete poll') }}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="poll-meta">
                    <span class="is-hidden-tablet">
                        {% if poll.committee %}
                            <a class="image is-48x48" href="{{ path('committees', {commissie: poll.committee.login}) }}" title="{{ poll.committee.naam }}" aria-label="{{ poll.committee.naam }}">
                                <span class="committee-avatar" aria-hidden="true">
                                    <span class="icon">
                                        <i class="fas fa-users"></i>
                                    </span>
                                </span>
                            </a>
                        {% elseif poll.member %}
                            <a class="image is-48x48" href="{{ path('profile', {lid: poll.member.id}) }}" title="{{ poll.member.full_name }}" aria-label="{{ poll.member.full_name }}">
                                <img class="is-rounded" width="48" height="48" src="{{ path('profile_picture', {lid_id: poll.member.id, format: 'square', width: 96}) }}" alt="{{ __('Photo of %s')|format(poll.member|full_name) }}">
                            </a>
                        {% else %}
                            <span class="image is-48x48">
                                <span class="committee-avatar" title="{{ __('Anonymous') }}" aria-hidden="true">
                                    <span class="icon">
                                        <i class="fas fa-user-secret"></i>
                                    </span>
                                </span>
                            </span>
                        {% endif %}
                    </span>
                    <ul>
                    {# {% spaceless %} #}
                        <li>
                            <strong>
                                {% if poll.committee %}
                                    <a href="{{ path('committees', {commissie: poll.committee.login}) }}">
                                        {{ poll.committee.naam }}
                                    </a>
                                {% elseif poll.member %}
                                    <a href="{{ path('profile', {lid: poll.member.id}) }}">
                                        {{ poll.member.full_name }}
                                    </a>
                                {% else %}
                                    {{ __('Anonymous') }}
                                {% endif %}
                            </strong>
                        </li>
                        <li class="divider"></li>
                        <li class="is-size-7" title="{{ poll.created_on|date('d-m-Y H:i') }}">
                            {# <small > #}
                                {{ poll.created_on|date_relative }}
                            {# </small> #}
                        </li>
                    {# {% endspaceless %} #}
                    </ul>
                </div>
                <p>
                    {{ poll.question|parse_markup }}
                </p>
            </div>
            <div class="block">
                {% if not poll.is_open or poll.member_has_voted %}
                    {# Thou hath voted or thou art too late! #}
                    {% for option in poll.options %}
                    <div class="poll-option" title="{{ option.option }}">
                        {% set percentage = option.votes / max(poll.total_votes, 1) %}
                        <label for="poll-option-{{ option.id }}-result" class="is-truncated">
                            <span>
                                {{ option.option }}
                                {% if option.id == poll.member_vote %}
                                    <i class="far fa-check-circle" aria-hidden="true" title="{{ __('You voted for this option') }}"></i>
                                    <span class="is-sr-only">{{ __('You voted for this option') }}</span>
                                {% endif %}
                            </span>
                        </label>
                        <span class="percentage">
                            {{ percentage|format_percent_number }}
                        </span>
                        <meter id="poll-option-{{ option.id }}-result" max="{{ max(poll.total_votes, 1) }}" value="{{ option.votes }}">
                            {{ percentage|format_percent_number }}
                        </meter>
                    </div>
                    {% endfor %}
                    <p>
                        {{ __('Total votes') }}: {{ poll.total_votes }}
                        {% if not poll.is_open %}
                            <span class="divider"></span>
                            {{ __('Final result') }}
                        {% endif %}
                    </p>
                {# {% if global.policies.NewPoll.user_can_vote(poll) %} #}
                {% else %}
                    {# Thou canst vote or thou art not logged in! (Vote view will redirect to login if needed. This way, we don't spoil the results.) #}
                    <form action="{{ path('poll', {view: 'vote', id: poll.id, referrer: global.server.REQUEST_URI}) }}" method="post">
                        <input type="hidden" name="form[_token]" value="{{ csrf_token('vote_poll_' ~ poll.id) }}">
                        <div class="buttons">
                        {% for option in poll.options %}
                            <button name="form[option]" value="{{ option.id }}" type="submit" class="button is-fullwidth">
                                {{ option.option }}
                            </button>
                        {% endfor %}
                        </div>
                    </form>
                {% endif %}
            </div>
            {# <div class="controls level is-mobile">
                <div class="level-left">
                </div>
            </div> #}
        </div>
    </div>
{% endfor %}
</section>
{% if page_count > 1 %}
    {{ render_pagination(page, page_count) }}
</nav>
{% endif %}
{% endblock %}
