{% macro render_pagination(page, page_count) %}
<nav class="level is-mobile poll-pagination">
    <div class="level-left">
        {% if page > 0 %}
            <a href="{{ path('poll.list', {page: page - 1})}}" class="level-item button">
                <span class="icon"><i class="fas fa-arrow-left" aria-hidden="true"></i></span>
                <span>{{ __('Previous') }}</span>
            </a>
        {% endif %}
    </div>
    <div class="level-right">
        {% if page < page_count - 1 %}
            <a href="{{ path('poll.list', {page: page + 1})}}" class="level-item button">
                <span>{{ __('Next') }}</span>
                <span class="icon"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
            </a>
        {% endif %}
    </div>
</nav>
{% endmacro %}

{% macro render_poll(poll, show_comements = true) %}
<div class="media poll">
    <figure class="media-left is-hidden-mobile">
        {% if poll.committee %}
            <a class="image is-64x64" href="{{ path('committees', {commissie: poll.committee.login}) }}" title="{{ poll.committee.naam }}" aria-label="{{ poll.committee.naam }}">
                <span class="committee-avatar" aria-hidden="true">
                    <span class="icon is-large">
                        <i class="fas fa-users fa-2x"></i>
                    </span>
                </span>
            </a>
        {% elseif poll.member %}
            <a class="image is-64x64" href="{{ path('profile', {lid: poll.member.id}) }}" title="{{ poll.member.full_name }}" aria-label="{{ poll.member.full_name }}">
                <img class="is-rounded" width="64" height="64" src="{{ path('profile_picture', {lid_id: poll.member.id, format: 'square', width: 128}) }}" alt="{{ __('Photo of %s')|format(poll.member|full_name) }}">
            </a>
        {% else %}
            <div class="image is-64x64">
                <span class="committee-avatar" title="{{ __('Anonymous') }}" aria-hidden="true">
                    <span class="icon is-large">
                        <i class="fas fa-user-secret fa-2x"></i>
                    </span>
                </span>
            </div>
        {% endif %}
    </figure>
    <div class="media-content">
        <div class="content">
            <div class="poll-meta">
                <span class="is-hidden-tablet">
                    {% if poll.committee %}
                        <a class="image is-48x48" href="{{ path('committees', {commissie: poll.committee.login}) }}" title="{{ poll.committee.naam }}" aria-label="{{ poll.committee.naam }}">
                            <span class="committee-avatar" aria-hidden="true">
                                <span class="icon">
                                    <i class="fas fa-users"></i>
                                </span>
                            </span>
                        </a>
                    {% elseif poll.member %}
                        <a class="image is-48x48" href="{{ path('profile', {lid: poll.member.id}) }}" title="{{ poll.member.full_name }}" aria-label="{{ poll.member.full_name }}">
                            <img class="is-rounded" width="48" height="48" src="{{ path('profile_picture', {lid_id: poll.member.id, format: 'square', width: 96}) }}" alt="{{ __('Photo of %s')|format(poll.member|full_name) }}">
                        </a>
                    {% else %}
                        <span class="image is-48x48">
                            <span class="committee-avatar" title="{{ __('Anonymous') }}" aria-hidden="true">
                                <span class="icon">
                                    <i class="fas fa-user-secret"></i>
                                </span>
                            </span>
                        </span>
                    {% endif %}
                </span>
                <ul>
                {# {% spaceless %} #}
                    <li>
                        <strong>
                            {% if poll.committee %}
                                <a href="{{ path('committees', {commissie: poll.committee.login}) }}">
                                    {{ poll.committee.naam }}
                                </a>
                            {% elseif poll.member %}
                                <a href="{{ path('profile', {lid: poll.member.id}) }}">
                                    {{ poll.member.full_name }}
                                </a>
                            {% else %}
                                {{ __('Anonymous') }}
                            {% endif %}
                        </strong>
                    </li>
                    <li class="divider"></li>
                    <li class="is-size-7" title="{{ poll.created_on|date('d-m-Y H:i') }}">
                        {# <small > #}
                            {{ poll.created_on|date_relative }}
                        {# </small> #}
                    </li>
                {# {% endspaceless %} #}
                </ul>
            </div>
            <p>
                {{ poll.question|parse_markup }}
            </p>
        </div>
        <div class="block">
            {% if not poll.is_open or poll.member_has_voted %}
                {# Thou hath voted or thou art too late! #}
                {% for option in poll.options %}
                <div class="poll-option" title="{{ option.option }}">
                    {% set percentage = option.votes / max(poll.total_votes, 1) %}
                    <label for="poll-option-{{ option.id }}-result" class="is-truncated">
                        <span>
                            {{ option.option }}
                            {% if option.id == poll.member_vote %}
                                <i class="far fa-check-circle" aria-hidden="true" title="{{ __('You voted for this option') }}"></i>
                                <span class="is-sr-only">{{ __('You voted for this option') }}</span>
                            {% endif %}
                        </span>
                    </label>
                    <span class="percentage">
                        {{ percentage|format_percent_number }}
                    </span>
                    <meter id="poll-option-{{ option.id }}-result" max="{{ max(poll.total_votes, 1) }}" value="{{ option.votes }}">
                        {{ percentage|format_percent_number }}
                    </meter>
                </div>
                {% endfor %}
                <p>
                    {{ __('Total votes') }}: {{ poll.total_votes }}
                    {% if not poll.is_open %}
                        <span class="divider"></span>
                        {{ __('Final result') }}
                    {% endif %}
                </p>
            {# {% if global.policies.NewPoll.user_can_vote(poll) %} #}
            {% else %}
                {# Thou canst vote or thou art not logged in! (Vote view will redirect to login if needed. This way, we don't spoil the results.) #}
                <form action="{{ path('poll', {view: 'vote', id: poll.id, referrer: global.server.REQUEST_URI}) }}" method="post">
                    <input type="hidden" name="form[_token]" value="{{ csrf_token('vote_poll_' ~ poll.id) }}">
                    <div class="buttons">
                    {% for option in poll.options %}
                        <button name="form[option]" value="{{ option.id }}" type="submit" class="button is-fullwidth">
                            {{ option.option }}
                        </button>
                    {% endfor %}
                    </div>
                </form>
            {% endif %}
        </div>
        <div class="controls level is-mobile">
            <div class="level-left">
                {% if show_comements %}
                    <a 
                        class="level-item comments"
                        href="{{ path('poll', {id: poll.id}) }}"
                        title="{{ __N('%d comment', '%d comments', poll.comment_count) }}"
                        aria-label="{{ __N('View poll and %d comment', 'View poll and %d comments', poll.comment_count) }}"
                    >
                        <span aria-hidden="true">
                            <i class="fas fa-comment"></i>
                            {{ poll.comment_count }}
                        </span>
                    </a>
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endmacro %}

{# 
{% macro render_pagination(page, page_count, nav_size=5) %}
{# Perfect pagination? This renders a more traditional pagination, but it's a responsive nightmare. The only advantage over simple previous/next buttons is that it offers fast navigation to the first and last page, but is that feature worth it? # }
{# <nav class="pagination poll-pagination" role="navigation" aria-label="Pagination">
    {%- set page_max = page_count - 1 -%} {# Makes logic slightly easier to understand. # }
    {% if page > 0 %}
        <a href="{{ path('poll.list', {page: page - 1})}}" class="pagination-previous">
            {# <span class="icon"><i class="fas fa-arrow-left" aria-hidden="true"></i></span> # }
            <span>{{ __('Previous') }}</span>
        </a>
    {% endif %}
    {% if page < page_max %}
        <a href="{{ path('poll.list', {page: page + 1})}}" class="pagination-next">
            <span>{{ __('Next') }}</span>
            {# <span class="icon"><i class="fas fa-arrow-right" aria-hidden="true"></i></span> # }
        </a>
    {% endif %}
    {# Always show nav_size buttons, unless there are less pages # }
    {% if page_count <= nav_size  %}
        ads
        {% set nav_min = 0 %}
        {% set nav_max = page_max %}
    {% elseif page < nav_size - 1 %}
        {% set nav_min = 0 %}
        {% set nav_max = nav_size - 2 %}
    {% elseif page > page_max - (nav_size - 1) %}
        {% set nav_min = page_max - (nav_size - 2) %}
        {% set nav_max = page_max %}
    {% else %}
        {% set nav_min = max(0, page - ((nav_size - 2) // 2)) %}
        {% set nav_max = min(page_max, page + ((nav_size - 2) // 2)) %}
    {% endif %}
    <ul class="pagination-list">
        {% if nav_min > 0 %}
            <li>
                <a href="{{ path('poll.list', {page: 0})}}" class="pagination-link" aria-label="Go to page 1">1</a>
            </li>
        {% endif %}

        {% if nav_min > 1 %}
            <li><span class="pagination-ellipsis">&hellip;</span></li>
        {% endif %}

        {% for i in nav_min..nav_max %}
            <li>
                {% if i == page%}
                    <a class="pagination-link is-current" aria-label="Page {{ i + 1 }}">{{ i + 1 }}</a>
                {% else %}
                    <a href="{{ path('poll.list', {page: i})}}" class="pagination-link" aria-label="Go to page {{ i + 1 }}">{{ i + 1 }}</a>
                {% endif %}
            </li>
        {% endfor %}

        {% if nav_max < page_max - 1 %}
            <li><span class="pagination-ellipsis">&hellip;</span></li>
        {% endif %}

        {% if nav_max < page_max %}
            <li>
                <a href="{{ path('poll.list', {page: page_max})}}" class="pagination-link" aria-label="Go to page {{ page_max + 1 }}">{{ page_max + 1 }}</a>
            </li>
        {% endif %}
    </ul>
</nav> # }
{% endmacro %}
#}

