{% extends '@layout/layout.twig' %}

{% block title iter.naam ~ ' :: Committee Battle :: ' ~ parent()  %}

{% block content %}
<h1>{{ iter.naam }}</h1>
<div class="messageBox">
	{% include '@theme/commissies/_leden.twig' with {'view': view.committee_view, 'model': committee_model, 'iter': iter} %}

	<table class="full-width-table">
		<thead>
			<tr>
				<th>{{ __('Date') }}</th>
				<th>{{ __('Reason') }}</th>
				<th>{{ __('Points') }}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for score in scores %}
			<tr>
				<td>{{ score.awarded_on|date('d-m-Y') }}</td>
				<td>
					{{ score.awarded_for }}
					<ul class="inline-profile-list">
					{% for member in score.members %}
						<li><a href="{{ link('profiel.read', member=member)|e('html_attr') }}" class="committee-member">
							<img src="{{ link('foto.square', member=member, width=50)|e('html_attr') }}" width="25">
							<span class="name">{{ member|personal_full_name }}</span>
						</a></li>
					{% endfor %}
					</ul>
				</td>
				<td>{{ score.points }}</td>
				<td>
					{% if user_can_update score %}
						<a href="{{ controller.link_to_update(score)|e('html_attr') }}" class="button" data-placement-selector="modal" data-partial-selector=".committee-battle-form">{{ __('Edit') }}</a>
					{% endif %}
					{% if user_can_delete score %}
						<a href="{{ controller.link_to_delete(score)|e('html_attr') }}" class="button" data-placement-selector="modal" data-partial-selector=".committee-battle-form">{{ __('Delete') }}</a>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% include '@theme/commissies/_navigation.twig' with {'view': view.committee_view, 'iters': committees, 'iter': iter} %}
{% endblock %}
