{% extends "@layout/layout.twig" %}

{% block title __('Score verwijderen') ~ ' :: ' ~ parent() %}

{% block content %}
<h1>{{ __('Score verwijderen') }}</h1>
<div class="messageBox">
	<form method="post" action="{{ controller.link_to_delete(iter)|e('html_attr') }}" class="vertical-form committee-battle-form">
		{{ html_nonce('delete', iter) }}
		<p>{{ __('Weet je heel zeker dat je de punten voor <em>%s</em> wil verwijderen?')|format(iter.awarded_for|e('html'))|raw }}</p>
		<div>
			<button type="submit" class="button">{{ __('Verwijder punten') }}</button>
			<a href="{{ controller.link_to_read(iter)|e('html_attr') }}">{{ __('Terug naar commissie') }}</a>
		</div>
	</form>
</div>
{% endblock content %}
