{% extends '@layout/layout.twig' %}

{% block title 'Committee Battle' ~ ' :: ' ~ parent() %}

{% block content %}
<div class="pageheading">
	{% if user_can_create model.new_iter %}
	<div class="controls inline">
		<a href="{{ controller.link_to_create()|e('html_attr') }}" class="create-link" data-placement-selector="modal" data-partial-selector=".committee-battle-form">{{ __('Ken punten toe') }}</a>
	</div>
	{% endif %}
	<h1>Committee Battle</h1>
</div>
<div class="messageBox committee-battle">
	<div class="scores click-to-read-on" data-read-on-label="{{ __('Toon alle commissies')|e('html_attr') }}">
		<table class="full-width-table committee-battle-scores">
			<thead>
				<tr>
					<th>{{ __('Positie') }}</th>
					<th>{{ __('Commissie') }}</th>
					<th>{{ __('Punten') }}</th>
				</tr>
			</thead>
			<tbody>
				{% for committee in iters %}
				<tr class="position-{{ committee.position }}">
					<td>{{ committee.position }}</td>
					<td>
						<a href="commissies.php?commissie={{ committee.login|e('url') }}">{{ committee.naam }}</a>
						<ul class="inline-profile-list">
						{% for member in committee.members %}
						<li><a href="{{ link('profiel.read', member=member)|e('html_attr') }}" class="committee-member">
							<img src="{{ link('foto.square', member=member, width=50)|e('html_attr') }}" width="25">
							<span class="name">{{ member|personal_full_name }}</span>
						</a></li>
						{% endfor %}
						</ul>
					</td>
					<td><a href="{{ controller.link_to_read(committee)|e('html_attr') }}">{{ committee.score }}</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% set editable = global.models.Editable.get_iter_from_title('committee_battle') %}
	{% if editable is not same as(null) %}
	<div class="content">
		{% if user_can_update editable %}
		<div class="controls inline">
			<a href="{{ link('editable.update', editable=editable)|e('html_attr') }}" class="edit-link">{{ __('Bewerk omschrijving') }}</a>
		</div>
		{% endif %}
		{{ editable.locale_content|parse_markup }}
	</div>
	{% endif %}
</div>
{% endblock %}