{% extends '@layout/layout.twig' %}

{% block content %}
<div class="modal is-static">
	<div class="modal-card">
		<header class="modal-card-head">
			<p class="modal-card-title">{{ __('Upload photo for sticker') }}</p>
		</header>
		<section class="modal-card-body">
			<form id="sticker-photo-form" method="POST" action="{{ path('stickers', {view: 'add_photo', id: iter.id, referrer: controller.get_referrer()}) }}" enctype="multipart/form-data">
				{{ html_nonce('add_photo', iter) }}
				<div class="field">
					<div class="control">
						<div class="file">
							<label class="file-label" for="field-photo">
								<input id="field-photo" class="file-input" type="file" name="photo" accept="image/jpeg">
								<span class="file-cta">
									<span class="file-icon">
										<i class="fas fa-upload" aria-hidden="true"></i>
									</span>
									<span class="file-label">
										{{ __('Select photo…') }}
									</span>
								</span>
							</label>
						</div>
					</div>
					{% if error %}
						<p class="help is-danger">
							{{ error }}
						</p>
					{% endif %}
					<p class="help">
						{{ __('Add a photo to this sticker. Only JPEG-images are allowed.') }}
					</p>
				</div>
			</form>
		</section>
		<footer class="modal-card-foot">
			<a href="{{ controller.get_referrer() ?? path('stickers') }}" class="button" data-dismiss="modal">{{ __('Return to map') }}</a>
			<button type="submit" class="button is-danger" form="sticker-photo-form">{{ __('Upload photo') }}</button>
		</footer>
	</div>
</div>
{% endblock %}