{% from '@theme/sessions/_login_widget.twig' import login_form %}


<a class="navbar-link is-arrowless">
    {% if global.auth.logged_in %}
        <span class="icon">
            <i class="fas fa-user"></i>
            <span class="is-sr-only">
                User
            </span>
        </span>
    {% else %}
        login
    {% endif %}
</a>
<div class="navbar-dropdown is-right">
    {% if global.auth.logged_in %}
        {% if global.identity.can_impersonate %}
            <a class="navbar-item" href="{{ link('sessions.overrides', referrer=global.server.REQUEST_URI) }}">
                {{ __('Impersonate…') }}
            </a>
            <hr class="navbar-divider">
        {% endif %}

        <div class="navbar-item">
            {{ __('Logged in') }}: {{ global.identity.member.voornaam }}
        </div>
        <a class="navbar-item" href="{{ link('profiel.read', member=global.identity.member) }}">
            {{ __('Profile') }}
        </a>
        <a class="navbar-item" href="{{ link('sessions.logout', referrer=global.server.REQUEST_URI) }}">
            {{ __('Logout') }}
        </a>
    {% else %}
        <div class="navbar-item">
            {{ login_form() }}
        </div>
    {% endif %}
</div>
