<div class="headNav">
	<ul>
	{% for menu_id, menu in view.layout.top_menu %}
		{% if menu.submenu is defined %}
		<li class="dropDown"><a drop="{{ menu_id }}" href="" onclick="return false;">{{ menu.label }}</a></li>
		{% else %}
		<li><a href="{{ menu.url }}" target="{{ menu.target|default('') }}">{{ menu.label }}</a></li>
		{% endif %}
	{% endfor %}
	</ul>
	
	<form method="post" id="language-switch" action="index.php">
		<input type="hidden" name="submindexlanguage" value="1">
		<input type="hidden" name="return_to" value="{{ global.server.REQUEST_URI }}">
		{% for code, language in global.i18n.languages %}
			<label id="lang-{{ code }}">
				<input type="radio" name="language" value="{{ code }}" {% if code == global.i18n.language %}checked="checked"{% endif %}>
				<span>{{ code|upper }}</span>
			</label>
		{% endfor %}
		<button type="submit">{{ __('Verander taal') }}</button>
	</form>
</div>
<div class="subNav">
	{% for menu_id, menu in view.layout.top_menu if menu.submenu is defined %}
		<ul id="{{ menu_id }}" class="expander">
			{% for submenu_item in menu.submenu %}
				<li><a href="{{ submenu_item.url }}" target="{{ submenu_item.target|default() }}">{{ submenu_item.label }}</a></li>
			{% endfor %}
		</ul>
	{% endfor %}
</div>