<nav class="navbar is-danger is-fixed-top" role="navigation" aria-label="main navigation">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item" href="/">
				<img class="cover-logo" src="{{ link_static('images/cover_logo.png') }}" alt="">
			</a>

			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div id="navbar-main" class="navbar-menu">
			<div class="navbar-start">
			{% for menu_id, menu in view.layout.top_menu %}
				{% if menu.submenu is defined %}
					<div class="navbar-item has-dropdown is-hoverable">
						<a href="" class="navbar-link"{% if menu.title is defined %} title="{{ menu.title }}"{% endif %}>
							{{ menu.label }}
						</a>
						<div class="navbar-dropdown">
							{% for submenu_item in menu.submenu %}
								<a href="{{ submenu_item.url }}" class="navbar-item" target="{{ submenu_item.target|default() }}" {% if submenu_item.title is defined %} title="{{ submenu_item.title }}"{% endif %}>{{ submenu_item.label }}</a>
							{% endfor %}
						</div>
					</div>
				{% else %}
					<a href="{{ menu.url }}"  target="{{ menu.target|default('') }}" class="navbar-item" {% if menu.title is defined %} title="{{ menu.title }}"{% endif %}>{{ menu.label }}</a>
				{% endif %}
			{% endfor %}
			</div>

			<div class="navbar-end">
				<div class="navbar-item">
					{{ include('@layout/widgets/search.twig') }}
				</div>
				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link is-arrowless">
						<span class="icon">
							<i class="fas fa-th"></i>
							<span class="is-sr-only">
								Applications
							</span>
						</span>
					</a>
					<div class="navbar-dropdown">
						{# {{ include('@layout/widgets/login.twig') }} #}
					</div>
				</div>
				<div class="navbar-item has-dropdown is-hoverable">
					{{ include('@layout/widgets/login.twig') }}
				</div>
			</div>
		</div>	
	</div>
</nav>
