<div class="section partners">
{% if global.models.Banner.main_sponsors|length > 0 %}
	<div class="container main-partners">
		<h4 class="title has-text-centered">{{ __N('Main partner', 'Main partners', global.models.Banner.main_sponsors|length) }}</h4>
		<div class="columns is-multiline is-centered is-mobile">
			{% for banner in global.models.Banner.main_sponsors %}
				<div class="column">
					<a class="partner" href="{{ banner.url }}" target="_blank">
						<figure class="image">
							<img src="images/banners/{{ banner.filename }}">
						</figure>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endif %}

{% if global.models.Banner.partners|length > 0 %}
	<div class="container">
		<h4 class="title has-text-centered">{{ __N('Partner', 'Partners', global.models.Banner.partners|length) }}</h4>
		<div class="collapse">
			<div class="collapse-content columns is-multiline is-centered is-mobile" id="sponsorCollapseContent" aria-expanded="false">
				{% for banner in global.models.Banner.partners %}
					<div class="column">
						<a class="partner" href="{{ banner.url }}" target="_blank">
							<figure class="image">
								<img src="images/banners/{{ banner.filename }}">
							</figure>
						</a>
					</div>
				{% endfor %}
			</div>
			<div class="controls">
				<a href="#sponsorCollapseContent" class="collapse-trigger" aria-controls="sponsorCollapseContent">{{__('more partners…')}}</a>
			</div>
		</div>
	</div>
{% endif %}
</div>
