{% extends '@layout/widgets/menuitem.twig' %}

{% block title __('Poll') %}

{% block name 'poll' %}

{% block content %}

{% set poll = global.models.Poll.get_latest_poll() %}

{% if poll %}
	<p><a href="forum.php?thread={{poll.id}}">{{ poll.subject }}</a></p>
	{% include '@theme/forum/_poll.twig' %}
	{% if not global.auth.logged_in %}
		<p><a href="{{ link('sessions.login') }}">{{ __('Log in om te stemmen') }}</a></p>
	{% elseif global.models.Poll.can_create_new_poll %}
		<p><a class="button" href="forum.php?forum={{ poll.forum_id }}&amp;addpoll=true">{{ __('Nieuwe poll ') }}</a></p>
	{% endif %}
{% else %}
	<p>{{ __('Er is op dit moment geen poll') }}</p>
{% endif %}

{% endblock %}