<div class="level">
	<div class="level-left">
		<h1 class="title">{{ __('Announcements') }}</h1>
	</div>
	{# Normally I would use controller.new_iter here, but this template is embedded
	in the homepage and no controller is passed in. This is also the reason that
	the controller isn't used to generate the links, as is done in all the other
	CRUD-based views. #}
	{% if user_can_create global.models.Announcement.new_iter %}
		<div class="level-right buttons">
			<a href="announcements.php?view=create" class="button">{{ __('New announcement') }}</a>
		</div>
	{% endif %}
</div>


{% for item in iters if user_can_read item %}
<div class="card is-shady">
	<div class="card-image ">
		<figure
			class="image is-4by3">
			<!-- <figure class="image is-128x128">-->
			<img src="https://www.svcover.nl/documenten/Announcement_banners/20192020/Applications_XXIX.png" alt="Placeholder image">
		</figure>
	</div>
	<div class="card-content">
		<div class="content">
			<h4 class = "titel> Board applications OPEN!</h4>
			<p>As of now, the applications for board XXIX are open! A board year at Cover is an amazing experience where you develop yourself in many ways whilst having a great time. As there are aspects of a board year that are hard to describe on paper we are available to ‘grab a coffee’ over Skype or answer all your questions through WhatsApp.</p>
			<span class="button is-link modal-button" data-target="modal-card">
				More info....</span>
		</div>
	</div>
</div></div>




<article class="card is-shady">
	<div class="media-content">
		<div class="level is-marginless">
			<div class="level-left">
				<h2 class="title is-4">
					<a href="announcements.php?view=read&amp;id={{ item.id }}" class="permalink">{{ item.subject }}</a>
				</h2>
			</div>
			<nav class="level-right">
				{% if user_can_update item %}
					<a class="level-item" href="announcements.php?view=update&amp;id={{ item.id }}" title="{{ __('Modify announcement') }}">
						<span class="icon is-small">
							<i class="fas fa-pencil-alt" aria-hidden="true"></i>
						</span>
						<span class="is-sr-only">
							{{ __('Modify announcement') }}
						</span>
					</a>
				{% endif %}
				{% if user_can_delete item %}
					<a class="level-item" href="announcements.php?view=delete&amp;id={{ item.id }}" title="{{ __('Delete announcement') }}" data-popup="modal">
						<span class="icon is-small">
							<i class="fas fa-trash" aria-hidden="true"></i>
						</span>
						<span class="is-sr-only">
							{{ __('Delete announcement') }}
						</span>
					</a>
				{% endif %}
			</nav>
		</div>
		<p class="subtitle is-6">
			<small>
				{{ __('By') }}:
				<a href="commissies.php?commissie={{ item.committee.login }}">{{ item.committee.naam }}</a>
				{{ __('on') }}
				{{ item.created_on|date() }}
			</small>
		</p>
		<div class="card-content">
			{{ item.message|parse_markup }}
		</div>

	</div>
</article>
{% endfor %}

<p class="align-center"><a href="announcements.php">{{ __('Show all announcements') }}</a></p>
