<div class="contenteditable" id="editable{{ iter.id }}">
	<div class="control-bar">
		<a href="{{ link_to_read }}" class="button right">{{ __('Sluiten') }}</a>
		<button class="button editable-save">{{ __('Sla pagina op') }}</button>
		<button class="button editable-reset">{{ __('Herstel pagina') }}</button>
		<button class="button editable-mode-edit">{{ __('Verder bewerken') }}</button>
		<button class="button editable-mode-preview">{{ __('Voorbeeld tonen') }}</button>
		<form name="editable_language" action="" method="post" class="inline">
			{{ __('Taal') }}: {{ html_select_field('editable_language', global.i18n.languages, {'editable_language': language}) }}
		</form>
	</div>
	<div class="editable_content">
		<form name="editable" method="post" action="#">
			{{ html_input_hidden('editable_id', iter.id) }}
			{{ html_input_hidden('submeditable', iter.id) }}
			{{ html_input_hidden('editable_language', language) }}
			{{ html_textarea_field(field, iter, null, class='editable') }}
		</form>
	</div>
	<div class="editable_preview" id="editable_preview_content">
		<!-- to be inserted through magic javascript wizardry -->
	</div>
</div>