{% extends '@layout/layout.twig' %}

{% block title %}
	{{ __('Impersonate a user') }} – {{ parent() }}
{% endblock %}

{% block content %}
<div class="modal is-static">
	<div class="modal-card">
		<form method="post" action="{{ link('sessions.overrides') }} ">
			{{ html_nonce('session_overrides') }}
			{{ html_input_hidden('referrer', referrer) }}
			<header class="modal-card-head">
				<p class="modal-card-title">{{ __('Impersonate a user') }}</p>
			</header>
			<section class="modal-card-body">
				
				<fieldset class="field">
					<legend>
						{{ html_input_checkbox('override_committees', {'override_committees': global.identity.get_override_committees() is not same as(null) }, label=__('Override committee memberships') ) }}
					</legend>
					
					<label class="label">{{ __('Committees') }}</label>
					<ul class="columns-vertical has-2-mobile has-3-tablet">
						{% for committee in committees %}
						<li class="column">
							<div class="control">
								{{ html_input_checkbox('override_committee_ids[]', {override_committee_ids: global.identity.get_override_committees()}, value=committee.id, id='field-override-committee-' ~ committee.id, label=committee.naam) }}
							</div>
						</li>
						{% endfor %}
					</ul>
				</fieldset>
				
				<fieldset class="field">
					<legend>
						{{ html_input_checkbox('override_member', {'override_member': global.identity.get_override_member() is not same as(null) }, label=__('Override member')) }}
					</legend>

					<div class="field">
						{{ html_label(__('Member'), 'override_member_id') }}
						<div class="control">
							{{ html_input_text('override_member_id', {'override_member_id': global.identity.get_override_member() ? global.identity.get_override_member().id : null}, data_autocomplete='member_id', data_name=global.identity.get_override_member() ? global.identity.get_override_member().full_name : null) }}
						</div>
					</div>
				</fieldset>
			</section>
			<footer class="modal-card-foot">
				<button type="submit" class="button is-primary">{{ __('Apply') }}</button>
			</footer>
		</form>
	</div>
</div>
{% endblock %}