{% extends '@layout/layout.twig' %}

{% block title %}
	{{ __('Impersonate a user') }} – {{ parent() }}
{% endblock %}

{% block content %}
<h1 class="title">{{ __('Impersonate a user') }}</h1>
<form method="post" action="{{ link('sessions.overrides') }} ">
	{{ html_nonce('session_overrides') }}
	{{ html_input_hidden('referrer', referrer) }}
	
	<fieldset class="field">
		<legend>
			{{ html_input_checkbox('override_committees', {'override_committees': global.identity.get_override_committees() is not same as(null) }, label=__('Override committee memberships') ) }}
		</legend>
		
		<label class="label">{{ __('Committees') }}</label>
		<ul class="columns is-multiline">
			{% for committee in committees %}
			<li class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop">
				<div class="field">
					<div class="control">
						{{ html_input_checkbox('override_committee_ids[]', {override_committee_ids: global.identity.get_override_committees()}, value=committee.id, id='field-override-committee-' ~ committee.id, label=committee.naam) }}
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
	</fieldset>
	
	<fieldset class="field">
		<legend>
			{{ html_input_checkbox('override_member', {'override_member': global.identity.get_override_member() is not same as(null) }, label=__('Override member id')) }}
		</legend>

		<div class="field">
			{{ html_label(__('Member id'), 'override_member_id') }}
			<div class="control">
				{{ html_input_text('override_member_id', {'override_member_id': global.identity.get_override_member() ? global.identity.get_override_member().id : null}, data_autocomplete='member_id') }}
			</div>
		</div>
	</fieldset>

	<div class="field">
		<div class="control">
			<button type="submit" class="button is-primary">{{ __('Apply') }}</button>
		</div>
	</div>
</form>
{% endblock %}