{% extends '@layout/layout.twig' %}

{% block title %}
	{{ __('Sessies van %s')|format(member.voornaam) }} :: {{ parent() }}
{% endblock %}

{% block content %}
<h2>{{ __('Sessies van %s')|format(member.voornaam) }}</h2>
<div class="messageBox">
	<form method="post" action="{{ link('sessions.sessions') }}">
		<table class="sessions-table">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>{{ __('IP-adres') }}</th>
					<th>{{ __('Applicatie') }}</th>
					<th>{{ __('Ingelogd') }}</th>
					<th>{{ __('Laatst actief') }}</th>
				</tr>
			</thead>
			<tbody>
				{% for session in sessions %}
				<tr>
					<td><input type="checkbox" name="sessions[]" value="{{ session.get_id() }}"></td>
					<td>{{ session.ip_address }}</td>
					<td>{{ view.format_application(session.application)|raw }}</td>
					<td>{{ view.format_time(session.created_on)|raw }}</td>
					<td>{{ view.format_time(session.last_active_on)|raw }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<input type="submit" class="button" name="destroy" value="{{ __('Sluit geselecteerde sessies') }}">
	</form>
</div>
{% endblock %}