{% extends '@layout/layout.twig' %}

{% block title __('Archives of %s')|format(list.naam) ~ ' &ndash; ' ~ __('Mailing lists') ~ ' &ndash; ' ~ parent() %}

{% block content %}
<header>
	<nav class="breadcrumb" aria-label="breadcrumbs">
		<ul>
			<li><a href="{{ controller.link_to_index()|e('html_attr') }}">{{ __('Mailing lists') }}</a></li>
			<li><a href="{{ controller.link_to_read(list)|e('html_attr') }}">{{ list.naam }}</a></li>
			<li class="is-active"><a href="#" aria-current="page">{{ __('Archived messages') }}</a></li>
		</ul>
	</nav>
</header>
<article>
	<table class="table is-fullwidth">
		<thead>
			<tr>
				<th>{{ __('Subject') }}</th>
				<th>{{ __('Sender') }}</th>
				<th>{{ __('Date') }}</th>
				<th class="has-text-right">{{ __('Status') }}</th>
			</tr>
		</thead>
		<tbody>
		{% for message in messages %}
			<tr>
				<td><a href="{{ link_to('archive_read', list, message_id=message.id)|e('html_attr') }}">{{ message.subject|default('<No subject>') }}</a></td>
				<td>{{ message.sender }}</td>
				<td>{{ message.verwerkt_op|date() }}</td>
				<td class="has-text-right">{{ message.return_code }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</article>
{% endblock %}