{% extends '@layout/layout.twig' %}

{% block title __('Modify message') ~ ' – ' ~ parent() %}

{% block content %}
<h1 class="title">{{ __('Modify message') }}</h1>
<form method="post" action="{{ controller.link_to_update_autoresponder(iter, autoresponder)|e('html_attr') }}">
	<div class="field">
		{{ html_label(__('Subject'), autoresponder ~ '_subject', errors=errors, required=true) }}
		<div class="control">
			{{ html_input_text(autoresponder ~ '_subject', iter, errors=errors, required=true) }}
		</div>
	</div>

	<div class="field">
		{{ html_label(__('Message'), autoresponder ~ '_message', errors=errors) }}
		<div class="control">
			{{ html_textarea_field(autoresponder ~ '_message', iter, errors=errors, rows=10) }}
		</div>
	</div>

	<div class="field">
		<div class="control buttons">
			<button type="submit" class="button is-primary">{{ __('Change email') }}</button>
			<a href="{{ controller.link_to_read(iter)|e('html_attr') }}" class="button">{{ __('Return to mailing list') }}</a>
		</div>
	</div>
</form>
{% endblock %}
