{% extends '@layout/layout.twig' %}

{% block title __('Modify message') ~ ' – ' ~ parent() %}

{% block content %}
<h1 class="title">{{ __('Modify message') }}</h1>
<form method="post" action="{{ controller.link_to_update_autoresponder(iter, autoresponder)|e('html_attr') }}">
	<div class="field">
		{{ html_label(__('Subject'), autoresponder ~ '_subject', errors=errors, required=true) }}
		{{ html_input_text(autoresponder ~ '_subject', iter, errors=errors, required=true) }}
	</div>

	<div class="field">
		{{ html_label(__('Message'), autoresponder ~ '_message', errors=errors) }}
		
		<div id="wysihtml-toolbar" class="field is-grouped" style="display: none;">
			<div class="control">
				<div class="buttons has-addons">
					<a data-wysihtml5-command="bold" class="button" title="{{ __('Bold') }}" tabindex="-1">
						<span class="icon">
							<i class="fas fa-bold" aria-hidden="true"></i>
							<span class="is-sr-only">{{ __('Bold') }}</span>
						</span>
					</a>
					<a data-wysihtml5-command="italic" class="button" title="{{ __('Italic') }}" tabindex="-1">
						<span class="icon">
							<i class="fas fa-italic" aria-hidden="true"></i>
							<span class="is-sr-only">{{ __('Italic') }}</span>
						</span>
					</a>
					<a data-wysihtml5-command="underline" class="button" title="{{ __('Underline') }}" tabindex="-1">
						<span class="icon">
							<i class="fas fa-underline" aria-hidden="true"></i>	
							<span class="is-sr-only">{{ __('Underline') }}</span>
						</span>
					</a>
				</div>
			</div>
			<div class="control">
				<div class="buttons has-addons">
					<a data-wysihtml5-command="insertOrderedList" class="button" title="{{ __('Insert ordered list') }}" tabindex="-1">
						<span class="icon">
							<i class="fas fa-list-ol" aria-hidden="true"></i>
							<span class="is-sr-only">{{ __('Insert ordered list') }}</span>
						</span>
					</a>
					<a data-wysihtml5-command="insertUnorderedList" class="button" title="{{ __(' unordered list') }}" tabindex="-1">
						<span class="icon">
							<i class="fas fa-list-ul" aria-hidden="true"></i>
							<span class="is-sr-only">{{ __(' unordered list') }}</span>
						</span>
					</a>
				</div>
			</div>
			<div class="control">
				<a data-wysihtml5-command="createLink" class="button" tabindex="-1">
					<span class="icon"><i class="fa fa-link" aria-hidden="true"></i></span>
					<span>{{ __('Insert link') }}</span>
				</a>
				<div data-wysihtml5-dialog="createLink" style="display: none;">
					<label>Link: <input data-wysihtml5-dialog-field="href" value="http://" class="text"></label>
					<a data-wysihtml5-dialog-action="save" class="button">OK</a>
					<a data-wysihtml5-dialog-action="cancel">Cancel</a>
				</div>
			</div>
			<div class="control">
				<div class="dropdown is-hoverable">
					<div class="dropdown-trigger">
						<button class="button" aria-haspopup="true" aria-controls="insert-placeholder-menu">
							<span>{{ __('Insert placeholder') }}</span>
							<span class="icon is-small">
								<i class="fas fa-angle-down" aria-hidden="true"></i>
							</span>
						</button>
					</div>
					<div class="dropdown-menu" id="insert-placeholder-menu" role="menu">
						<div class="dropdown-content">
							<a class="dropdown-item" data-wysihtml5-command="insertHTML" data-wysihtml5-command-value="[NAME]" tabindex="-1">Name</a>
							<a class="dropdown-item" data-wysihtml5-command="insertHTML" data-wysihtml5-command-value="[UNSUBSCRIBE]" tabindex="-1">Unsubscribe link</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		{{ html_textarea_field(autoresponder ~ '_message', iter, errors=errors, rows=10) }}
	</div>

	<div class="field">
		<div class="control buttons">
			<button type="submit" class="button is-primary">{{ __('Change email') }}</button>
			<a href="{{ controller.link_to_read(iter)|e('html_attr') }}" class="button">{{ __('Return to mailing list') }}</a>
		</div>
	</div>
</form>

<script src="{{ link_static('data/wysihtml5x-toolbar.min.js')|e('html_attr') }}"></script>
<script src="{{ link_static('data/wysihtml5x-parser-rules-simple.js')|e('html_attr') }}"></script>
<script>
	jQuery(function($) {
		var editor = new wysihtml5.Editor({{ autoresponder ~ '_message'|json_encode() }},{
			'toolbar': 'wysihtml-toolbar',
			'parserRules': wysihtml5ParserRules
		});
	});
</script>
{% endblock %}