{% extends '@layout/layout.twig' %}

{% block title __('Mailing lists') ~ ' :: ' ~ parent() %}

{% block content %}
<div class="pageHeading">
	{% if user_can_create model.new_iter %}
		<div class="controls inline">
			<a href="{{ controller.link_to_create()|e('html_attr') }}" class="create-link">{{ __('New mailing list')  }}</a>
		</div>
	{% endif %}
	<h1>{{ __('Mailing lists') }}</h1>
</div>
<div class="messageBox">
	<table class="full-width-table">
		<thead>
			<tr>
				<th>{{ __('Name') }}</th>
				<th>{{ __('Address') }}</th>
				<th>{{ __('Owner') }}</th>
				<th>{{ __('Visibility') }}</th>
				<th title="messages in last 30 days">{{ __('Activity') }}</th>
				<th title="subscriber count">{{ __('Reach') }}</th>
			</tr>
		</thead>
		<tbody>
		{% for mailinglist in iters %}
			<tr>
				<td><a href="{{ controller.link_to_read(mailinglist)|e('html_attr') }}">{{ mailinglist.naam }}</a></td>
				<td>{{ mailinglist.adres }}</td>
				<td>{{ mailinglist.committee.naam }}</td>
				<td>{{ mailinglist.publiek ? __('Public') : __('Private') }}</td>
				<td class="numeric">{{ mailinglist.archive.count(30) }}</td>
				<td class="numeric">{{ mailinglist.reach }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}