{% extends '@layout/layout.twig' %}

{% block title iter.naam ~ ' – ' ~ __('Mailing lists') ~ ' – ' ~ parent() %}

{% block content %}
<header class="level">
	<div class="level-left">
		<nav class="breadcrumb" aria-label="breadcrumbs">
			<ul>
				<li><a href="{{ controller.link_to_index()|e('html_attr') }}">{{ __('Mailing lists') }}</a></li>
				<li class="is-active"><a href="#" aria-current="page">{{ iter.naam }}</a></li>
			</ul>
		</nav>
	</div>
	{% if user_can_update iter %}
		<div class="level-right buttons">
			<a href="{{ controller.link_to_update(iter)|e('html_attr') }}" class="button">{{ __('Modify mailing list properties') }}</a>
		</div>
	{% endif %}
</header>
<article>
	<p>
		<em>{{ __('Address') }}: {{ iter.adres }}</em>
		{{ iter.omschrijving|parse_markup }}
	</p>
</article>
<article class="level">
	<div class="level-left buttons">
		<a href="{{ controller.link_to('subscribe_member', iter)|e('html_attr') }}" class="button" data-popup="modal">{{ __('Add member') }}</a>

		<a href="{{ controller.link_to('subscribe_guest', iter)|e('html_attr') }}" class="button" data-popup="modal">{{ __('Subscribe a non-member') }}</a>

		<a href="{{ controller.link_to('archive_index', iter)|e('html_attr') }}" class="button">{{ __('Archived messages') }}</a>
	</div>
</article>
<article>
	<form method="post" action="{{ controller.link_to('unsubscribe', iter)|e('html_attr') }}">
		{{ html_nonce('unsubscribe', iter) }}
		<table class="field table is-fullwidth">
			<thead>
				<tr>
					<th></th>
					<th>{{ __('Name') }}</th>
					<th>{{ __('E-mail address') }}</th>
				</tr>
			</thead>
			<tbody>
			{% for subscription in iter.subscriptions %}
				<tr>
					<td>
						<label class="is-sr-only" for="{{ view.uid(subscription) }}">{{ __('Unsubscribe')}} {{ subscription.lid_id ? subscription.lid|full_name() : subscription.naam }}</label>
						<input type="checkbox" id="{{ view.uid(subscription) }}" name="unsubscribe[]" value="{{ subscription.id }}">
					</td>
					{% if subscription.lid_id %}
						<td>
							<a href="profiel.php?lid={{ subscription.lid_id }}">{{ subscription.lid|full_name() }}
						</td>
						<td>
							{{ subscription.lid.is_private('email') ? __('Unknown') : subscription.email }}
						</td>
					{% else %}
						<td>{{ subscription.naam }}</td>
						<td>{{ subscription.email }}</td>
					{% endif %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<div class="field">
			<div class="control buttons">
				<button class="button is-primary" type="submit">{{ __('Unsubscribe selected') }}</button>
			</div>
		</div>
	</form>	
</article>
<article>
	<h2 class="title is-4">Statistics</h2>
	<div class="columns is-multiline">
		<figure class="column is-half">
			{{ view.barchart(iter.get_reach('beginjaar'))|raw }}
			<figcaption>{{ __('Starting year') }}</figcaption>
		</figure>
		<figure class="column is-half">
			{{ view.barchart(iter.get_reach('leeftijd'))|raw }}
			<figcaption>{{ __('Age') }}</figcaption>
		</figure>
		<figure class="column is-half">
			{{ view.barchart(iter.get_reach('committee_count'))|raw }}
			<figcaption>{{ __('Committees') }}</figcaption>
		</figure>
		<figure class="column is-half">
			{{ view.barchart(iter.get_reach('type'))|raw }}
			<figcaption>{{ __('Type') }}</figcaption>
		</figure>
	</div>
</article>
{% endblock %}
