{% extends '@layout/layout.twig' %}

{% block title iter.naam ~ ' :: ' ~ __('Mailing lists') ~ ' :: ' ~ parent() %}

{% block content %}
<div class="pageHeading">
	{% if user_can_update iter %}
		<div class="controls inline">
			<a href="{{ controller.link_to_update(iter)|e('html_attr') }}" class="edit-link">{{ __('Modify mailing list properties') }}</a>
		</div>
	{% endif %}
	<h1><a href="{{ controller.link_to_index()|e('html_attr') }}">{{ __('Mailing lists') }}</a> / {{ iter.naam }}</h1>
</div>
<div class="messageBox">
	<div class="section mailinglist-header">
		<p>
			<em>{{ __('Address') }}: {{ iter.adres }}</em>
			{{ iter.omschrijving|parse_markup }}
		</p>
	</div>
	
	<div class="section">
		<a href="{{ controller.link_to('subscribe_member', iter)|e('html_attr') }}" class="create-link" data-partial-selector=".messageBox > .vertical-form" data-placement-selector="modal">{{ __('Add member') }}</a>

		<a href="{{ controller.link_to('subscribe_guest', iter)|e('html_attr') }}" class="create-link" data-partial-selector=".messageBox > .vertical-form" data-placement-selector="modal">{{ __('Subscribe a non-member') }}</a>

		<a href="{{ controller.link_to('archive_index', iter)|e('html_attr') }}">{{ __('Archived messages') }}</a>
	</div>

	<div class="section">
		<form method="post" action="{{ controller.link_to('unsubscribe', iter)|e('html_attr') }}">
		{{ html_nonce('unsubscribe', iter) }}
		<table class="full-width-table">
			<thead>
				<tr>
					<th width="20"></th>
					<th>{{ __('Name') }}</th>
					<th>{{ __('E-mail address') }}</th>
					<th width="40"></th>
				</tr>
			</thead>
			<tbody>
			{% for subscription in iter.subscriptions %}
				<tr>
					<td><input type="checkbox" id="{{ view.uid(subscription) }}" name="unsubscribe[]" value="{{ subscription.id }}"></td>
					{% if subscription.lid_id %}
					<td><label for="{{ view.uid(subscription) }}">{{ subscription.lid|full_name() }}</label></td>
					{% else %}
					<td><label for="{{ view.uid(subscription) }}">{{ subscription.naam }}</label></td>
					{% endif %}
					{% if subscription.lid_id %}
					<td>{{ subscription.lid.is_private('email') ? __('Unknown') : subscription.email }}</td>
					<td><a href="profiel.php?lid={{ subscription.lid_id }}">{{ __('Profile') }}</a></td>
					{% else %}
					<td>{{ subscription.email }}</td>
					<td></td>
					{% endif %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<button class="button" type="submit">{{ __('Unsubscribe selected') }}</button>
		</form>
	</div>

	<div class="section">
		<h3>Statistics</h3>
		<figure class="graph">
			{{ view.barchart(iter.get_reach('beginjaar'))|raw }}
			<figcaption>{{ __('Starting year') }}</figcaption>
		</figure>
		<figure class="graph">
			{{ view.barchart(iter.get_reach('leeftijd'))|raw }}
			<figcaption>{{ __('Age') }}</figcaption>
		</figure>
		<figure class="graph">
			{{ view.barchart(iter.get_reach('committee_count'))|raw }}
			<figcaption>{{ __('Committees') }}</figcaption>
		</figure>
		<figure class="graph">
			{{ view.barchart(iter.get_reach('type'))|raw }}
			<figcaption>{{ __('Type') }}</figcaption>
		</figure>
	</div>
</div>

<script>
jQuery(function($) {
	function split(val) {
		return val.split(/,\s*/);
	}

	function extractLast(term) {
		return split(term).pop();
	}

	$('.mailinglist-header + form').append(
		$('<a>')
			.addClass('button')
			.attr({'href': '#mailinglist-settings'})
			.text({{ __('Modify mailing list properties')|json_encode|raw }}));
	
	$('#lid_id')
		.bind('keydown', function(e) {
			if (event.keyCode === $.ui.keyCode.TAB
				&& $(this).data('ui-autocomplete').menu.active)
				e.preventDefault();
		})
		.autocompleteAlmanac({
			source: function(request, response) {
				$.getJSON('almanak.php', {
					'search': extractLast(request.term)
				}, response);
			},
			search: function() {
				// custom minLength
				if (extractLast(this.value).length < 2)
					return false;
			},
			select: function(event, ui) {
				var terms = split(this.value);
				// remove the current input
				terms.pop();
				// add the selected item
				terms.push(ui.item.id);
				// add placeholder to get the comma-and-space at the end
				terms.push('');
				this.value = terms.join(', ');
				return false;
			}
		});
});
</script>
{% endblock %}