{% extends '@layout/layout.twig' %}

{% block title __('Subscribe a member') ~ ' – ' ~ parent() %}

{% block content %}
<div class="modal is-static">
	<div class="modal-card">
		<form method="post" action="{{ controller.link_to('subscribe_guest', list)|e('html_attr') }}">
			{{ html_nonce('subscribe_guest', list) }}
			<header class="modal-card-head">
				<p class="modal-card-title">{{ __('Subscribe a non-member') }}</p>
			</header>
			<section class="modal-card-body">
				<div class="field">
					{{ html_label(__('Name'), 'naam', errors=errors, required=true) }}
					<div class="control">
						{{ html_input_text('naam', [], errors=errors, required=true, autofocus=true) }}
					</div>
				</div>
				<div class="field">
					{{ html_label(__('E-mail address'), 'email', errors=errors, required=true) }}
					<div class="control">
						{{ html_input_text('email', [], type='email', errors=errors, required=true) }}
					</div>
				</div>
			</section>
			<footer class="modal-card-foot">
				<a href="{{ controller.link_to_read(list)|e('html_attr') }}" class="button" data-dismiss="modal">{{ __('Cancel') }}</a>
				<button type="submit" class="button is-primary">{{ __('Subscribe') }}</button>
			</footer>
		</form>
	</div>
</div>
{% endblock %}