{% extends '@layout/layout.twig' %}

{% block title __('Lid abonneren') ~ ' :: ' ~ parent() %}

{% block content %}
<h1>{{ __('Lid toevoegen') }}</h1>
<div class="messageBox">
	<form method="post" action="{{ controller.link_to('subscribe_member', list)|e('html_attr') }}" class="vertical-form">
		{{ html_nonce('subscribe_member', list) }}
		<div>
			{{ html_label(__('Lidnummer(s)'), 'member_id') }}
			{{ html_input_text('member_id', [], autofocus=true) }}
		</div>
		<div class="controls">
			<button type="submit" class="button">{{ __('Meld aan') }}</button>
		</div>
	</form>
</div>
{% endblock %}