<h2>
	<a href="{{ result.absolute_url|e('html_attr') }}">{{ result.titel }}</a>
	<small>{{ __('Fotoboek in %s')|format(
		'<a href="fotoboek.php?book=%d">%s</a>'|format(
			result.parent.id, result.parent.titel|e('html')))|raw }}</small>
</h2>
<p>{{ view.photobook_summary(result) }}</p>
{% if result.num_photos > 0 %}
<ul class="photos flow-gallery">
	<!-- add the 'grid-gallery' class for awesomeness -->
	{% for photo in result.get_photos[0:5] %}
	<li id="photo_{{ photo.id|e('html_attr') }}" data-id="{{ photo.id|e('html_attr') }}" class="thumbnail">
		<a href="fotoboek.php?book={{ result.id|e('url') }}&amp;photo={{ photo.id|e('url') }}">
			<img src="{{ photo.get_url(null, 400)|e('html_attr') }}" {{ 'width="%d" height="%d"'|vformat(photo.get_scaled_size(null, 400))|raw }}>
			{% if photo.num_reacties > 0 %}
			<span class="comments">{{ __N('%d reactie', '%d reacties', photo.num_reacties) }}</span>
			{% endif %}
			{% if photo.beschrijving|length > 0 %}
			<span class="description">{{ photo.beschrijving }}</span>
			{% endif %}
		</a>
	</li>
	{% endfor %}
</ul>
{% endif %}