<h2 class="title is-5">
	<!-- Calendar icon -->
	<span class="calendar-icon">
		<span class="month">{{ result.van|date('M') }}</span>
		<span class="day">{{ result.van|date('d') }}</span>
	</span>

	<a href="{{ result.absolute_url|e('html_attr') }}">{{ result.kop }}</a>

	<small>{{ __('Activity from %d')|format(result.van|date('Y')) }}</small>
</h2>
<p class="content">{{ result.beschrijving|parse_markup }}</p>
