{% set status = null %}
{% if result.type  == constant('MEMBER_STATUS_LID') %}
	{% set status = __('Member') %}
{% elseif result.type == constant('MEMBER_STATUS_LID_AF') %}
	{% set status = __('Previously a member') %}
{% elseif result.type == constant('MEMBER_STATUS_ERELID') %}
	{% set status = __('Honorary Member') %}
{% elseif result.type == constant('MEMBER_STATUS_DONATEUR') %}
	{% set status = __('Contributor') %}
{% endif %}

<h2 class="title is-5">
	<a href="{{ result.absolute_url|e('html_attr') }}">{{ result|full_name }}</a>
	{% if status is not null %}<small>{{ status }}</small>{% endif %}
</h2>

<div class="columns is-mobile">
	<figure class="column is-narrow image is-128x128">
		<img class="is-rounded" src="{{ link('foto.square', member=result, width=256) }}" width="128" height="128" alt="Photo of {{ result|full_name }}">
	</figure>
	<div class="column content">
		<dl class="member">
			{% set fields = {'adres': 'Address', 'email': 'Email', 'telefoonnummer': 'Phone'} %}
			{% for field,display in fields if not result.is_private(field) %}
				<dt>{{ __(display) }}</dt>
				<dd>{{ result[field] }}</dd>
			{% endfor %}
		</dl>
	</div>
</div>
