<h2>
	<!-- Calendar icon -->
	<div class="calendar-icon">
		<span class="month">{{ result.van|date('M') }}</span>
		<span class="day">{{ result.van|date('d') }}</span>
	</div>

	<a href="{{ result.absolute_url|e('html_attr') }}">{{ result.kop }}</a>

	<small>{{ __('Agendapunt uit %d')|format(result.van|date('Y')) }}</small>
</h2>
<p>{{ result.beschrijving|parse_markup }}</p>
