{% extends '@layout/layout.twig' %}

{% block title __('Propose a club') ~ ' – ' ~ parent() %}

{% block content %}
<h1 class="title">{{ __('Propose a club') }}</h1>
{{ form_start(form) }}
    <p class="field">
        {{ __('Fill out this form to propose your own club! After submission, the board will review your proposal and help you get started. For more information about clubs and the process of founding one, please review the %s.')|e('html')|format('<a href="https://sd.svcover.nl/Association/Guidelines%20Clubs.pdf" target="_blank">Club Guidelines</a>')|raw }}
    </p>
    {# Global errors #}
    {{ form_errors(form) }}
    {# Fields #}
    {{ form_row(form.club_name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.motivation) }}
    {{ form_row(form.members) }}
    {{ form_row(form.communication_platform) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}

    <div class="field">
        <div class="control buttons">
            {{ form_widget(form.submit) }}
            <a href="{{ path('clubs') }}" class="button">{{ __('Back to clubs') }}</a>
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}
