{% set author = model.get_author_info(iter, 'author') %}
{% set message = iter.get_first_message() %}
<article class="media">
	<div class="media-left">
		<a class="author" href="{{ view.get_author_link(iter)|e('html_attr') }}">
			<figure class="image is-128x128">
				<img class="weblog_head" width="128" height="128" src="{{ view.weblog_head(iter) }}">
			</figure>
		</a>
	</div>
	<div class="media-content">
		<h2 class="title is-4">
			<a href="forum.php?thread={{ iter.id|e('url') }}">{{ iter.subject }}</a>
		</h2>
		<p class="subtitle is-6">
			by
			<a class="author" href="{{ view.get_author_link(iter)|e('html_attr') }}">{{ author.name }}</a>
			on {{ iter.date|date('d-m-Y H:i') }}
		</p>
		<div class="content">
			{{ message.message | parse_markup}}
		</div>
		<p>
			<a href="forum.php?thread={{ iter.id|e('url') }}">{{ __('Comments') }}: {{ iter.num_messages - 1 }}</a>
		</p>
	</div>
</article>