{% set author = model.get_author_info(iter) %}
{% set message = iter.get_first_message() %}
<div class="weblog-post">
	<div class="weblog-post-details profile-widget">
		<a class="author" href="{{ view.get_author_link(iter)|e('html_attr') }}">
			<img class="weblog_head" width="100" height="100" src="{{ view.weblog_head(iter) }}">
			<span class="name">{{ author.name }}</span>
		</a>
	</div>
	<div class="weblog-post-content">
		<div class="weblog-post-header">
			<div class="weblog-post-date">{{ iter.date|date('d-m-Y H:i') }}</div>
			<h3><a href="forum.php?thread={{ iter.id|e('url') }}">{{ iter.subject }}</a></h3>
		</div>
		
		{{ message.message | parse_markup}}

		<p class="weblog-post-footer">
			<a href="forum.php?thread={{ iter.id|e('url') }}">{{ __('Comments') }}: {{ iter.num_messages - 1 }}</a>
		</p>
	</div>
</div>