{% extends '@layout/layout.twig' %}

{% block title __('Weblog') ~ ' :: ' ~ parent() %}

{% block content %}
<h1>{{ __('Weblog') }}</h1>
<div class="messageBox">
	{% if iters|length == 0 %}
		<p>{{ __('There are no blog posts at this moment') }}</p>
	{% else %}
		{% for blog_post in iters %}
			{{ include('_blog_post.twig', {iter:blog_post}) }}
		{% endfor %}
	{% endif %}

	<div class="navigation">
		{% if page > 0 %}
			<a href="weblog.php?page={{ page - 1 }}" class="previous">{{ __('Previous page') }}</a>
		{% endif %}
		{% if iters|length > 0 %}
			<a href="weblog.php?page={{ page + 1 }}" class="next">{{ __('Next page') }}</a>
		{% endif %}
	</div>
</div>
{% endblock %}