{% extends '@layout/layout.twig' %}

{% block title __('Weblog') ~ ' :: ' ~ parent() %}

{% block content %}
<header>
	<h1 class="title">{{ __('Weblog') }}</h1>
</header>

{% if iters|length == 0 %}
	<article class="media">
		<p>{{ __('There are no blog posts at this moment') }}</p>
	</article>
{% else %}
	{% for blog_post in iters %}
		{{ include('_blog_post.twig', {iter:blog_post}) }}
	{% endfor %}
{% endif %}

<nav class="pagination is-centered" role="navigation" aria-label="pagination">
	{% if page > 0 %}
		<a href="weblog.php?page={{ page - 1 }}" class="pagination-previous">{{ __('Previous page') }}</a>
	{% endif %}
	{% if iters|length > 0 %}
		<a href="weblog.php?page={{ page + 1 }}" class="pagination-next">{{ __('Next page') }}</a>
	{% endif %}
	{# Needs this to display pagination correctly #}
	<ul class="pagination-list"></ul>
</nav>
{% endblock %}