<div class="media">
	{% if iter.has_photo and not iter.is_private('foto') %}
		<figure class="media-left">
			<a class="image is-128x128" href="foto.php?lid_id={{ iter.id }}&amp;timestamp={{ iter.photo_mtime }}" data-image-popup="modal" title="{{ __('Click to enlarge the photo')|e('html_attr') }}">
				<img src="{{ link('foto.square', member=iter, width=256, timestamp=iter.photo_mtime) }}" width="128">
			</a>
		</figure>
	{% else %}
		<figure class="media-left image is-128x128">
			<img src="{{ link('foto.square', member=iter, width=256, timestamp=iter.photo_mtime) }}" width="150">
		</figure>
	{% endif %}
	
	<div class="media-content">
		{% if iter.nick != '' and not iter.is_private('naam') %}
			<h2 class="title is-4">{{ iter.nick }}</h2>
		{% endif %}
		
		{% if iter.homepage is defined %}
			<p class="subtitle is-5">
				<a href="{{ iter.homepage|e('html_attr') }}" target="_blank" rel="nofollow noopener">{{ view.hostname(iter.homepage) }}</a>
			</p>
		{% endif %}
		{% if global.identity.member_in_committee(constant('COMMISSIE_EASY')) %}
		<form id="upload-photo" action="profiel.php?lid={{iter.id}}&amp;view=photo" method="post" enctype="multipart/form-data">
			{{ html_nonce('photo', iter) }}
			<div class="field">
				<div class="file">
					<label class="file-label">
						<input class="file-input" type="file" name="photo" accept="image/jpeg" title="{{ __('Only JPEG-images are allowed.')|e('html_attr') }}" onchange="if (this.value) this.form.submit()">
						<span class="file-cta">
							<span class="file-icon">
								<i class="fas fa-upload"></i>
							</span>
							<span class="file-label">
								{{ __('Choose photo…' )}}
							</span>
						</span>
					</label>
				</div>
			</div>
		</form>
		{% endif %}
	</div>


</div>