{% extends 'tab.twig' %}

{% set active_tab = 'incassomatic' %}

{% block tab_content %}
<section class="aligned-list-section">
	<h2>{{ __('Incass-o-matic') }}</h2>
	<h4>{{ __('Contract') }}</h4>
	<p>{{ __('Signed and active since %s.')|format(contract.start_datum|date('j-n-Y')) }}</p>
</section>

<section class="aligned-list-section">
	<p>{{ __("Your fifteen most recent direct debits.") }}</p>
	<table class="full-width-table incassomatic">
	{% if debits_per_batch[""] is defined %}
		<thead>
			<tr>
				<th colspan="3"><h4>{{ __('To be debited') }}</h4></th>
			</tr>
			<tr>
				<th>{{ __('Description') }}</th>
				<th class="numeric">{{ __('Price') }}</th>
				<th class="timestamp">{{ __('Date') }}</th>
			</tr>
		</thead>
		<tbody>
			{% for debit in debits_per_batch[""] %}
			<tr>
				<td>{{ debit.omschrijving }}</td>
				<td class="numeric">&euro;&nbsp;{{ '%0.2f'|format(debit.bedrag / 100) }}</td>
				<td class="timestamp"><time datetime="{{ debit.aangemaakt|date(constant('DateTime::ISO8601'))|e('html_attr') }}" title="{{ debit.aangemaakt|date('j-n-Y H:i:s')|e('html_attr') }}">{{ debit.aangemaakt|date_relative }}</time></td>
			</tr>
			{% endfor %}
		</tbody>
	{% endif %}
	{% for batch_id, debits in debits_per_batch if batch_id != "" %}
		<thead>
			<tr>
				<th><h4>{{ __('Debit batch %d')|format(batch_id) }}</h4><small>{{ debits[0].batch.verwerkingsdatum|date('j-n-Y') }}</small></th>
			</tr>
			<tr>
				<th>{{ __('Description') }}</th>
				<th class="numeric">{{ __('Price') }}</th>
				<th class="timestamp">{{ __('Date') }}</th>
			</tr>
		</thead>
		<tbody>
			{% for debit in debits %}
			<tr>
				<td>{{ debit.omschrijving }}</td>
				<td class="numeric">&euro;&nbsp;{{ '%0.2f'|format(debit.bedrag / 100) }}</td>
				<td class="timestamp"><time datetime="{{ debit.aangemaakt|date(constant('DateTime::ISO8601'))|e('html_attr') }}" title="{{ debit.aangemaakt|date('j-n-Y H:i:s')|e('html_attr') }}">{{ debit.aangemaakt|date_relative }}</time></td>
			</tr>
			{% endfor %}
		</tbody>
	{% endfor %}
	</table>
</section>
{% endblock %}
