{% extends 'tab.twig' %}

{% set active_tab = 'incassomatic' %}

{% block tab_content %}
<section class="aligned-list-section">
	<h2>{{ __('Incass-o-matic') }}</h2>
	<em>{{ __('Je hebt nog geen doorlopend incassocontract.') }}</em>
	<p>{{ __("Met een doorlopend incassocontract hoef je niet meer zelf incasso's te printen en te ondertekenen. Dus nooit meer naar de printer lopen nadat je in KAST kruisjes hebt gekocht!") }}</p>
</section>
<section class="aligned-list-section">
	<p>{{ __("Download het contract, onderteken het, en lever het in bij de penningmeester, %s, of laat het achter in het postvakje in de Coverkamer.")|e|format(treasurer_link)|raw }}</p>

	<div class="center">
		<a href="profiel.php?view=export_incassocontract" class="button large-button" target="_blank">{{ __('Download contract') }}</a>
	</div>

	<p>{{ __("Zodra het contract verwerkt is kan je hier op ieder moment de incasso's hier inzien, zowel de incasso's die net zijn aangemaakt als de incasso's die al zijn afgeschreven.") }}</p>
</section>
{% endblock %}