{% extends 'tab.twig' %}

{% set active_tab = 'incassomatic' %}

{% block tab_content %}
<section class="aligned-list-section">
	<h2>{{ __('Incass-o-matic') }}</h2>
	<em>{{ __('You do not yet have a continuous direct debit contract.') }}</em>
	<p>{{ __("With a continuous direct debit contract, you no longer have to print and sign direct debit forms. No more going to the printer after buying new credits in KAST!") }}</p>
</section>
<section class="aligned-list-section">
	<p>{{ __("Download the contract, sign it, and hand it to the treasurer, %s, or deliver it to the mailbox in the Cover room.")|e|format(treasurer_link)|raw }}</p>

	<div class="center">
		<a href="profiel.php?view=export_incassocontract&amp;lid={{ iter.id|e('url') }}" class="button large-button" target="_blank">{{ __('Download contract') }}</a>
	</div>

	<p>{{ __("As soon as your contract has been processed, you can view your direct debits here every moment of the day. Both freshly created direct debit transactions as well as already debited ones will be displayed here.") }}</p>
</section>
{% endblock %}