{% extends 'tab.twig' %}

{% set active_tab = 'kast' %}

{% block tab_content %}
<section class="aligned-list-section">
	<h2>{{ __('KAST') }}</h2>
	<h4>{{ __('Kredietbalans') }}</h4>
	<em>{{ __N('%d kruisje', '%d kruisjes', status.credits) }}</em>
</section>

<section class="aligned-list-section">
	<p>{{ __('Je tien meest recente aankopen staan hier genoemd.') }}</p>
	<table class="full-width-table">
		<thead>
			<tr>
				<th>{{ __('Produkt') }}</th>
				<th class="numeric">{{ __('Prijs') }}</th>
				<th class="timestamp">{{ __('Datum van aankoop') }}</th>
			</tr>
		</thead>
		<tbody>
			{% for purchase in history %}
			<tr class="{{ purchase.admin ? 'purchase-admin' : '' }} {{ not purchase.valid ? 'purchase-reverted' : '' }}"
				title="{{ purchase.admin ? __('Admin-kruisje') : '' }} {{ not purchase.valid ? __('Ongedaan') : '' }}">
				<td>{{ purchase.product_description }}</td>
				<td class="numeric">{{ '%d'|format(purchase.price) }}</td>
				<td class="timestamp">{{ purchase.date|date_relative }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</section>
{% endblock %}