{% extends 'tab.twig' %}

{% set active_tab = 'mailing_lists' %}

{% block tab_content %}
<article>
	<h2 class="title is-4">{{ __('Mailing lists') }}</h2>
	{% for mailing_list in mailing_lists %}
		<div class="media">
			<div class="media-content">
				<h3 class="title is-6 is-marginless">
					{{ mailing_list.naam }}
					<small class="has-text-weight-normal">({{ mailing_list.adres }})</small>
				</h3>
				<div class="content">
					<p>{{ mailing_list.omschrijving|parse_markup }}</p>
				</div>
			</div>
			<div class="media-right">
			{% if global.policies.Mailinglist.user_can_subscribe(mailing_list) or global.policies.Mailinglist.user_can_unsubscribe(mailing_list) %}
				<form 
					id="mailinglijst-{{ mailing_list.id|e('url') }}-toggle"
					class="list-group-item-action toggle-action-button {{ mailing_list.subscribed ? 'toggle-state-active' : '' }}"
					method="post"
					action="profiel.php?lid={{ iter.id }}&amp;view=mailing_lists"
					data-auto-submit
				>
					{{ html_nonce('mailing_list', iter) }}
					{{ html_input_hidden('mailing_list_id', mailing_list.id) }}

					<div class="field">
						<label class="checkbox" for="field-subscribe-{{ mailing_list.id }}">
							{{ html_input_checkbox('subscribe', {'subscribe': mailing_list.subscribed}, id='field-subscribe-%d'|format(mailing_list.id), data_auto_submit_visible='data-auto-submit-visible', hidden='hidden') }}
							&ZeroWidthSpace;{# space for proper height #}
							<span class="is-sr-only">Subscribe to mailinglist</span>
						</label>
					</div>

					{# Fallback for no JS #}
					{% if mailing_list.subscribed %}
						<input type="hidden" name="action" value="unsubscribe" data-auto-submit-exclude>
						<button 
							type="submit"
							class="button"
							title="{{ __('You are subscribed to this list. Click to unsubscribe.')|e('html_attr') }}"
							data-auto-submit-hidden
						>{{ __('Unsubscribe') }}</button>
					{% else %}
						<input type="hidden" name="action" value="subscribe" data-auto-submit-exclude>
						<button 
							type="submit"
							class="button"
							title="{{ __('Click to subscribe.')|e('html_attr') }}"
							data-auto-submit-hidden
						>{{ __('Subscribe') }}</button>
					{% endif %}
				</form>
			{% else %}
				{# This is still a form to make things consistent whether JS is applied or not #}
				<form data-auto-submit>
					<label class="checkbox" title="{{ __('You are subscribed to this list. You can ask the committee to unsubscribe you.')|e('html_attr') }}">
						<input type="checkbox" disabled {% if mailing_list.subscribed %}checked{% endif %} data-auto-submit-visible hidden>
						&ZeroWidthSpace;{# space for proper height #}
						<span class="is-sr-only">Subscribe to mailinglist</span>
					</label>

					{# Fallback for no JS #}
					<button
						disabled="disabled"
						class="button"
						title="{{ __('You are subscribed to this list. You can ask the committee to unsubscribe you.')|e('html_attr') }}"
						data-auto-submit-hidden
					>{{ __('Unsubscribe') }}</button>
				</form>
			{% endif %}
			</div>
		</div>
	{% endfor %}
</article>
{% endblock %}