{% extends 'tab.twig' %}

{% set active_tab = 'privacy' %}

{% block tab_content %}
<article>
	<h2 class="title is-4">{{ __('Privacy settings') }}</h2>

	<form action="profiel.php?lid={{ iter.id }}&amp;view=privacy" method="post">
		{{ html_nonce('privacy', iter) }}
		<div class="field">
			<p>{{ __('Modify your privacy preferences to indicate who can see what info.') }}</p>
		</div>

		<table class="field table is-fullwidth">
			<thead>
				<tr>
					<td></td>
					<th>{{ __('Nobody') }}</th>
					<th>{{ __('Members') }}</th>
					<th>{{ __('Everyone') }}</th>
				</tr>
			</thead>
			<tbody>
				{% for field in fields %}
				<tr>
					<th>{{ field.label }}</th>
					<td>{{ html_input_radio(field.name, field.data, constant('DataModelMember::VISIBLE_TO_NONE')) }}</td>
					<td>{{ html_input_radio(field.name, field.data, constant('DataModelMember::VISIBLE_TO_MEMBERS')) }}</td>
					<td>{{ html_input_radio(field.name, field.data, constant('DataModelMember::VISIBLE_TO_EVERYONE')) }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<div class="field">
			<div class="control buttons">
				<button type="submit" class="button is-primary">{{ __('Save') }}</button>
			</div>
		</div>
	</form>
</article>
{% endblock %}