{% extends 'tab.twig' %}

{% set active_tab = 'profile' %}

{% block tab_content %}
<section class="aligned-list-section">
	<h2>{{ __('Webgegevens') }}</h2>
	<p>{{ __('Je webgegevens worden gebruikt om je er een beetje (on)herkenbaar te maken op het forum.') }}</p>
	<form action="profiel.php?lid={{ iter.id }}&amp;view=profile" method="post" class="vertical-form">
		{{ html_nonce('profile', iter) }}
		<div>
			{{ html_label(__('Bijnaam'), 'nick', errors=errors) }}
			{{ html_input_text('nick', iter) }}
		</div>

		<div>
			{{ html_label(__('Onderschrift'), 'onderschrift', errors=errors) }}
			{{ html_input_text('onderschrift', iter) }}
		</div>

		<div>
			{{ html_label(__('Avatar'), 'avatar', errors=errors) }}
			{{ html_input_text('avatar', iter, formatter='empty_to_http_formatter', placeholder='http://') }}
		</div>

		<div>
			{{ html_label(__('Website'), 'homepage', errors=errors) }}
			{{ html_input_text('homepage', iter, formatter='empty_to_http_formatter', placeholder='http://') }}
		</div>

		<div>
			{{ html_label(__('Taal'), 'taal', errors=errors) }}
			{{ html_select_field('taal', global.i18n.languages, iter, required=true) }}
		</div>
		
		<button type="submit" class="button">{{ __('Opslaan') }}</button>
	</form>
</section>

<section class="aligned-list-section">
	<h2 id="wachtwoord">{{ __('Nieuw wachtwoord') }}</h2>
	<form action="profiel.php?lid={{ iter.id|e('url') }}&amp;view=profile" method="post" class="vertical-form">
		{{ html_nonce('password', iter) }}

		{% if current_password_required %}
			<div>
				{{ html_label(__('Huidige wachtwoord'), 'wachtwoord_oud', errors=errors) }}
				{{ html_input_password('wachtwoord_oud') }}
			</div>
		{% endif %}
		
		<div>
			{{ html_label(__('Nieuw wachtwoord'), 'wachtwoord_nieuw', errors=errors) }}
			{{ html_input_password('wachtwoord_nieuw') }}
		</div>

		<div>
			{{ html_label(__('Opnieuw'), 'wachtwoord_opnieuw', errors=errors) }}
			{{ html_input_password('wachtwoord_opnieuw') }}
		</div>

		<button type="submit" class="button">{{ __('Wijzig wachtwoord') }}</button>
	</form>
</section>

<section class="aligned-list-section">
	<h2>{{ __('Foto') }}</h2>
	<p>{{ __('Je foto wordt ook gebruikt op deze website, maar ook in de jaarlijkse almanak. Wil je een recentere foto hier hebben? Stuur de beste versie die je hebt in! Ze worden met de hand verwerkt, dus het kan even duren voordat hij aangepast is.') }}</p>
	<form action="profiel.php?lid={{ iter.id|e('url') }}&amp;view=photo" method="post" enctype="multipart/form-data">
		{{ html_nonce('photo', iter) }}
		<div>
			<div class="file-upload-button button">
				<span>{{ __('Kies nieuwe foto') }}&hellip;</span>
				<input type="file" name="photo" accept="image/jpeg" title="{{ __('Alleen JPEG-plaatjes mogen.')|e('html_attr') }}" onchange="if (this.value) this.form.submit()">
			</div>
		</div>
	</form>
</section>
{% endblock %}