{% extends 'tab.twig' %}

{% set active_tab = 'profile' %}

{% block tab_content %}
<article>
	<h2 class="title is-4">{{ __('Webinformation') }}</h2>
	<form action="profiel.php?lid={{ iter.id }}&amp;view=profile" method="post">
		{{ html_nonce('profile', iter) }}
		<div class="field">
			<p>{{ __('Your profile details are used to make you (un)recognizable on the forum.') }}</p>
		</div>
		<div class="field">
			{{ html_label(__('Nickname'), 'nick', errors=errors) }}
			<div class="control">
				{{ html_input_text('nick', iter) }}
			</div>
		</div>

{# 		<div class="field">
			{{ html_label(__('Signature'), 'onderschrift', errors=errors) }}
			<div class="control">
				{{ html_input_text('onderschrift', iter) }}
			</div>
		</div> #}

		<div class="field">
			{{ html_label(__('Avatar'), 'avatar', errors=errors) }}
			<div class="control">
				{{ html_input_text('avatar', iter, formatter='empty_to_http_formatter', placeholder='http://') }}
			</div>
		</div>

		<div class="field">
			{{ html_label(__('Website'), 'homepage', errors=errors) }}
			<div class="control">
				{{ html_input_text('homepage', iter, formatter='empty_to_http_formatter', placeholder='http://') }}
			</div>
		</div>

{# 		<div class="field">
			{{ html_label(__('Language'), 'taal', errors=errors) }}
			<div class="control">
				{{ html_select_field('taal', global.i18n.languages, iter, required=true) }}
			</div>
		</div> #}
		
		<div class="field">
			<div class="control buttons">
				<button type="submit" class="button">{{ __('Save') }}</button>
			</div>
		</div>
	</form>
</article>

<article>
	<h2 class="title is-4">{{ __('New password') }}</h2>
	<form action="profiel.php?lid={{ iter.id|e('url') }}&amp;view=profile" method="post">
		{{ html_nonce('password', iter) }}

		{% if current_password_required %}
			<div class="field">
				{{ html_label(__('Current password'), 'wachtwoord_oud', errors=errors) }}
				<div class="control">
					{{ html_input_password('wachtwoord_oud') }}
				</div>
			</div>
		{% endif %}
		
		<div class="field">
			{{ html_label(__('New password'), 'wachtwoord_nieuw', errors=errors) }}
			<div class="control">
				{{ html_input_password('wachtwoord_nieuw') }}
			</div>
		</div>

		<div class="field">
			{{ html_label(__('Again'), 'wachtwoord_opnieuw', errors=errors) }}
			<div class="control">
				{{ html_input_password('wachtwoord_opnieuw') }}
			</div>
		</div>

		<div class="field">
			<div class="control buttons">
				<button type="submit" class="button">{{ __('Change password') }}</button>
			</div>
		</div>
	</form>
</article>

<article>
	<h2 class="title is-4">{{ __('Photo') }}</h2>
	<form action="profiel.php?lid={{ iter.id|e('url') }}&amp;view=photo" method="post" enctype="multipart/form-data">
		{{ html_nonce('photo', iter) }}
		<div class="field">
			<p>{{ __('Your photo is not only used on this website, but also in the annual yearbook. You want to use a more recent photo? Send in the best version you have! Submissions are processed by hand, so it might take a while for the new photo to show up.') }}</p>
		</div>
		<div class="field">
			<div class="file">
				<label class="file-label">
					<input class="file-input" type="file" name="photo" accept="image/jpeg" title="{{ __('Only JPEG images are allowed.')|e('html_attr') }}" onchange="if (this.value) this.form.submit()">
					<span class="file-cta">
						<span class="file-icon">
							<i class="fas fa-upload"></i>
						</span>
						<span class="file-label">
							{{ __('Choose photo…' )}}
						</span>
					</span>
				</label>
			</div>
		</div>
	</form>
</article>
{% endblock %}