{% extends 'tab.twig' %}

{% set active_tab = 'profile' %}

{% block tab_content %}
<section class="aligned-list-section">
	<h2>{{ __('Webinformation') }}</h2>
	<p>{{ __('Your profile details are used to make you (un)recognizable on the forum.') }}</p>
	<form action="profiel.php?lid={{ iter.id }}&amp;view=profile" method="post" class="vertical-form">
		{{ html_nonce('profile', iter) }}
		<div>
			{{ html_label(__('Nickname'), 'nick', errors=errors) }}
			{{ html_input_text('nick', iter) }}
		</div>

		<div>
			{{ html_label(__('Signature'), 'onderschrift', errors=errors) }}
			{{ html_input_text('onderschrift', iter) }}
		</div>

		<div>
			{{ html_label(__('Avatar'), 'avatar', errors=errors) }}
			{{ html_input_text('avatar', iter, formatter='empty_to_http_formatter', placeholder='http://') }}
		</div>

		<div>
			{{ html_label(__('Website'), 'homepage', errors=errors) }}
			{{ html_input_text('homepage', iter, formatter='empty_to_http_formatter', placeholder='http://') }}
		</div>

		<div>
			{{ html_label(__('Language'), 'taal', errors=errors) }}
			{{ html_select_field('taal', global.i18n.languages, iter, required=true) }}
		</div>
		
		<button type="submit" class="button">{{ __('Save') }}</button>
	</form>
</section>

<section class="aligned-list-section">
	<h2 id="wachtwoord">{{ __('New password') }}</h2>
	<form action="profiel.php?lid={{ iter.id|e('url') }}&amp;view=profile" method="post" class="vertical-form">
		{{ html_nonce('password', iter) }}

		{% if current_password_required %}
			<div>
				{{ html_label(__('Current password'), 'wachtwoord_oud', errors=errors) }}
				{{ html_input_password('wachtwoord_oud') }}
			</div>
		{% endif %}
		
		<div>
			{{ html_label(__('New password'), 'wachtwoord_nieuw', errors=errors) }}
			{{ html_input_password('wachtwoord_nieuw') }}
		</div>

		<div>
			{{ html_label(__('Again'), 'wachtwoord_opnieuw', errors=errors) }}
			{{ html_input_password('wachtwoord_opnieuw') }}
		</div>

		<button type="submit" class="button">{{ __('Change password') }}</button>
	</form>
</section>

<section class="aligned-list-section">
	<h2>{{ __('Photo') }}</h2>
	<p>{{ __('Your photo is not only used on this website, but also in the annual yearbook. You want to use a more recent photo? Send in the best version you have! Submissions are processed by hand, so it might take a while for the new photo to show up.') }}</p>
	<form action="profiel.php?lid={{ iter.id|e('url') }}&amp;view=photo" method="post" enctype="multipart/form-data">
		{{ html_nonce('photo', iter) }}
		<div>
			<div class="file-upload-button button">
				<span>{{ __('Choose photo') }}&hellip;</span>
				<input type="file" name="photo" accept="image/jpeg" title="{{ __('Alleen JPEG-plaatjes mogen.')|e('html_attr') }}" onchange="if (this.value) this.form.submit()">
			</div>
		</div>
	</form>
</section>
{% endblock %}