 {% extends 'tab.twig' %}

{% set active_tab = 'public' %}

{% block tab_content %}
<article>
	<div class="level">
		<div class="level-left">
			<h2 class="title is-4">{{ __('Personal') }}</h2>
		</div>
		{% if can_download_vcard %}
			<div class="level-right buttons">
				<a href="profiel.php?lid={{ iter.id }}&amp;view=export_vcard" class="button" title="{{ __('Download vCard') }}">
					<span class="icon">
						<i class="fas fa-address-card" aria-hidden="true"></i>
						<span class="is-sr-only">{{ __('Download vCard') }}</span>
					</span>
				</a>
			</div>
		{% endif %}
	</div>
	
	
	{% if is_current_user %}
	<p class="content is-small">
		{{ __('Change who can see these personal details on the <a href="%s">privacy tab</a>.')|format('profiel.php?lid=' ~ iter.id ~ '&amp;view=privacy')|raw }}
	</p>
	{% endif %}
	
	<dl class="profile">
	{% for field in view.personal_fields %}
		{% set field_visibility = model.get_privacy_for_field(iter, field.name) %}
		{% if field_visibility == constant('DataModelMember::VISIBLE_TO_EVERYONE') %}
			<dt>{{ html_label(field.label, field.name) }}</dt>
			<dd class="data-public">{{ view.format_member_data(iter, field.name)|raw }}</dd>
		{% elseif field_visibility == constant('DataModelMember::VISIBLE_TO_MEMBERS') %}
			{% if global.identity.is_member or global.identity.member_in_committee(constant('COMMISSIE_BESTUUR')) %}
				<dt>{{ html_label(field.label, field.name) }}</dt>
				<dd class="data-members-only">
					{{ view.format_member_data(iter, field.name)|raw }}
					<i class="fas fa-lock" title="{{ __('Only visible for logged-in members.')|e('html_attr') }}"></i>
				</dd>
			{% endif %}
		{% elseif global.identity.member_in_committee(constant('COMMISSIE_BESTUUR')) %}
			<dt>{{ html_label(field.label, field.name) }}</dt>
			<dd class="data-private">
				{{ view.format_member_data(iter, field.name)|raw }}
				<i class="fas fa-eye-slash" title="{{ __('Private')|e('html_attr') }}"></i>
			</dd>
		{% endif %}
	{% endfor %}
		<dt>{{ html_label(__('Status'), 'status') }}</dt>
		<dd class="data-public">{{ view.member_type_to_string(iter.type) }}</dd>
	</dl>

	{% set facebook_of_iter = global.models.PhotobookFace.get_book([iter]) %}
	{% if user_can_read facebook_of_iter %}
		<a href="fotoboek.php?book={{ facebook_of_iter.id|e('url') }}" class="button">
			<span class="icon">
				<i class="fas fa-images" aria-hidden="true"></i>
			</span>
			<span>
				{{ __('Photos of %s')|format(iter|first_name) }}
			</span>
		</a>
	{% endif %}
</article>

{% if committees|length > 0 %}
<article>
	<h2 class="title is-4">{{ __('Committees & Working groups') }}</h2>
	<p>{{ __('%s is a member of the following committees:')|format(iter|first_name) }}</p>
	<ul class="committee-list">
		{% for committee in committees %}
		<li>
			<a class="committee" href="{{ committee.get_absolute_url()|e('html_attr') }}">{{ committee.naam }}</a>
			<span class="position">({{ __translate_parts(committee.functie, ',/') }})</span>
		</li>
		{% endfor %}
	</ul>
</article>
{% endif %}
{% endblock %}