{% extends 'tab.twig' %}

{% set active_tab = 'sessions' %}

{% block tab_content %}
<article>
	<h2 class="title is-4">{{ __('Sessions') }}</h2>
	<form method="post" action="sessions.php?view=sessions&amp;member_id={{ iter.id|e('url') }}">
		{{ html_nonce('delete_sessions') }}
		{{ html_input_hidden('referer', 'profiel.php?lid=%d&view=sessions'|format(iter.id|e('url'))) }}
		<div class="field">
			<p>{{ __('These all devices/browsers which are currently logged-in to your account.') }}</p>
		</div>
		<table class="field table is-fullwidth is-hoverable is-aligned">
			<thead>
				<tr>
					<th></th>
					<th>{{ __('IP-address') }}</th>
					<th>{{ __('Application') }}</th>
					<th>{{ __('Logged in') }}</th>
					<th>{{ __('Last active') }}</th>
				</tr>
			</thead>
			<tbody>
				{% for session in sessions %}
				<tr>
					<td><input type="checkbox" name="sessions[]" value="{{ session.id|e('html_attr') }}"></td>
					<td>{{ session.ip_address }}</td>
					<td>{{ sessions_view.format_application(session.application)|raw }}</td>
					<td>{{ sessions_view.format_time(session.created_on)|raw }}</td>
					<td>{{ sessions_view.format_time(session.last_active_on)|raw }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="field">
			<div class="control buttons">
				<button type="submit" class="button is-danger" name="destroy" value="yes">{{ __('End selected sessions') }}</button>
			</div>
		</div>
	</form>
</article>
{% endblock %}