{% extends 'tab.twig' %}

{% set active_tab = 'profile' %}

{% block tab_content %}
<section class="aligned-list-section">
	<h2>{{ __('Webgegevens') }}</h2>
	<p>{{ __('Je webgegevens worden gebruikt om je er een beetje (on)herkenbaar te maken op het forum.') }}</p>
	<form action="profiel.php?lid={{ iter.id }}&amp;view=profile" method="post" class="vertical-form">
		{{ html_nonce('profile' ~ iter.id) }}
		<div>
			{{ html_label(__('Bijnaam'), 'nick', errors=errors) }}
			{{ html_input_text('nick', iter) }}
		</div>

		<div>
			{{ html_label(__('Onderschrift'), 'onderschrift', errors=errors) }}
			{{ html_input_text('onderschrift', iter) }}
		</div>

		<div>
			{{ html_label(__('Avatar'), 'avatar', errors=errors) }}
			{{ html_input_text('avatar', iter, formatter='empty_to_http_formatter', placeholder='http://') }}
		</div>

		<div>
			{{ html_label(__('Website'), 'homepage', errors=errors) }}
			{{ html_input_text('homepage', iter, formatter='empty_to_http_formatter', placeholder='http://') }}
		</div>

		<div>
			{{ html_label(__('Taal'), 'taal', errors=errors) }}
			{{ html_select_field('taal', global.i18n.languages, iter) }}
		</div>
		
		<button type="submit" class="button">{{ __('Opslaan') }}</button>
	</form>
</section>
{% endblock %}