{% set activiteiten = view.get_activities(iter) %}
{% if activiteiten %}
<article>
	<h2 class="title is-4">{{ __('Committee agenda') }}</h2>
	{% for activity in activiteiten %}
	<div class="media">
		<div class="calendar-icon media-left">
			<span class="month">{{ activity.van|date('M') }}</span>
			<span class="day">{{ activity.van|date('d') }}</span>
		</div>
		<div class="media-content">
			<h3 class="title is-5">
				<a class="agendalink" href="agenda.php?agenda_id={{ activity.id }}">{{ activity.kop }}</a>
			</h3>
			<p class="subtitle is-6">
				{{ activity|period }}
				{% if activity.locatie %}
					&ndash; {{ __('Location') }}: <span class="p-location">{{ activity.locatie }}</span>
				{% endif %}
			</p>

			{% if activity.extern %}
				<div class="notification">{{  __('This activity is not organised by Cover.') }}</div>
			{% endif %}
			
			<div class="content">
				<p>
					{{ activity.beschrijving|parse_markup }}
				</p>
			</div>
		</div>
	</div>
	{% endfor %}
</article>
{% endif %}
