{% set activiteiten = view.get_activities(iter) %}
{% if activiteiten %}
<div class="commissie-agenda agenda" id="activiteiten">
	<h2>{{ __('Commissieagenda') }}</h2>
	{% for punt in activiteiten %}
	<div class="h-event">
		<div class="calendar-icon">
			<span class="month">{{ punt.van|date('M') }}</span>
			<span class="day">{{ punt.van|date('d') }}</span>
		</div>
		<h3><a class="agendalink" href="agenda.php?agenda_id={{ punt.id }}">{{ punt.kop }}</a></h3>
		
		<p>{{ punt|period }}</p>

		{% if punt.locatie %}
			<p class="location">{{ __('Locatie') }}: <span class="p-location">{{ punt.locatie }}</span></p>
		{% endif %}

		{% if punt.extern %}
			{{  __('Deze activiteit wordt niet georganiseerd door Cover zelf.') }}</br>
		{% endif %}

		<p class="p-summary details">
			{{ punt.beschrijving|parse_markup }}
		</p>
	</div>
	{% endfor %}
</div>
{% endif %}
