{% set commissioner = view.commissioner_of_internal_affairs %}
<div class="committee-vacancy">
	{% if commissioner %}
		<a href="profiel.php?lid={{ commissioner.id }}"><img src="foto.php?lid_id={{ commissioner.id }}&amp;format=square&amp;width=100" class="profile-picture"></a>
		{% if iter.has_vacancy_deadline %}
		<p>{{ __("Hey! Deze commissie zoekt nieuwe commissieleden.\nHeb jij interesse? Zeg het de Commissaris Intern, %s (intern@svcover.nl)")|format(commissioner.voornaam) }}</p>
		{% else %}
		<p>{{ __("Hey! Deze commissie zoekt nieuwe commissieleden. Heb jij interesse?\nZeg het <strong>voor %s</strong> tegen de Commissaris Intern, %s (intern@svcover.nl)")|format(iter.vacancies|date('%A %e %B'),commissioner.voornaam|e('html'))|raw }}
		{% endif %}
	{% else %}
	<p>{{ __("Hey! Deze commissie zoekt nieuwe commissieleden. Heb jij interesse? Zeg het de Intern via intern@svcover.nl.") }}</p>
{% endif %}
</div>
