{% set members = iter.members %}
{% if members|length > 0 %}
<article>
	<h2 class="title is-4">{{ __('Members') }}</h2>
	<ul class="columns is-multiline is-mobile">
	{% for member in members %}
		{% if user_can_read member %}
			<li class="column has-text-centered">
				<a href="profiel.php?lid={{ member.id }}">
					<figure class="image is-128x128">
						<img class="is-rounded" width="128" height="128" src="{{ link('foto.square', member=member, width=256) }}" alt="{{ __('Photo of %s')|format(member|full_name) }}">
					</figure>
					<span class="name">{{ member|personal_full_name }}</span>
					<span class="function is-block">{{ member.functie|translate_parts(',/') }}</span>
				</a>
			</li>
		{% endif %}
	{% endfor %}
	{% for mascot in iter.mascots %}
		<li class="column has-text-centered">
			<figure class="image is-128x128">
				<img class="is-rounded" width="128" height="128" src="{{ mascot.photo }}" alt="{{ __('Photo of %s')|format(mascot.name) }}">
			</figure>
			<span class="name">{{ mascot.name }}</span>
			<span class="function is-block">{{ mascot.functie|translate_parts(',/') }}</span>
		</li>
	{% endfor %}
	</ul>
</article>
{% endif %}
