{% extends '@layout/layout.twig' %}

{% block title %}
	{{ __('Groups') }} :: {{ parent() }}
{% endblock %}

{% block content %}
{% set grouped = iters|group_by('hidden') %}
<div class="pageHeading">
	{% if user_can_create controller.new_iter %}
		<div class="controls inline"><a href="{{ controller.link_to_create() }}" class="create-link">{{ __('New committee') }}</a></div>
	{% endif %}
	<h1>{{ __('Groups') }}</h1>
</div>
<div class="messageBox">
	<h2>{{ __('Active') }}</h2>
	<table class="full-width-table">
		<col class="name">
		<col  class="numeric">
		<col style="width: 100px" class="enum">
		<col style="width: 50px" class="actions">
		<thead>
			<tr>
				<th>{{ __('Name') }}</th>
				<th class="numeric">{{ __('Members') }}</th>
				<th class="enum">{{ __('Type') }}</th>
				<th class="actions"></th>
			</tr>
		</thead>
		<tbody>
			{% for committee in grouped.0 %}
				<tr>
					<td>{{ committee.naam }}</td>
					<td class="numeric">{{ committee.member_count }}</td>
					<td class="enum">{{ view.available_committee_types[committee.type] }}</td>
					<td class="actions"><a href="{{ controller.link_to_update(committee) }}">{{ __('Edit') }}</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<h2>{{ __('Inactive') }}</h2>
	<table class="full-width-table">
		<col class="name">
		<col style="width: 100px" class="enum">
		<col style="width: 50px" class="actions">
		<thead>
			<tr>
				<th>{{ __('Name') }}</th>
				<th class="enum">{{ __('Type') }}</th>
				<th class="actions"></th>
			</tr>
		</thead>
		<tbody>
			{% for committee in grouped.1 %}
				<tr>
					<td>{{ committee.naam }}</td>
					<td class="enum">{{ view.available_committee_types[committee.type] }}</td>
					<td class="actions"><a href="{{ controller.link_to_update(committee) }}">{{ __('Edit') }}</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}