{% extends '@layout/layout.twig' %}

{% block title __('Delete committee') ~ ' &ndash; ' ~ parent() %}

{% block content %}
<h1 class="title">{{ __('Delete committee') }}</h1>
<form method="post" action="{{ controller.link_to_delete(iter) }}">
	{{ html_nonce('delete', iter) }}
    <div class="field">
    	<p>{{ __('Are you certain you want to delete <em>%s</em> committee?')|format(iter.naam|e('html'))|raw }}</p>
    </div>
	<div class="field">
        <div class="control buttons">
    		<button type="submit" class="button is-danger">{{ __('Delete committee')  }}</button>
    		<a href="{{ controller.link_to_read(iter) }}" class="button">{{ __('Back to committee page') }}</a>
        </div>
	</div>
</form>
{% endblock %}