{% extends '@layout/layout.twig' %}

{% block title __('Delete committee') ~ ' :: ' ~ parent() %}

{% block content %}
<h1>{{ __('Delete committee') }}</h1>
<div class="messageBox">
	<form method="post" action="{{ controller.link_to_delete(iter) }}" class="vertical-form">
		{{ html_nonce('delete', iter) }}
		<p>{{ __('Are you certain you want to delete <em>%s</em> committee?')|format(iter.naam|e('html'))|raw }}</p>
		<div>
			<button type="submit" class="button">{{ __('Delete committee')  }}</button>
			<a href="{{ controller.link_to_read(iter) }}">{{ __('Back to committee page') }}</a>
		</div>
	</form>
</div>
{% endblock %}