{% extends '@layout/layout.twig' %}

{% block title (iter.has_id() ? __('Modify committee/working group') : __('Add a new committee/working group')) ~ ' :: ' ~ parent() %}

{% block content %}
<h1>{{ iter.has_id() ? __('Modify committee/working group') : __('Add a new committee/working group') }}</h1>
<div class="messageBox">
	<form method="post" action="{{ view.get_form_action(iter) }}" class="vertical-form">
		{% if iter.has_id %}
			{{ html_nonce('update', iter) }}
		{% else %}
			{{ html_nonce('create', iter) }}
		{% endif %}

		{% if iter.hidden %}
			<div class="warning-section">
				{{ html_input_checkbox('hidden', iter.data) }}
				{{ html_label(__('This committee/working group is deactivated'), 'hidden', errors=errors) }}
			</div>
		{% endif %}

		<div>
			{{ html_label(__('Type'), 'type', errors=errors, required=true) }}
			{{ html_select_field('type', view.available_committee_types, iter, required=true) }}
		</div>

		<div>
			{{ html_label(__('Name'), 'naam', errors=errors, required=true) }}
			{{ html_input_text('naam', iter.data, required=true) }}
		</div>

		<div class="committee-members">
			<table>
				<thead>
					<tr>
						<th>{{ __('Member') }}</th>
						<th>{{ __('Function') }}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% if iter.has_id() %}
						{% for member in iter.members %}
							<tr>
								<td>{{ member|full_name_ignore_privacy }}</td>
								<td><input type="text" name="members[{{ member.id }}]" value="{{ member.functie }}" class="autocomplete-function"></td>
								<td><button type="button" class="button remove-button" title="{{ __('Remove member from committee') }}">&times;</button></td>
							</tr>
						{% endfor %}
					{% endif %}
				</tbody>
				<tfoot>
					<tr>
						<td><input type="text" class="committee-member-name" placeholder="{{ __('Name') }}"></td>
						<td><input type="text" class="committee-member-function autocomplete-function" placeholder="{{ __('Function') }}"></td>
						<td><button type="button" class="button add-button">{{ __('Add') }}</button></td>
					</tr>
				</tfoot>
			</table>
		</div>

		<div>
			{{ html_label(__('This committee/working group is looking for new members till'), 'vacancies', errors=errors) }}
			{{ html_input_date('vacancies', iter.data) }}
			<p>{{ __("A banner with the face of the Commissioner of Internal Affairs is shown on the pages of committees or working groups who have vacancies. If you don't have a specific deadline, enter a value more than a year into the future. If the committee or working group is not looking for new members, leave the field empty.") }}</p>
		</div>

		<div>
			<button type="submit" class="button">{{ iter.has_id() ? __('Modify %s')|format(view.available_committee_types[iter.type]) : __('Create new committee/working group') }}</button>
			{% if iter.has_id %}
			<a href="{{ controller.link_to_read(iter) }}">{{ __('Return to %s')|format(view.available_committee_types[iter.type]) }}</a>
			{% else %}
			<a href="{{ controller.link_to_index() }}">{{ __('Back to all committees') }}</a>
			{% endif %}
			{% if iter.has_id and not iter.hidden and user_can_delete iter %}
			<a href="{{ controller.link_to_delete(iter) }}" class="delete-link">{{ __('Deactivate') }}</a>
			{% endif %}
		</div>
	</form>
</div>
<script>
jQuery(function($) {
	var $form = $('form .committee-members')
		$member = $form.find('input.committee-member-name'),
		$fun = $form.find('input.committee-member-function')
		$add = $form.find('button.add-button');

	$member.autocompleteAlmanac({
		select: function(event, ui) {
			$(this).data('member-id', ui.item.id).val(ui.item.name);
			$fun.focus();
			return false;
		}
	});

	$form.find('.autocomplete-function').autocomplete({
			delay: 0,
			minLength: 0,
			source: {{ model.get_functies|flip|values|json_encode|raw }}
		})
		.focus(function(e) {
			$(this).autocomplete('search', '');
		});

	$add.click(function(e) {
		if (!$member.data('member-id'))
			return;

		var $row = $('<tr>');

		$('<td>').text($member.val()).appendTo($row);

		$('<input type="text">')
			.attr('name', 'members[' + $member.data('member-id') + ']')
			.val($fun.val())
			.appendTo($('<td>').appendTo($row));

		$('<button type="button">')
			.addClass('remove-button button')
			.html('&times;')
			.appendTo($('<td>').appendTo($row));

		$form.find('table tbody').append($row);

		$fun.val('');
		$member.data('member-id', '').val('').focus();
	});

	$fun.keypress(function(e) {
		if (e.keyCode == $.ui.keyCode.ENTER) {
			e.preventDefault();
			$add.click();
		}
	});

	$form.on('click', '.remove-button', function(e) {
		$(this).closest('tr').remove();
	});
});
</script>
{% endblock %}