{% extends '@layout/layout.twig' %}

{% block title (iter.has_id() ? __('Modify committee/working group') : __('Add a new committee/working group')) ~ ' – ' ~ parent() %}

{% block content %}
<h1 class="title">{{ iter.has_id() ? __('Modify committee/working group') : __('Add a new committee/working group') }}</h1>
<form class="committees-form" method="post" action="{{ view.get_form_action(iter) }}">
	{% if iter.has_id %}
		{{ html_nonce('update', iter) }}
	{% else %}
		{{ html_nonce('create', iter) }}
	{% endif %}

	{% if iter.hidden %}
		<div class="field notification is-danger">
			<div class="control">
				{{ html_input_checkbox('hidden', iter.data, label=__('This committee/working group is deactivated'), errors=errors) }}
			</div>
		</div>
	{% endif %}

	<div class="field">
		{{ html_label(__('Type'), 'type', errors=errors, required=true) }}
		<div class="control">
			<div class="select">
				{{ html_select_field('type', view.available_committee_types, iter, required=true) }}
			</div>
		</div>
	</div>

	<div class="field">
		{{ html_label(__('Name'), 'naam', errors=errors, required=true) }}
		<div class="control">
			{{ html_input_text('naam', iter.data, required=true) }}
		</div>
	</div>

	<div class="field">
		<table class="table is-fullwidth is-hoverable is-aligned">
			<thead>
				<tr>
					<th>{{ __('Member') }}</th>
					<th>{{ __('Function') }}</th>
					<th></th>
				</tr>
			</thead>
			<tbody class="member-function-list">
				{% if iter.has_id() %}
					{% for member in iter.members %}
						<tr class="is-vcentered">
							<td class="name">{{ member|full_name_ignore_privacy }}</td>
							<td>
								<input type="text" name="members[{{ member.id }}]" value="{{ member.functie }}" class="input is-small" data-autocomplete="json" data-autocomplete-src="{{ model.get_functies|flip|values|json_encode|e }}">
							</td>
							<td class="has-text-right">
								<button type="button" class="button is-small remove-button" title="{{ __('Remove member from committee') }}">
								    <span class="icon is-small">
										<i class="fas fa-user-times" aria-hidden="true"></i>
										<span class="is-sr-only">{{ __('Remove member from committee') }}</span>
									</span>
								</button>
							</td>
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
			<tfoot>
				<tr>
					<td>
						<input class="input committee-member-name" type="text" placeholder="{{ __('Name') }}" data-autocomplete="member_id">
					</td>
					<td>
						<input class="input committee-member-function" type="text" placeholder="{{ __('Function') }}" data-autocomplete="json" data-autocomplete-src="{{ model.get_functies|keys|json_encode|e }}">
					</td>
					<td class="has-text-right">
						<button type="button" class="button add-button">{{ __('Add') }}</button>
					</td>
				</tr>
			</tfoot>
		</table>

		<template id="member-function-row">
			<tr class="is-vcentered">
				<td class="name"></td>
				<td>
					<input type="text" class="input is-small function" data-autocomplete="data" data-autocomplete-src="{{ model.get_functies|flip|values|json_encode|e }}">
				</td>
				<td class="has-text-right">
					<button type="button" class="button is-small remove-button" title="{{ __('Remove member from committee') }}">
					    <span class="icon is-small">
							<i class="fas fa-user-times" aria-hidden="true"></i>
							<span class="is-sr-only">{{ __('Remove member from committee') }}</span>
						</span>
					</button>
				</td>
			</tr>
		</template> 
	</div>

	<div class="field">
		{{ html_label(__('This committee/working group is looking for new members till'), 'vacancies', errors=errors) }}
		<div class="control">
			{{ html_input_date('vacancies', iter.data) }}
		</div>
		<p class="help">
			{{ __("A banner with the face of the Commissioner of Internal Affairs is shown on the pages of committees or working groups who have vacancies. If you don't have a specific deadline, enter a value more than a year into the future. If the committee or working group is not looking for new members, leave the field empty.") }}
		</p>
	</div>

	<div class="field">
		<div class="control buttons">
			<button type="submit" class="button is-primary">{{ iter.has_id() ? __('Modify %s')|format(view.available_committee_types[iter.type]) : __('Create new committee/working group') }}</button>
			{% if iter.has_id %}
				<a href="{{ controller.link_to_read(iter) }}" class="button">{{ __('Return to %s')|format(view.available_committee_types[iter.type]) }}</a>
			{% else %}
				<a href="{{ controller.link_to_index() }}" class="button">{{ __('Back to all committees') }}</a>
			{% endif %}
			{% if iter.has_id and not iter.hidden and user_can_delete iter %}
				<a href="{{ controller.link_to_delete(iter) }}" class="button" data-popup="modal">{{ __('Deactivate') }}</a>
			{% endif %}
		</div>
	</div>
</form>

{% endblock %}
