{% extends '@layout/layout.twig' %}

{% block title %}
	{{ __('Committees') }} – {{ parent() }}
{% endblock %}

{% block page %}
<header class="section">
	<div class="container level">
		<div class="level-left">
			<h1 class="title">{{ __('Committees') }}</h1>
		</div>
		{% if user_can_create controller.new_iter %}
		<div class="level-right buttons">
			{# If someone can create, someone can probably also reactivate #}
			<a href="{{ controller.link_to('archive') }}" class="button">{{ __('Committee archive') }}</a>
			<a href="{{ controller.link_to_create() }}" class="button">{{ __('New committee') }}</a>
		</div>
		{% endif %}
	</div>
</header>

{% if get_config_value('committee_battle', false) %}
<a href="committeebattle.php">
	<section class="hero is-primary">
		<div class="container">
			<div class="hero-body" data-photos="{{ view.get_committee_battle_banner_photos(iters)|json_encode()|e('html_attr') }}">
				<h1 class="title">{{ __('Committee Battle') }}</h1>
			</div>
		</div>
	</section>
</a>
{% endif %}

<section class="section">
	<div class="container">
		<div class="columns is-multiline">
			{% for committee in iters %}
				<div class="column is-half-tablet is-one-third-desktop is-one-quarter-fullhd">
					<a href="{{ controller.link_to_read(committee) }}" class="committee">
						<div class="overlay">
							<h2 class="name">
								{{ committee.naam }}
							</h2>
							
							<div class="summary">
								{{ view.get_summary(committee)|parse_markup }}
							</div>
						</div>
						
						{% if committee.thumbnail %}
							<figure class="image">
								<img src="{{ committee.thumbnail }}" alt="Photo of {{ committee.naam }}">
							</figure>
						{% elseif committee.members|length > 0 %}
							<div class="member-images columns is-gapless is-mobile">
								{% for member in committee.members %}
									{% if user_can_read member %}
										<figure class="column image">
											<img class="" src="{{ link('foto.portrait', member=member, width=512) }}" alt="{{ __('Photo of %s')|format(member|full_name) }}">
										</figure>
									{% endif %}
								{% endfor %}
							</div>
						{% endif %}
						
{# 							{% if committee.has_vacancy %}
							<span class="tag is-danger">{{ __('Looking for new members!') }}</span>
						{% endif %} #}
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %}