{% extends '@layout/layout.twig' %}

{% block title %}
	{{ iter.naam }} :: {{ parent() }}
{% endblock %}

{% block content %}
{% if interest_reported %}
	<div class="warning-section">
		<p>{{ __('Cool! We’ve notified the Commissioner of Internal Affairs for you!') }}</p>
	</div>
{% endif %}
<div class="pageheading">
	{% if user_can_update iter %}
	<div class="controls inline">
		<a href="{{ controller.link_to_update(iter) }}" class="edit-link">{{ __('Modify %s')|format(view.available_committee_types[iter.type]) }}</a>
	</div>
	{% endif %}
	<h1>{{ iter.naam }}</h1>
</div>
{% if iter.has_vacancy %}
	{{ include('_leden_gezocht.twig') }}
{% endif %}
<div class="committee-page messageBox">
	{{ include('_foto.twig') }}

	{{ include('_contact.twig') }}

	<div class="content">
		{% if user_can_update iter.page %}
		<div class="controls inline">
			<a href="{{ link('editable.update', editable=iter.page) }}" class="edit-link">{{ __('Modify %s page')|format(view.available_committee_types[iter.type]) }}</a>
		</div>
		{% endif %}
		
		{{ iter.page.locale_content|parse_markup }}
	</div>

	{{ include('_leden.twig') }}

	{{ include('_agenda.twig') }}
</div>

{{ include ('_navigation.twig') }}
{% endblock %}