{% extends '@layout/layout.twig' %}

{% block title %}
	{{ iter.naam }} &ndash; {{ parent() }}
{% endblock %}

{% block content %}

<div class="level">
	<div class="level-left">
		<h1 class="title">{{ iter.naam }}</h1>
	</div>
	<div class="buttons level-right">
		{% if user_can_update iter %}
			<a href="{{ controller.link_to_update(iter) }}" class="button">{{ __('Modify %s')|format(view.available_committee_types[iter.type]) }}</a>
		{% endif %}
		
		{% if user_can_update iter.page %}
			<a href="{{ link('editable.update', editable=iter.page) }}" class="button">{{ __('Modify %s page')|format(view.available_committee_types[iter.type]) }}</a>
		{% endif %}
	</div>
</div>

{% if interest_reported %}
	<div class="notification is-danger">
		<button class="delete"></button>
		<p>{{ __('Cool! We’ve notified the Commissioner of Internal Affairs for you!') }}</p>
	</div>
{% elseif iter.has_vacancy %}
	{{ include('_leden_gezocht.twig') }}
{% endif %}

<div class="committee-page messageBox">
	{{ include('_foto.twig') }}

	{{ include('_contact.twig') }}

	<div class="content">		
		{{ iter.page.locale_content|parse_markup }}
	</div>

	{{ include('_leden.twig') }}

	{{ include('_agenda.twig') }}
</div>

{% endblock %}