{% extends '@layout/layout.twig' %}

{% block title __('Working groups') ~ ' :: ' ~ parent() %}

{% block content %}
<div class="pageHeading">
	{% if user_can_create controller.new_iter %}
		<div class="controls inline"><a href="{{ controller.link_to_create() }}" class="create-link">{{ __('New working group') }}</a></div>
	{% endif %}
	<h1>{{ __('Working groups') }}</h1>
</div>
<div class="messageBox working-groups">
	{% for working_group in iters %}
	<section class="working-group">
		<h3><a href="{{ controller.link_to_read(working_group) }}" class="link">{{ working_group.naam }}</a></h3>
		<p>{{ view.get_summary(working_group) }}</p>
		<ul>
		{% for member in working_group.members %}
			{% if user_can_read member %}
				<li>
					<a href="{{ link('profiel.read', member=member) }}">
						<img src="{{ link('foto.square', width=60, member=member) }}">
						{{ member|personal_full_name }}
					</a>
				</li>
			{% endif %}
		{% endfor %}
		</ul>
	</section>
	{% endfor %}
</div>
{% endblock %}