{% extends '@layout/layout.twig' %}

{% block title __('Working groups') ~ ' &ndash; ' ~ parent() %}

{% block content %}
<div class="level">
	<div class="level-left">
		<h1 class="title">{{ __('Working groups') }}</h1>
	</div>
	{% if user_can_create controller.new_iter %}
		<div class="level-right buttons">
			<a href="{{ controller.link_to_create() }}" class="button">{{ __('New working group') }}</a>
		</div>
	{% endif %}
</div>

<div class="columns is-multiline">
{% for working_group in iters %}
	<div class="column is-half">
		<article class="card">
			<header class="card-header">
				<h2 class="card-header-title">
					<a href="{{ controller.link_to_read(working_group) }}">{{ working_group.naam }}</a>
				</h2>
			</header>
			<div class="card-content">
				<div class="content">
					<p>{{ view.get_summary(working_group) }}</p>
				</div>
				<ul class="columns is-multiline is-mobile">
				{% for member in working_group.members %}
					{% if user_can_read member %}
						<li class="column has-text-centered">
							<a href="profiel.php?lid={{ member.id }}">
								<figure class="image is-64x64">
									<img width="128" height="64" src="{{ link('foto.square', member=member, width=256) }}" alt="{{ __('Photo of %s')|format(member|full_name) }}">
								</figure>
								<span class="name">{{ member|personal_full_name }}</span>
							</a>
						</li>
					{% endif %}
				{% endfor %}
				</ul>
			</div>
		</article>
	</div>
{% endfor %}
</div>
{% endblock %}