<div>
	{{ html_label(__('Address'), name ~ '-address', errors=errors, required=configuration.required) }}
	{{ html_input_text(name ~ '-address', data, errors=errors, required=configuration.required, placeholder=__('E.g. Nijenborgh 9')) }}
	<p>{{ __('Street name + number') }}</p>
</div>
<div>
	{{ html_label(__('Place of residence'), name ~ '-city', errors=errors, required=configuration.required) }}
	{{ html_input_text(name ~ '-city', data, errors=errors, required=configuration.required, placeholder=__('E.g. Groningen')) }}
</div>