<div>
	{{ html_label(__('IBAN'), name ~ '-iban', errors=errors, required=configuration.required) }}
	{{ html_input_text(name ~ '-iban', data, errors=errors, required=configuration.required) }}
</div>
<div>
	{{ html_label(__('BIC'), name ~ '-bic', errors=errors) }}
	{{ html_input_text(name ~ '-bic', data, errors=errors) }}
	<small class="hint">{{ __("Only required if your IBAN [i]does not[/i] start with 'NL'")|parse_markup }}</small>
</div>
