{% extends '@layout/layout.twig' %}

{% block title __('Clubs') ~ ' – ' ~ parent() %}

{% block content %}
{{ include('@layout/editable.twig', {editable: global.models.Editable.get_iter_from_title('Clubs')}) }}

<div class="box content has-text-centered">
    <p>{{ __('Are you interesed in starting your own club? No problem! Just fill out the club proposal form and the board will help you get started!') }}</p>
    {% if global.auth.logged_in %}
        <a href="{{ controller.link_to_propose_club() }}" class="button is-medium is-primary">
            {{ __('Propose a club') }}
        </a>
    {% else %}
        <p>
            <a href="sessions.php?view=login&amp;referrer=boeken.php" class="button is-fullwidth is-primary">{{ __('Log in') }}</a>
            <div class="divider is-fullwidth">{{ __('or') }}</div>
            <a href="lidworden.php" class="button is-fullwidth">{{ __('Become a member') }}</a>
        </p>
    {% endif %}
</div>
{% endblock %}
