{% extends '@layout/layout.twig' %}

{% block title __('Membership application form') ~ ' – ' ~ parent() %}

{% block content %}
<header class="block">
	<h1 class="title">{{ __('Membership application form') }}</h1>
	<p class="subtitle is-4">{{ __('Become a member!') }}</p>
</header>
<article class="block">
	{% if errors|length > 0 %}
		<p class="notification is-danger">{{ __("You haven't filled in all the fields correctly.") }}</p>
	{% endif %}

	<form method="post" action="{{ path('join') }}" class="new-member-form vertical-form">
		{{ html_nonce('sign_up') }}
		
		<div class="field">
			<h2 class="title is-5">{{ __('Basic information') }}</h2>
		</div>

		<div class="field">
			<div>{# Getting around column margins is hard#}
				<div class="columns">
					<div class="field column is-marginless">
						{{ html_label(__('First name'), 'first_name', errors=errors, required=true) }}
						<div class="control">
							{{ html_input_text('first_name', null, errors=errors, required=true, placeholder=__('E.g. John')) }}
						</div>
					</div>
					<div class="field column is-marginless is-one-fifth">
						{{ html_label(__('Infix'), 'family_name_preposition', errors=errors) }}
						<div class="control">
							{{ html_input_text('family_name_preposition', null, errors=errors, class='small', placeholder=__('E.g. von')) }}
						</div>
					</div>
					<div class="field column is-marginless">
						{{ html_label(__('Last name'), 'family_name', errors=errors, required=true) }}
						<div class="control">
							{{ html_input_text('family_name', null, errors=errors, required=true, placeholder=__('E.g. Neumann')) }}
						</div>
					</div>
				</div>
			</div>
			<p class="help">{{ __('Infix (tussenvoegsel) is a common thing in Dutch surnames. It\'s separated from the rest of the surname to sort your surname with N instead of V if your name is John von Neuman. Leave this field empty if you don\'t know what to do with this.') }}</p>
		</div>

		<div class="field">
			{{ html_label(__('Birthdate'), 'birth_date', errors=errors, required=true) }}
			<div class="control">
				{{ html_input_date('birth_date', null, errors=errors, required=true, placeholder=__('E.g. 1993-9-20')) }}
			</div>
		</div>

		<div class="field">
			<h2 class="title is-5">{{ __('Address') }}</h2>
		</div>

		<div class="field">
			{{ html_label(__('Street name + number'), 'street_name', errors=errors, required=true) }}
			<div class="control">
				{{ html_input_text('street_name', null, errors=errors, required=true, placeholder=__('E.g. Nijenborgh 9')) }}
			</div>
		</div>
		<div class="field">
			<div class="columns">
				<div class="field column is-marginless is-one-third">
					{{ html_label(__('Zipcode'), 'postal_code', errors=errors, required=true) }}
					<div class="control">
						{{ html_input_text('postal_code', null, errors=errors, required=true, placeholder=__('E.g. 9747 AG')) }}
					</div>
				</div>
				<div class="field column is-marginless">
					{{ html_label(__('Place of residence'), 'place', errors=errors, required=true) }}
					<div class="control">
						{{ html_input_text('place', null, errors=errors, required=true, placeholder=__('E.g. Groningen')) }}
					</div>
				</div>
			</div>
		</div>

		<div class="field">
			<h2 class="title is-5">{{ __('Contact') }}</h2>
		</div>

		<div class="field">
			{{ html_label(__('Phone number'), 'phone_number', errors=errors, required=true) }}
			<div class="control">
				{{ html_input_text('phone_number', null, errors=errors, required=true, type='tel') }}
			</div>
		</div>

		<div class="field">
			{{ html_label(__('Email address'), 'email_address', errors=errors, required=true) }}
			<div class="control">
				{{ html_input_text('email_address', null, errors=errors, required=true, type='email') }}
			</div>
			<p class="help">{{ __('Please use your personal email, NOT your university email. Then we can still contact you about your membership after your graduation. We’ll send you an email with a confirmation link after completing this form.') }}</p>
		</div>

		<div class="field">
			<h2 class="title is-5">{{ __('Study') }}</h2>
		</div>

		<div class="field">
			{{ html_label(__('Student number'), 'membership_student_number', errors=errors, required=true) }}
			<div class="control">
				{{ html_input_text('membership_student_number', null, errors=errors, required=true, placeholder=__('E.g. s123456')) }}
			</div>
		</div>

		<div class="field columns">
			<div class="field column is-marginless is-two-thirds">
				{{ html_label(__('Study'), 'membership_study_name', errors=errors, required=true) }}
				<div class="control">
					{{ html_input_text('membership_study_name', null, errors=errors, required=true, list='studies', data_autocomplete='json', data_autocomplete_src=['Artificial Intelligence', 'Computing Science', 'Computational Cognitive Science']|json_encode, data_autocomplete_threshold=0, data_autocomplete_mock_select=true, placeholder=__("Pick one from the list or type if your study isn't on it")) }}
				</div>
			</div>

			<div class="field column is-marginless is-one-third">
				{{ html_label(__('Phase'), 'membership_study_phase', errors=errors, required=true) }}
				<div class="control">
					<div class="select is-fullwidth">
						{{ html_select_field('membership_study_phase', {b: __('Bachelor'), m: __('Master')}, null, errors=errors, required=true) }}
					</div>
				</div>
			</div>
		</div>

		<div class="field">
			{{ html_label(__('Starting year'), 'membership_year_of_enrollment', errors=errors, required=true) }}
			<div class="control">
				{{ html_input_text('membership_year_of_enrollment', {'membership_year_of_enrollment': academic_year}, errors=errors, required=true) }}
			</div>
			<p class="help">{{ __('In which year did you start or are you expecting to start with your study.') }}</p>
		</div>

		<div class="field">
			<h2 class="title is-5">{{ __('Payment') }}</h2>
		</div>

		<div class="field">
			{{ html_label(__('IBAN'), 'iban', errors=errors, required=true) }}
			<div class="control">
				{{ html_input_text('iban', null, errors=errors, required=true) }}
			</div>
		</div>

		<div class="field">
			{{ html_label(__('BIC'), 'bic', errors=errors) }}
			<div class="control">
				{{ html_input_text('bic', null, errors=errors) }}
			</div>
			<p class="help">{{ __("Only required if your IBAN [i]does not[/i] start with 'NL'")|parse_markup }}</p>
		</div>

        <div class="field">
            <h3 class="label">SEPA direct debit mandate</h3>
            <div class="control">
                {{ html_input_checkbox('sepa_mandate', null, errors=errors, required=true, label=__('I hereby authorize Cover to automatically deduct the membership fee, costs for attending activities, and additional costs (e.g. food and drinks) from my bank account for the duration of my membership. (required)')) }}
            </div>
            <p class="help">
                {{ __('By checking this box, you authorise (A) study association Cover (ID: NL48ZZZ400267070000) to send instructions to your bank to debit your account and (B) your bank to debit your account in accordance with the instructions from the Creditor. As part of your rights, you are entitled to a refund from your bank under the terms and conditions of your agreement with your bank. A refund must be claimed within 8 weeks starting from the date on which your account was debited. Your rights are explained in a statement that you can obtain from your bank.') }}
            </p>
            <p class="help">
            	{{ __('If you update your personal details or account number in your Cover account, these changes will be reflected in the mandate.') }}
            </p>
        </div>

		<div class="level field">
			<div class="level-left">
				<h2 class="title is-5">{{ __('Terms and Conditions') }}</h2>
			</div>
			{% if user_can_update voorwaarden %}
				<div class="level-right buttons">
					<a href="{{ path('page', {view: 'update', id: voorwaarden.id}) }}" class="button">{{ __('Modify conditions') }}</a>
				</div>
			{% endif %}
		</div>
		<div class="field">
			<div class="content">
				{{ voorwaarden.locale_content|parse_markup }}
			</div>
		</div>

        <div class="field">
            <div class="control">
                {{ html_input_checkbox('terms_conditions_agree', null, errors=errors, required=true, label=__('I agree to the terms and conditions. (required)')) }}
            </div>
        </div>
	
		<div class="field">
			<h2 class="title is-5">{{ __('Intelligence test') }}</h2>
		</div>

		<div class="field">
			{{ html_label(__('What is the colour of grass? (I am not a robot)'), 'spam', errors=errors, required=true) }}
			<div class="control">
				{{ html_input_text('spam', null, errors=errors, required=true) }}
			</div>
			<p class="help">{{ __("If you are unsure, just enter ‘green’.") }}</p>
		</div>

		<div class="field">
			<div class="control">
				<button type="submit" name="subm" value="yes" class="button is-large is-primary">{{ __('Become a member') }}</button>
			</div>
		</div>
	</form>
</article>
{% endblock %}