{% extends "@layout/layout.twig" %}

{% block title __('Edit pending registration') ~ ' –  '~ parent() %}

{% block content %}
<h1 class="title">{{__('Edit pending registration')}}</h1>
{{ form_start(form) }}
	{% for child in form -%}
		{% if not child.rendered and child.vars.name not in ['_token', 'submit'] %}
			{{ form_row(child) }}
		{% endif %}
	{%- endfor -%}
	<div class="field">
		<div class="control buttons">
			{{ form_widget(form.submit, {label: __('Modify registration'), is_primary: false, attr: {class: 'is-danger'}}) }}
			<a href="{{ path('join', {view: 'pending-confirmation'}) }}" class="button">{{ __('Back') }}</a>
		</div>
	</div>
{{ form_end(form) }}
{% endblock %}