{% extends '@layout/layout.twig' %}

{% block content %}
<h1 class="title">{{ __('Membership application form') }}</h1>
<article>
	<p>{{ __('Your email address is already known to us, which means you are already in our member administration! In this case it is easier to quickly contact the secretary of Cover via secretary@svcover.nl.') }}</p>
	<div class="box">
		<a href="{{ link('sessions.login', referer=global.server.REQUEST_URI) }}" class="button is-primary is-full-width">{{ __('Log in') }}</a>
		<span class="separator">{{ __('or') }}</span>
		<a href="wachtwoordvergeten.php" class="button is-full-width">{{ __('Reset your password') }}</a>
	</div>
</article>
{% endblock %}