{% extends '@layout/layout.twig' %}

{% block title __('Delete form') ~ ' &ndash; ' ~ parent() %}

{% block content %}
<h1 class="title">{{ __('Delete form') }}</h1>
<form method="post" action="{{ controller.link({view: 'delete_form', 'form': form.id}) }}">
	{{ html_nonce('delete_form', form) }}
	<div class="field content">
        <p>{{ __('Are you sure you want to delete this sign-up form?') }}</p>
    	<p class="has-text-danger">{{ __('This will also delete all registrations. There is no way to undo this action.') }}</p>
    </div>
	<div class="field">
        <div class="control buttons">
    		<button type="submit" class="button is-danger">{{ __('Delete form')  }}</button>
    		<a href="{{ controller.link({view: 'update_form', form: form.id}) }}" class="button">{{ __('Back to form') }}</a>
        </div>
	</div>
</form>
{% endblock %}