{% extends '@layout/layout.twig' %}

{% block title __('Form') ~ ' :: ' ~ parent() %}

{% block content %}
<div class="pageheading">
	<div class="controls inline">
		{% if form.has_id and user_can_update form %}
			<a href="{{ controller.link({'view': 'update_form', 'form': form.id}) }}" class="edit-link">{{ __('Modify form') }}</a>
			<a href="{{ controller.link({'view': 'list_entries', 'form': form.id}) }}" class="download-link">{{ __('Show sign-ups') }}</a>
		{% endif %}
	</div>
	<h1>{{ __('Form') }}</h1>
</div>
<div class="messageBox">
	{% if not form.is_open %}
	<section class="warning-section">
		<h3>{{ __('The registrations are closed.') }}</h3>
		<p>{{ __('You can see this form because you are allowed to sign up people outside of the sign-up period.') }}</p>
	</section>
	{% endif %}
	
	{% if success %}
		<p>{{ __('Success! You have signed up.') }}</p>
	{% else %}
		<form action="{{ entry.has_id ? controller.link({view: 'update_entry', form: form.id, entry: entry.id}) : controller.link({view: 'create_entry', form: form.id}) }}" method="post" class="vertical-form">
			{% if entry.has_id %}
				{{ html_nonce('update_entry', entry) }}
			{% else %}
				{{ html_nonce('create_entry', form) }}
			{% endif %}

			{% if global.POST['return-path'] is defined %}
				{{ html_input_hidden('return-path', global.POST['return-path']) }}
			{% endif %}

			{% if not entry.has_id %}
				{{ html_input_hidden('member_id', entry.member_id) }}
			{% endif %}

			{% for field in form.fields %}
				<div>
					{{ field.render(view, entry)|raw }}
				</div>
			{% endfor %}

			<div class="controls">
				<button class="button" type="submit">{{ entry.has_id ? __('Modify entry') : __('Sign me up') }}</button>
			</div>
		</form>
	{% endif %}
</div>
{% endblock %}
