{% extends '@layout/layout.twig' %}

{% block title __('Formulier') ~ ' :: ' ~ parent() %}

{% block content %}
<h1>{{ __('Formulier') }}</h1>
<div class="messageBox">
	{% if success %}
		<p>{{ __('Succes! Je inschrijving is compleet.') }}</p>
	{% else %}
		<form action="{{ entry.has_id ? controller.link({view: 'update_entry', form: form.id, entry: entry.id}) : controller.link({view: 'create_entry', form: form.id}) }}" method="post" class="vertical-form">
			{% if entry.has_id %}
				{{ html_nonce('update_entry', entry) }}
			{% else %}
				{{ html_nonce('create_entry', form) }}
			{% endif %}
			
			{% for field in form.fields %}
				<div>
					{{ field.render(view, entry)|raw }}
				</div>
			{% endfor %}

			<div class="controls">
				<button class="button" type="submit">{{ entry.has_id ? __('Wijzig inschrijving') : __('Schrijf mij in') }}</button>
			</div>
		</form>
	{% endif %}
</div>
{% endblock %}
