{% extends is_modal ? './_entry_form_modal.twig' : './_entry_form_regular.twig' %}

{% block title __('Form') ~ ' – ' ~ parent() %}
{% block entry_form_title %}{{ __('Form') }}{% endblock %}


{% block entry_form_header %}
	{% if not form.is_open %}
	<div class="notification is-danger">
		<h3>{{ __('The registrations are closed.') }}</h3>
		{% if (not entry.has_id and user_can_create entry) %}
			<p>{{ __('You can see this form because you are allowed to sign up people outside of the sign-up period.') }}</p>
		{% elseif (entry.has_id and user_can_update entry) %}
			<p>{{ __('You can see this entry because you are allowed to modify entries for this form.') }}</p>
		{% else %}
			<p>{{ __('You can see your entry, but you cannot change it anymore. If you would like to change something, ask a committee member.') }}</p>
		{% endif %}
	</div>
	{% endif %}
{% endblock %}

{% block entry_form_form %}
	{% if success %}
		<p>{{ __('Success! You have signed up.') }}</p>
	{% else %}
		<form id="signup-entry-form" action="{{ entry.has_id ? controller.link({view: 'update_entry', form: form.id, entry: entry.id}) : controller.link({view: 'create_entry', form: form.id}) }}" method="post">
			{% if entry.has_id %}
				{{ html_nonce('update_entry', entry) }}
			{% else %}
				{{ html_nonce('create_entry', form) }}
			{% endif %}

			{% if global.POST['return-path'] is defined %}
				{{ html_input_hidden('return-path', global.POST['return-path']) }}
			{% endif %}

			{% if not entry.has_id %}
				{{ html_input_hidden('member_id', entry.member_id) }}
			{% endif %}

			{% for field in form.fields %}
				{{ field.render(view, entry)|raw }}
			{% endfor %}

			{% if not is_modal and (user_can_create entry or user_can_update entry) %}
			<div class="field">
				<div class="control buttons">
					<button class="button is-primary" type="submit">{{ entry.has_id ? __('Modify entry') : __('Sign me up') }}</button>
				</div>
			</div>
			{% endif %}
		</form>
	{% endif %}
{% endblock %}

{% block entry_form_buttons %}
    <a href="#" class="button" data-dismiss="modal">{{ __('Cancel') }}</a>
	<button form="signup-entry-form" class="button is-primary" type="submit">{{ entry.has_id ? __('Modify entry') : __('Sign me up') }}</button>
{% endblock %}
