{% extends '@layout/layout.twig' %}

{% block title (form.has_id ? __('Wijzig formulier') : __('Formulier toevoegen')) ~ ' :: ' ~ parent() %}

{% block content %}
<h1>{{ form.has_id ? __('Wijzig formulier') : __('Formulier toevoegen') }}</h1>
<div class="messageBox">
	<form method="post" class="vertical-form" action="{{ form.has_id ? controller.link({'view': 'update_form', 'form': form.id}) : controller.link({'view': 'create_form'}) }}">
		{% if form.has_id %}
			{{ html_nonce('update_form', form) }}
		{% else %}
			{{ html_nonce('create_form', form) }}
		{% endif %}

		<div>
			{{ html_label(__('Commissie'), 'committee_id', errors=errors, required=true) }}
			{{ html_select_field('committee_id', view.available_committees, form) }}
		</div>

		<div>
			{{ html_label(__('Sluitdatum'), 'closed_on', errors=errors)  }}
			{{ html_input_datetime('closed_on', form, errors=errors) }}
		</div>

		<div class="controls">
			<button class="button" type="submit">{{ form.has_id() ? __('Wijzig formulier') : __('Maak formulier') }}</button>
		</div>
	</form>
</div>

{% if form.has_id %}
<div class="messageBox">
	<form action="{{ controller.link({'view': 'update_form', 'form': form.id}) }}" method="post">
		{{ html_nonce('create_form_field', form) }}
		<p>Add a new {{ html_select_field('field_type', view.available_field_types) }} to this form</p>
		<div class="controls">
			<button type="submit" class="button">Add field</button>
		</div>
	</form>
	
	{% for field in form.fields %}
		<form action="{{ controller.link({'view': 'update_form', 'form': form.id}) }}" method="post">
			{{ html_nonce('update_form_field', form, field) }}
			{{ field.render_options(view)|raw }}
			<div class="controls">
				<button type="submit" class="button" name="action" value="update">Update field</button>
				<button type="submit" class="button" name="action" value="delete">Delete field</button>
			</div>
		</form>
	{% endfor %}
</div>
{% endif %}

{% endblock %}
