{% extends '@layout/layout.twig' %}

{% block title (form.has_id ? __('Wijzig formulier') : __('Formulier toevoegen')) ~ ' :: ' ~ parent() %}

{% block content %}
<div class="pageheading">
	<div class="controls inline">
		{% if form.has_id and user_can_read form %}
			<a href="{{ controller.link({'view': 'create_entry', 'form': form.id}) }}" class="edit-link">Show form</a>
			<a href="{{ controller.link({'view': 'list_entries', 'form': form.id}) }}" class="download-link">Show entries</a>
		{% endif %}
	</div>
	<h1>{{ form.has_id ? __('Wijzig formulier') : __('Formulier toevoegen') }}</h1>
</div>
<div class="messageBox">
	<form method="post" class="vertical-form" action="{{ form.has_id ? controller.link({'view': 'update_form', 'form': form.id}) : controller.link({'view': 'create_form'}) }}">
		{% if form.has_id %}
			{{ html_nonce('update_form', form) }}
		{% else %}
			{{ html_nonce('create_form', form) }}
		{% endif %}

		<div>
			{{ html_label(__('Commissie'), 'committee_id', errors=errors, required=true) }}
			{{ html_select_field('committee_id', view.available_committees, form) }}
		</div>

		<div>
			{{ html_label(__('Activiteit'), 'agenda_id', errors=errors, required=false) }}
			{{ html_select_field('agenda_id', view.available_activitees, form) }}
		</div>

		<div>
			{{ html_label(__('Sluitdatum'), 'closed_on', errors=errors)  }}
			{{ html_input_datetime('closed_on', form, errors=errors) }}
		</div>

		<div class="controls">
			<button class="button" type="submit">{{ form.has_id() ? __('Wijzig formulier') : __('Maak formulier') }}</button>
		</div>
	</form>
</div>

{% if form.has_id %}
<div class="messageBox">
	<form action="{{ controller.link({view: 'create_form_field', form: form.id}) }}" class="inline-form" method="post">
		{{ html_nonce('create_form_field', form) }}
		<p>Add a new {{ html_select_field('field_type', view.available_field_types, null) }} to this form <button type="submit" class="button">Add field</button></p>
	</form>
	
	<div class="form-fields" data-sortable-action="{{ controller.link({view: 'update_form_field_order', form: form.id}) }}">
	{% for field in form.fields %}
		<div class="form-field" data-sortable-id="{{ field.id }}">
			<div class="sortable-drag-handle" title="Drag me to reorder"></div>
			<form action="{{ controller.link({view: 'update_form_field', form: form.id, field: field.id}) }}" method="post" data-submit-on-change="{&quot;action&quot;:&quot;update&quot;}">
				{{ html_nonce('update_form_field', form, field) }}
				{{ field.render_configuration(view, errors.namespace(field.id))|raw }}
				<div class="controls">
					<button type="submit" class="button hide-if-submit-on-change" name="action" value="update">Update field</button>
					<button type="submit" class="button" name="action" value="delete">Delete field</button>
				</div>
			</form>
		</div>
	{% endfor %}
	</div>
</div>
{% endif %}

{% endblock %}
