{% extends '@layout/layout.twig' %}

{% block title (form.has_id ? __('Modify form') : __('Add form')) ~ ' – ' ~ parent() %}

{% block content %}
<header class="level">
	<div class="level-left">
		<h1 class="title">{{ form.has_id ? __('Modify form') : __('Create form') }}</h1>
	</div>
	{% if form.has_id and user_can_read form %}
		<div class="level-right buttons">		
			<a href="{{ controller.link({'view': 'create_entry', 'form': form.id}) }}" class="button">{{ __('Show form') }}</a>
			<a href="{{ controller.link({'view': 'list_entries', 'form': form.id}) }}" class="button">{{ __('Show sign-ups') }}</a>
		</div>
	{% endif %}
</header>

<article class="block">
	<form method="post" action="{{ form.has_id ? controller.link({'view': 'update_form', 'form': form.id}) : controller.link({'view': 'create_form'}) }}">
		{% if form.has_id %}
			{{ html_nonce('update_form', form) }}
		{% else %}
			{{ html_nonce('create_form') }}
		{% endif %}

		<div class="field">
			{{ html_label(__('Committee'), 'committee_id', errors=errors, required=true) }}
			<div class="control">
				<div class="select">
					{{ html_select_field('committee_id', view.available_committees, form, required=true) }}
				</div>
			</div>
		</div>

		<div class="field">
			{{ html_label(__('Activity'), 'agenda_id', errors=errors) }}
			<div class="control">
				<div class="select">
					{{ html_select_field('agenda_id', view.available_activitees, form) }}
				</div>
			</div>
			<p class="help">{{ __('If you link the form to an activity, it will be shown next to the calendar entry.') }}</p>
		</div>

		<div class="field">
			{{ html_label(__('Open date'), 'open_on', errors=errors)  }}
			<div class="control">
				{{ html_input_datetime('open_on', form, errors=errors) }}
			</div>
			<p class="help">{{ __("People will be able to register from this date. Make sure you don't open registrations before you finished configuring the sign-up form.") }}</p>
		</div>
		<div class="field">
			{{ html_label(__('Deadline'), 'closed_on', errors=errors)  }}
			<div class="control">
				{{ html_input_datetime('closed_on', form, errors=errors) }}
			</div>
			<p class="help">{{ __('If you do not have a deadline, leave this field blank.') }}</p>
		</div>
		<div class="field">
			{{ html_label(__('Participant limit'), 'participant_limit', errors=errors) }}
			<div class="control">
				{{ html_input_number('participant_limit', form, errors=errors, min=0) }}
			</div>
			<p class="help">{{ __('If you do not have a participant limit, leave this field blank.') }}</p>
		</div>

		{% if not form.has_id %}
			<div class="field">
				{{ html_label(__('Template'), 'template', errors=errors)  }}
				<div class="control">
					{{ html_select_field('template', controller.available_templates, null, errors=errors) }}
				</div>
				<p class="help">{{ __('Choose a template to start with a set of predefined fields.') }}
			</div>			
		{% endif %}

		<div class="field">
			<div class="control buttons">
				<button class="button is-primary" type="submit">{{ form.has_id() ? __('Modify form') : __('Create form') }}</button>
				{% if form.has_id and user_can_delete form %}
					<a href="{{ controller.link({view: 'delete_form', form: form.id}) }}" class="button">{{ __('Delete this form…') }}</a>
				{% endif %}
			</div>
		</div>
	</form>
</article>

{% if form.has_id %}
<article class="block signup-form">
	<h2 class="title is-4">{{ __('Fields & layout') }}</h2>

	<div class="block sortable signup-form-field-list" data-sortable-action="{{ controller.link({view: 'update_form_field_order', form: form.id}) }}" data-sortable-handle=".card-header" data-sortable-filter=".signup-form-field-delete-button">
	{% for field in form.fields %}
		{{ include('_field_configuration.twig') }}
	{% endfor %}
	</div>

	<form 
		class="card block signup-form-field-form"
		method="post"
		action="{{ controller.link({view: 'create_form_field', form: form.id}) }}"
		data-async-action="{{ controller.link({view: 'create_form_field', form: form.id, action: 'add'}) }}"
		data-partial-selector=".signup-form-field"
		data-placement-selector=".signup-form-field-list"
		data-placement-method="append"
	>
		{{ html_nonce('create_form_field', form) }}
		<div class="card-content">
			<div class="field">
				{{ html_label(__('Add new'), 'field_type') }}
				<div class="control">
					<div class="select is-fullwidth">
						{{html_select_field('field_type', view.available_field_types, null, required=true)}}
					</div>				
				</div>
			</div>
			<div class="field is-grouped is-grouped-right">
				<div class="control">
					<button type="submit" class="button is-primary">{{ __('Add field') }}</button>
				</div>
			</div>
		</div>
	</form>
</article>
{% endif %}

{% endblock %}
