{% extends '@layout/layout.twig' %}

{% block title __('Sign-ups') ~ ' – ' ~ parent() %}

{% block content %}
<header class="level">
	<div class="level-left">
		<h1 class="title">{{ __('Sign-ups') }}</h1>
	</div>
	<div class="level-right buttons">		
		{% if user_can_create form.new_entry(global.identity.member) %}
			<a href="{{ controller.link({'view': 'create_entry', 'form': form.id}) }}" class="button">{{ __('New sign-up') }}</a>
		{% endif %}
		{% if user_can_update form %}
			<a href="{{ controller.link({'view': 'update_form', 'form': form.id}) }}" class="button">{{ __('Modify form') }}</a>
		{% endif %}
		<a href="{{ controller.link({'view': 'export_entries', 'form': form.id}) }}" class="button">{{ __('Download as CSV') }}</a>
	</div>
</header>

<article>
	<p>{{ __N('There is currently %d sign-up.', 'There are currently %d sign-ups.', form.entries|length) }}</p>
	<form action="{{ controller.link({view: 'delete_entries', form: form.id}) }}" method="post">
		{{ html_nonce('delete_entries', form) }}
		<div class="field is-scrollable">
			<table class="table is-fullwidth">
				<thead>
					<tr>
						<th>
							<input type="checkbox" onchange="Array.from(this.form.querySelectorAll('input[type=checkbox]')).forEach(cb => cb.checked = this.checked)">
						</th>
						<th>#</th>
						{% for field in form.fields %}
							{% for column in field.column_labels|values %}
								<th class="column-field-type-{{field.type}} is-truncated" title="{{ column|capitalize }}">{{ column|capitalize }}</th>
							{% endfor %}
						{% endfor %}
						<th>Sign-up date</th>
					</tr>
				</thead>
				<tbody>
					{% for entry in form.entries %}
						{% if user_can_read entry %}
							<tr>
								<td><input type="checkbox" name="entries[]" value="{{ entry.id }}"></td>
								{% if user_can_update entry %}
									<td><a href="{{ controller.link({'view': 'update_entry', 'entry': entry.id}) }}">{{ loop.index }}</a></td>
								{% else %}
									<td>{{ loop.index }}</td>
								{% endif %}
								{% for column, value in entry.export %}
									<td class="is-truncated" title="{{value}}">{{ value }}</td>
								{% endfor %}
							</tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="field">
			<div class="contol buttons">
				<button type="submit" class="button is-danger">{{ __('Remove selected sign-ups') }}</button>
			</div>
		</div>
	</form>
</article>
{% endblock %}