{% extends '@layout/layout.twig' %}

{% block title __('Inschrijvingen') ~ ' :: ' ~ parent() %}

{% block content %}
<div class="pageheading">
	<div class="controls inline">
		{% if user_can_update form %}
			<a href="{{ controller.link({'view': 'update_form', 'form': form.id}) }}" class="edit-link">{{ __('Bewerk formulier') }}</a>
		{% endif %}
		{% if user_can_create form.new_entry(global.identity.member) %}
			<a href="{{ controller.link({'view': 'create_entry', 'form': form.id}) }}" class="create-link">{{ __('Nieuwe inschrijving') }}</a>
		{% endif %}
		<a href="{{ controller.link({'view': 'export_entries', 'form': form.id}) }}" class="download-link">{{ __('Download als CSV') }}</a>
	</div>
	<h1>{{ __('Inschrijvingen') }}</h1>
</div>

<div class="messageBox">
	<form action="{{ controller.link({view: 'delete_entries', form: form.id}) }}" method="post">
		{{ html_nonce('delete_entries', form) }}
		<table class="full-width-table">
			<thead>
				<tr>
					<th><input type="checkbox" onchange="Array.from(this.form.querySelectorAll('input[type=checkbox]')).forEach(cb => cb.checked = this.checked)"></th>
					<th>ID</th>
					<th>{{ __('Lid') }}</th>
					<th>{{ __('Datum') }}</th>
				</tr>
			</thead>
			<tbody>
				{% for entry in form.entries %}
					{% if user_can_read entry %}
						<tr>
							<td><input type="checkbox" name="entries[]" value="{{ entry.id }}"></td>
							{% if user_can_update entry %}
								<td><a href="{{ controller.link({'view': 'update_entry', 'entry': entry.id}) }}">{{ entry.id }}</a></td>
							{% else %}
								<td>{{ entry.id }}</td>
							{% endif %}
							<td>{{ entry.member|full_name }}</td>
							<td>{{ entry.created_on|date('d-m-Y H:i') }}</td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
		<div class="controls">
			<button type="submit" class="button">{{ __('Verwijder geselecteerde inschrijvingen') }}</button>
		</div>
	</form>
</div>
{% endblock %}