{% extends '@layout/layout.twig' %}

{% block title __('Sign-ups') ~ ' :: ' ~ parent() %}

{% block content %}
<div class="pageheading">
	<div class="controls inline">
		{% if user_can_update form %}
			<a href="{{ controller.link({'view': 'update_form', 'form': form.id}) }}" class="edit-link">{{ __('Modify form') }}</a>
		{% endif %}
		{% if user_can_create form.new_entry(global.identity.member) %}
			<a href="{{ controller.link({'view': 'create_entry', 'form': form.id}) }}" class="create-link">{{ __('New sign-up') }}</a>
		{% endif %}
		<a href="{{ controller.link({'view': 'export_entries', 'form': form.id}) }}" class="download-link">{{ __('Download as CSV') }}</a>
	</div>
	<h1>{{ __('Sign-ups') }}</h1>
</div>

<div class="messageBox">
	<form action="{{ controller.link({view: 'delete_entries', form: form.id}) }}" method="post">
		{{ html_nonce('delete_entries', form) }}
		<table class="full-width-table">
			<thead>
				<tr>
					<th><input type="checkbox" onchange="Array.from(this.form.querySelectorAll('input[type=checkbox]')).forEach(cb => cb.checked = this.checked)"></th>
					<th>ID</th>
					<th>Sign-up date</th>
					{% for field in form.fields %}
						{% for column in field.export|keys %}
							<th class="column-field-type-{{field.type}}" title="{{ column|capitalize }}">{{ column|capitalize }}</th>
						{% endfor %}
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for entry in form.entries %}
					{% if user_can_read entry %}
						<tr>
							<td><input type="checkbox" name="entries[]" value="{{ entry.id }}"></td>
							{% if user_can_update entry %}
								<td><a href="{{ controller.link({'view': 'update_entry', 'entry': entry.id}) }}">{{ entry.id }}</a></td>
							{% else %}
								<td>{{ entry.id }}</td>
							{% endif %}
							{% for column, value in entry.export[1:] %}
								<td title="{{column}}">{{ value }}</td>
							{% endfor %}
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
		<div class="controls">
			<button type="submit" class="button">{{ __('Remove selected sign-ups') }}</button>
		</div>
	</form>
</div>
{% endblock %}