{% extends '@layout/layout.twig' %}

{% block title __('Inschrijfformulieren') ~ ' :: ' ~ parent() %}

{% block content %}
<div class="pageheading">
	<div class="controls inline">
		{% if user_can_create controller.new_form %}
			<a href="{{ controller.link({'view': 'create_form'}) }}" class="create-link">{{ __('Nieuw inschrijfformulier') }}</a>
		{% endif %}
	</div>
	<h1>{{ __('Inschrijfformulieren') }}</h1>
</div>

<div class="messageBox">
	<table class="full-width-table">
		<thead>
			<tr>
				<th>Form</th>
				<th>Sign-ups</th>
			</tr>
		</thead>
		<tbody>
			{% for form in forms %}
				<tr>
					<td><a href="{{ controller.link({'view': 'list_entries', 'form': form.id}) }}">{{ form.description }}</a></td>
					<td>{{ form.signup_count }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}