{% extends 'tab.twig' %}

{% set active_tab = 'privacy' %}

{% block tab_content %}
<article>
	{{ form_start(form, {action: url('profile', {'view': 'privacy', 'lid': iter.id}), attr: {'data-auto-submit': true}}) }}
		<div class="profile-field">
			<div class="field-body">
				<h2 class="title is-4">{{ __('Privacy settings') }}</h2>
			</div>
		</div>
		<div class="profile-field">
			<div class="field-body content">
				<p>{{ __('Modify your privacy preferences to indicate who can see what info.') }}</p>
				<p hidden data-auto-submit-visible>{{ __('Changes become effective immediately.') }}</p>
			</div>
		</div>

		{# Global errors #}
		{{ form_errors(form) }}
			
		{% for child in form -%}
			{% if not child.rendered and child.vars.name not in ['_token', 'submit'] %}
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						{{- form_label(child) -}}
					</div>
					<div class="field-body">
						<div class="field is-expanded">
							<div class="control">
								{{- form_widget(child) -}}
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		{%- endfor -%}

		<div class="profile-field" data-auto-submit-hidden>
			<div class="field-body">
				{{ form_widget(form.submit, {'label': __('Save'), 'attr': {'data-auto-submit-hidden': true}}) }}
			</div>
		</div>
	{{ form_end(form) }}
</article>
{% endblock %}