{% extends 'tab.twig' %}

{% from '@theme/profile/macros.twig' import profile_field %}

{% set active_tab = 'profile' %}

{% block tab_content %}
<section class="block">
	{{ form_start(profile_form, {action: path('profile', {'view': 'profile', 'lid': iter.id})}) }}
		<div class="profile-field">
			<div class="field-body">
				<h2 class="title is-4">{{ __('Profile Information') }}</h2>
			</div>
		</div>
		<div class="profile-field">
			<div class="field-body">
				<p>{{ __('Your profile details are used to give your profile page a personal touch.') }}</p>
				{# Global errors #}
				{{ form_errors(profile_form) }}
			</div>
		</div>
		{{ profile_field(profile_form.nick, {mark_required: true}) }}
		{{ profile_field(profile_form.avatar, {mark_required: true}) }}
		{{ profile_field(profile_form.homepage, {mark_required: true}) }}
		<div class="profile-field">
			<div class="field-body">
				{{ form_widget(profile_form.submit, {label: __('Save'), color: 'default'}) }}
			</div>
		</div>
	{{ form_end(profile_form) }}
</section>

<section class="block">
	{{ form_start(photo_form, {action: path('profile', {view: 'photo', lid: iter.id}), attr: {'data-auto-submit': true, 'data-use-native-submit': true}}) }}
		<div class="profile-field">
			<div class="field-body">
				<h2 class="title is-4">{{ __('Change Photo') }}</h2>
			</div>
		</div>
		<div class="profile-field">
			<div class="field-body">
				<p>{{ __('Your photo is not only used on this website, but also in the yearbook. You want to use a more recent photo? Send in the best version you have! Submissions are processed by hand, so it might take a while for the new photo to show up.') }}</p>
			</div>
		</div>
		<div class="profile-field">
			<div class="field-body">
				{{ form_widget(photo_form.photo, {attr: {title: __('Only JPEG images are allowed.')}}) }}
				{# Global errors, there's only one field so they can be rendered here #}
				{{ form_errors(photo_form) }}
				{{ form_errors(photo_form.photo) }}
				{{ form_help(photo_form.photo) }}
			</div>
		</div>
		<div class="profile-field" data-auto-submit-hidden>
			<div class="field-body">
				{{ form_widget(photo_form.submit, {'label': __('Change Photo'), 'attr': {'data-auto-submit-hidden': true}}) }}
			</div>
		</div>
	{{ form_end(photo_form) }}
</section>

<section class="block">
	{{ form_start(password_form, {action: path('profile', {'view': 'profile', 'lid': iter.id})}) }}
		<div class="profile-field">
			<div class="field-body">
				<h2 class="title is-4">{{ __('Change Password') }}</h2>
				{# Global errors #}
				{{ form_errors(password_form) }}
			</div>
		</div>
		{{ profile_field(password_form.current) }}
		{{ profile_field(password_form.password.first) }}
		{{ profile_field(password_form.password.second) }}
		<div class="profile-field">
			<div class="field-body">
				{{ form_widget(password_form.submit, {label: __('Change password'), color: 'default'}) }}
			</div>
		</div>
	{{ form_end(password_form) }}
</section>
{% endblock %}
